mixin bannerSection(data)
	.banner-section.--red&attributes(attributes)
		._container.container
			._row.row
				._img.col-3.col-sm-12
					+webp("images/banner-user.png")
				._info.col-9.col-sm-12
					._title.title-h2 А как всё начиналось?
					._text
						p Чуть более 20 лет назад отечественный оконный рынок находился во власти иностранных, в основном немецких, производителей, которые в условиях большого спроса чувствовали себя здесь очень комфортно и постепенно начинали переводить свои производства на российские просторы. Отечественные производители только начинали появляться, но, конечно, даже близко не могли конкурировать с лидерами рынка. При огромных темпах роста иностранных компаний было сложно предположить, что российские профили когда-нибудь смогут, если не потеснить их, то хотя бы составить достойную конкуренцию.
						p Переломным моментом можно считать 2004 год, когда на рынок вышла молодая, яркая компания BRUSBOX с четкой и ясной миссией – дать рынку качественный профиль по доступной цене. Даже в само название бренда учредители  заложили эту идею. BRUSBOX или BEST RUSSIAN BOX – «лучшая русская рама» – отечественный продукт высокого качества, созданный в России и для России. Мы верим, что сильная энергетика имени сыграла не последнюю роль в успешном развитии бренда.

mixin bannerImg(data)
	.banner-section.--img&attributes(attributes)
		picture
			if data.imgSm
				source(media="(max-width: 770px)" srcset=data.imgSm)
			if data.imgXs
				source(media="(max-width: 450px)" srcset=data.imgXs)
			img(src=data.img, alt="")

mixin bannerSectionImg(data)
	.banner-section.--img-mode&attributes(attributes)
		._img
			+webp(data.img)
		._info
			h3._title
				!=data.title
			._text
				!=data.text

mixin bannerSectionBtn(data)
	.banner-section.--img-mode.--btn&attributes(attributes)
		._img
			+webp(data.img)
		._container.container.container--sm
			._info
				if data.title
					._title
						!=data.title
				._text
					!=data.text
				if data.btn
					._button
						a(href="#").btn.-border.-white
							!=data.btn