.btn {
	background: $btn-red;
	font: 400 16px/16px $baseFF;
	padding: 10px 24px;
	color: $white;
	text-align: center;
	display: inline-block;
	vertical-align: top;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	border-radius: 30px;
	border: none;

	svg {
		fill: $white;
		@include time();
	}

	&:hover,
	&:active {
		background: $btn-hover;
		color: $white;
		svg {
			fill: $white;
		}
	}

	&:focus {
		outline: none;
	}

	&--red {
	}

	&--disabled,
	&:disabled,
	&[disabled],
	&:disabled:focus {
		/* background: $icon-bg-directory;
		border-color: $icon-bg-directory;
		color: $blue-dark; */
		opacity: 0.4;
		pointer-events: none;
	}

	&--opacity {
		opacity: 0.3;
	}

	&--icon {
		@include flex(0, center, center, nowrap);
		display: inline-flex;
		padding-left: 16px;
		padding-right: 16px;
		svg {
			font-size: 20px;
			//fill: $green;
			margin-right: 6px;
			flex: 0 0 auto;
		}
		span {
			flex: 1 1 auto;
			text-align: center;
		}
		span + svg {
			margin: 0 0 0 6px;
		}
	}
	/* &--sm {
		padding: 5px 16px;
		font: 500 14px/26px $baseFF;
	} */

	@include media($lg) {
	}

	@include media($md) {
	}

	@include media($sm) {
	}

	@include media($xs) {
		font: $button-xs;
		line-height: 24px;
		padding: 5px 20px;

		&--only-icon {
			padding: 0;
		}

		&--lg {
			padding-left: 46px;
			padding-right: 46px;
		}
		&--sm {
			padding: 10px 16px;
		}

		&--link {
			padding: 0;
		}
		&--block {
			width: 100%;
			padding-left: 10px;
			padding-right: 10px;
		}
	}
}
