.btn {
	background: $btn-red;
	font: 400 18px/25px $baseFF;
	padding: 7px 24px;
	color: $white;
	display: block;
	text-align: center;
	display: inline-block;
	vertical-align: top;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	border-radius: 30px;
	border: none;

	@include media($xs) {
		font: 400 12px/13px $baseFF;
		padding: 10px 24px;
	}

	svg {
		fill: $white;
		@include time();
	}

	&:hover,
	&:active {
		background: $btn-hover;
		color: $white;
		svg {
			fill: $white;
		}
	}

	&:focus {
		outline: none;
	}

	&--border {
		background: transparent;
		border: 2px solid $btn-red;
		color: $btn-red;
		transition: all 0.3s;

		&:hover,
		&:active {
			transition: all 0.3s;
			background: $btn-red;
			color: $white;
		}
	}

	&--white {
		border-color: $white;
		color: $white;
	}

	&--disabled,
	&:disabled,
	&[disabled],
	&:disabled:focus {
		/* background: $icon-bg-directory;
		border-color: $icon-bg-directory;
		color: $blue-dark; */
		opacity: 0.4;
		pointer-events: none;
	}

	&--opacity {
		opacity: 0.3;
	}

	&--icon {
		@include flex(0, center, center, nowrap);
		display: inline-flex;
		padding-left: 16px;
		padding-right: 16px;
		svg {
			font-size: 20px;
			//fill: $green;
			margin-right: 6px;
			flex: 0 0 auto;
		}
		span {
			flex: 1 1 auto;
			text-align: center;
		}
		span + svg {
			margin: 0 0 0 6px;
		}
	}
	/* &--sm {
		padding: 5px 16px;
		font: 500 14px/26px $baseFF;
	} */
}
