.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon_arrow-left {
  font-size:(6/10)*1rem;
  width:(6/6)*1em;
}
.icon_breadcrumb {
  font-size:(8/10)*1rem;
  width:(7/8)*1em;
}
.icon_copy {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon_copy-2 {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon_eye {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon_facebook {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon_instagram {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon_like {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon_marker {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon_odnoklassniki {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon_phone {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon_question {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon_search {
  font-size:(18/10)*1rem;
  width:(18/18)*1em;
}
.icon_telegram {
  font-size:(15/10)*1rem;
  width:(18/15)*1em;
}
.icon_twitter {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon_user {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon_vk {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon_whatsapp {
  font-size:(18/10)*1rem;
  width:(18/18)*1em;
}
.icon_youtube {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
