// $title-h1: 100 98px/100px $titleFF;
$title-h1: 300 64px/61px $titleFF;
$title-h2: 300 56px/51px $titleFF;
$title-h2-3: 600 28px/1.2 $titleFF;
$title-h2-3-sm: 600 22px/1.2 $titleFF;
$title-h2-3-xs: 600 18px/1.2 $titleFF;
$title-h3: 300 56px/51px $baseFF;
$title-h3-4: 600 20px/1.2 $baseFF;
$title-h4: 300 28px/30px $baseFF;
$title-h5: 300 36px/36px $titleFF;
// $title-h5: 600 14px/1.2 $titleFF;
$title-h6: 600 12px/1.2 $baseFF;

$title-h1-lg: 100 78px/85px $titleFF; // ?
$title-h2-lg: 100 60px/60px $titleFF;
$title-h3-lg: 600 16px/1.2 $baseFF;
$title-h4-lg: 300 32px/32px $baseFF; // ?
$title-h5-lg: 600 16px/1.4 $titleFF; // ?

$title-h1-sm: 300 34px/45px $titleFF;
$title-h2-sm: 100 26px/26px $titleFF;
$title-h3-sm: bold 18px/1.2 $baseFF;
$title-h4-sm: 300 18px/22px $baseFF;
$title-h5-sm: 600 16px/1.2 $titleFF; // ?

$title-h1-xs: 300 26px/26px $titleFF;
$title-h2-xs: 100 24px/24px $titleFF;
$title-h3-xs: 600 14px/1.2 $baseFF;
$title-h4-xs: 300 16px/16px $baseFF;
$title-h5-xs: 600 12px/1.2 $titleFF;

$title-color: inherit;

h1,
.title-h1 {
	font: $title-h1;
	text-transform: uppercase;
	letter-spacing: 0.02em;
	//color: $title-color;
	margin: 0 0 16px 0;
	@include media($md) {
		font: $title-h1-lg;
	}
	@include media($sm) {
		font: $title-h1-sm;
	}
	@include media($xs) {
		margin-bottom: 8px;
	}
	@include media($xxs) {
		font: $title-h1-xs;
	}
}
h2,
.title-h2 {
	font: $title-h2;
	//color: $title-color;
	margin: 0 0 24px 0;

	@include media($md) {
		font: $title-h2-lg;
	}
	@include media($sm) {
		font: $title-h2-sm;
	}
	@include media($xs) {
		font: $title-h2-xs;
	}
}
h3,
.title-h3 {
	font: $title-h3;
	//color: $title-color;
	margin: 0 0 16px 0;

	@include media($lg) {
		font: $title-h3-lg;
	}
	@include media($sm) {
		font: $title-h3-sm;
	}
	@include media($xs) {
		font: $title-h3-xs;
	}
}
h4,
.title-h4 {
	font: $title-h4;
	//color: $title-color;
	margin: 0 0 16px 0;

	@include media($lg) {
		font: $title-h4-lg;
	}
	@include media($sm) {
		font: $title-h4-sm;
	}
	@include media($xs) {
		font: $title-h4-xs;
	}
}
h5,
.title-h5 {
	font: $title-h5;
	//color: $title-color;
	margin: 0 0 16px 0;

	@include media($lg) {
		//font: $title-h5-lg;
	}
	@include media($sm) {
		//font: $title-h5-sm;
	}
	@include media($xs) {
		font: $title-h5-xs;
	}
}

.title-h6 {
	font: $title-h6;
	//color: $title-color;
	margin: 0 0 16px 0;

	@include media($lg) {
		//font: $title-h5-lg;
	}
	@include media($sm) {
		//font: $title-h5-sm;
	}
	@include media($xs) {
		//font: $title-h5-xs;
	}
}
