.dilers-designers-section{
    &__document &{
        padding: 120px 0;
        &__title{
            margin-bottom: 40px;
            text-align: center;
        }
    }
    &__document{
        padding: 120px 0;
    }
}