.advantages-section {
	background-color: $bg-grey;
	padding: 60px 0;

	@include media($md) {
		padding: 40px 0;
	}

	@include media($xs) {
		padding: 16px 0;
	}

	&__items {
		background-color: $bg-grey;
		@include flex(0, center, center, nowrap);

		@include media($sm) {
			flex-wrap: wrap;
		}
	}

	&__item {
		@include media($sm) {
			max-width: 688px;
			margin: 0 auto 40px;
			&:last-child {
				margin-bottom: 0;
			}
		}

		@include media($xs) {
			margin: 0 auto 16px;
			&:last-child {
				margin-bottom: 0;
			}
		}

		&-img {
			margin-bottom: 16px;
			display: block;
			object-fit: cover;

			@include media($sm) {
				margin-bottom: 12px;
				img {
					width: 100%;
					object-fit: cover;
					max-height: 688px;
					height: 100%;
				}
			}

			@include media($xs) {
				margin-bottom: 4px;
			}
		}
	}

	&--mini-img & {
		&__items {
			align-items: flex-start;
			justify-content: space-between;
		}

		&__text {
			max-width: 405px;
		}
	}

	&--padding-big {
		padding: 120px 0;
	}

	&--dilers & {
		&__title {
			margin-bottom: 40px;
		}
		&__item {
			margin-bottom: 36px;
		}

		&__item {
			&-img {
				margin-bottom: 14.5px;
			}

			span {
				color: #999999;
			}
		}

		&__item:nth-child(6) {
			margin-bottom: 0px;
		}
	}
}
