mixin advantagesSection(data)
	.advantages-section&attributes(attributes)
		._container.container
			._items.row
				._item.col-4.col-sm-12
					._item-img
						+webp("images/advantage-1.jpg")
					._item-title Качество и надёжность
				._item.col-4.col-sm-12
					._item-img
						+webp("images/advantage-2.jpg")
					._item-title 27 видов ламинации под дерево
				._item.col-4.col-sm-12
					._item-img
						+webp("images/advantage-3.jpg")
					._item-title Морозостойкость и светопрозрачность

mixin advantagesSectionMini(data)
	.advantages-section.--mini-img&attributes(attributes)
		._container.container
			._row.row
				._item.col-3.col-sm-6.col-xs-12
					._item-img
						+webp(data.img)
					._item
						._text
							!=data.text
				._item.col-3.col-sm-6.col-xs-12
					._item-img
						+webp(data.img2)
					._item
						._text
							!=data.text2
				._item.col-3.col-sm-6.col-xs-12
					._item-img
						+webp(data.img3)
					._item
						._text
							!=data.text3
				._item.col-3.col-sm-6.col-xs-12
					._item-img
						+webp(data.img4)
					._item
						._text
							!=data.text4

mixin advantagesSectionImg(data)
	.advantages-section.--dilers&attributes(attributes)
		._container.container.container--text
			h2.__title BRUSBOX — территория свободы <br> для вашего творчества
		._container.container
			._row.row
				._item.col-8.col-sm-6.col-xs-12
					._item-img
						+webp(data.img)
					h4._item-text
						!=data.text
				._item.col-4.col-sm-6.col-xs-12
					._item-img
						+webp(data.img2)
					h4._item-text
						!=data.text2
				._item.col-5.col-sm-6.col-xs-12
					._item-img
						+webp(data.img3)
					h4._item-text
						!=data.text3
				._item.col-3.col-sm-6.col-xs-12
					._item-img
						+webp(data.img4)
					h4._item-text
						!=data.text4
				._item.col-4.col-sm-6.col-xs-12
					._item-img
						+webp(data.img5)
					h4._item-text
						!=data.text5
				._item.col-4.col-sm-6.col-xs-12
					._item-img
						+webp(data.img6)
					h4._item-text
						!=data.text6
				._item.col-8.col-sm-12
					._item-img
						+webp(data.img7)
					h4._item-text
						!=data.text7