mixin advantagesSection(data)
	.advantages-section&attributes(attributes)
		._container.container
			._items.row
				._item.col-4
					._item-img
						img(src="images/advantage-1.jpg", alt="")
					._item-title Качество и надёжность
				._item.col-4
					._item-img
						img(src="images/advantage-2.jpg", alt="")
					._item-title 27 видов ламинации под дерево
				._item.col-4
					._item-img
						img(src="images/advantage-3.jpg", alt="")
					._item-title Морозостойкость и светопрозрачность