
mixin pagination(data)
  .pagination&attributes(attributes)
      a(href="#")._prev Предыдущая 
      ._values
        ._value 1
        ._value.is-active 2
        ._value 3
      a(href="#")._next Следующая