mixin objectBlock(data)
	.object-block&attributes(attributes)
		._slider.js-slider-object
			each slide in data.slides
				._slide
					img(src=slide.img, alt="")._img
		._info
			h4._title
				!=data.title
			._text
				!=data.text
			._date
				!=data.date