mixin optionsBlock(data)
	.options-block&attributes(attributes)
		._item
			._item-title Профиль
			._item-option
				span BRUSBOX ACLASS
				+svg('question')._item-icon
		._item
			._item-title Количество камер
			._item-option
				span 7/6
				+svg('question').options-block__item-icon
		._item
			._item-title Ширина профиля
			._item-option
				span 60 мм
				+svg('question').options-block__item-icon
		._item
			._item-title Количество контуров уплотнения
			._item-option
				span 3
				+svg('question').options-block__item-icon
		._item
			._item-title Стеклопакет
			._item-option
				span Двукамерный
				+svg('question').options-block__item-icon
		._item
			._item-title Детская безопасность
			._item-option
				span Детский замок и триплекс
				+svg('question').options-block__item-icon