.select-window-section {

	background: linear-gradient(181.06deg, #FFFFFF 5.07%, #F0F0F0 81.78%, rgba(255, 255, 255, 0) 99.17%);
	padding: 112px 0;

	@include media($md) {
		padding: 40px 0 108px;
	
	}

	@include media($sm) {
		padding: 40px 0 60px;
	
	}

	@include media($xs) {
		padding: 24px 0 16px;
	
	}
	
	&__row {

	}
	&__left {
	}
	&__title {
		margin-bottom: 40px;
	}
	&__right {
	}
	&__form {
	}
}
