.action-block {
	position: relative;

	&__link {
		display: block;
		z-index: 5;
		transition: all 0.3s;
		margin-bottom: 0;
		&:hover {
			transition: all 0.3s;
			.action-block__title,
			.action-block__text {
				transition: all 0.3s;
				color: $btn-red;
			}

			border-bottom: 2px solid  $btn-red;
			margin-bottom: -2px;
		}
	}

	&__head {
		background-color: $btn-red;
		padding: 10px 20px;
		color: $white;
	}

	&__title {
		font: 300 28px/30px $baseFF;
		margin-bottom: 8px;
	}

	&__text {
	}

	&__img {
		margin-bottom: 24px;

		img {
			display: block;
			object-fit: cover;
		}
	}

	&--mode {
		padding-bottom: 16px;
	}
	&--mode & {
		&__img {
			margin-bottom: 12px;
		}
		&__date {
			color: $medium-gray;
			margin-bottom: 8px;
		}
	}
}
