mixin textBlock(data)
	.text-block&attributes(attributes)
		._container.container.container--sm
			._title
				!=data.title
			._text
				!=data.text

mixin textBlockPadding(data)
	.text-block.--padding-sm&attributes(attributes)
		._container.container.container--sm
			._title
				!=data.title
			._text
				!=data.text

mixin textBlockNumerical(data)
	.text-block--numerical&attributes(attributes)
		._container.container.container--sm
			h6._number
				!=data.number
			._text
				!=data.text