mixin offerBlock(data)
	.offer-block&attributes(attributes)
		._row
			._img
				img(src=data.img, alt="")
			._about
				._info
					._title
						!=data.title
					._subtitle
						!=data.subtitle
				._button
					a(href="#").btn.-border Подробнее о BRUSBOX ACLASS