.documentation-block {
	&__row {
		@include flex(0,center,center,0);
		padding: 40px 0 23px;
	}
	&__img {
		margin-right: 62px;
	}
	&__info {
		color: $white;
	}
	&__title {
		margin-bottom: 16px;
	}
	&__params {
	}
	&__param {
		@include flex(0,center,center,0);
		margin-bottom: 8px;

		&:last-child {
			margin-bottom: 0;
		}
		&-value {
			color: $medium-gray;
			margin-left: 6px
		}
		&-icon {
			@include flex(center,center,center,0);
			width: 40px;
			height: 40px;
			background-color: $dark-grey;
			border-radius: 50%;
			margin-left: 6px;

			svg {
				min-height: 17px;
				min-width: 17px;
				max-width: 17px;
				max-height: 17px;
				stroke: $btn-red;
			}
		}
	}

	&--border-bottom & {
		&__row {
			border-bottom: 1px solid $white;
		}
	}

	&--white & {
		&__info {
			color: $black;
		}
	}

	&--two-img & {
		&__row {
			padding: 30px 0;
			border-bottom: 1px solid $bb-gray;
		}
		&__imgs {
			max-width: 500px;
			width: 100%;
			@include flex();
			flex-wrap: nowrap;
			margin-right: 60px;

			img {
				display: block;
			}
		}
		&__info {
			min-height: 250px;
			@include flex(space-between,0,0,0,column);
		}
	}

	&--border-top & {
		&__row {
			border-top: 1px solid $bb-gray;
			border-bottom: none;
		}
	}

}
