mixin documentationBlock(data)
	.documentation-block&attributes(attributes)
		._row
			._img
				+webp(data.img)
			._info
				h5._title
					!=data.title
				._params
					each params in data.params
						._param
							span
								!=params.param
							span._param-value
								!=params.value
							a(href="#")._param-icon
								+svg('download')

mixin documentationBlockTwoImg(data)
	.documentation-block.--two-img&attributes(attributes)
		._row
			._imgs
				+webp(data.img1)._img
				+webp(data.img2)._img
			._info
				._text
					h5._title
						!=data.title
					._subtitle
						!=data.subtitle
				._button
					a(href="#").btn.-border.-red
						!=data.btn