extends extends/base.pug
append vars
	- var pageUrl = 'about-company.html';
	- var pageTitle = 'О компании';
block styles
	
block content
	include ../components/head-section/template
	include ../components/text-section/template
	include ../components/text-block/template
	include ../components/info-section/template

	.about-company
		+headSection({
			bread: [{url: '#', title: 'Покупателям'},{url: '#', title: 'О компании'},{url: '#', title: 'История'}],
			title: "О компании",
			img: "images/main-bg-about-company.jpg",
		})
		
		.about-company-section
			+textSection({
				text: '<p>Компания «БРУСБОКС» основана в 2004 году. Сегодня это один из крупнейших производителей ПВХ-профиля и подоконной доски в России.<br> Среди отечественных производителей «БРУСБОКС» является компанией №1 по производству и объемам продаж.</p>',
				btn: 'История компании'
			}).text-section--text-center.text-section--center-btn.text-section--long-2

		.about-company-section
			+infoSection({
						img: 'images/about-company-1.jpg',
						title: 'Наша миссия',
						text: '<p>Мы создаем высококачественный профиль для Ваших окон, гордясь тем, <br> что делаем Вашу жизнь светлее и комфортнее.<br> Мы работаем, чтобы развивалась наша страна и партнеры, повышалось <br> благополучие предприятия и сотрудников. <br> <br> «БРУСБОКС» — это МЫ!</p>'
					}).info-section--gray.info-section--row-revers.info-section--title-size

		.about-company-section
			+textSection({
					text: '<p>BRUSBOX — это принципиально новая разработка, качественный ПВХ-профиль, созданный на основе уникального комплекса передовых технологий и собственного практического опыта производства металлопластиковых окон.</p>',
				}).text-section--text-center.text-section--long-3

		.about-company-section--gray
			._container.container
				._info
					+textBlockNumerical({
						number: '50 000',
						text: 'м² собственного производства'
					})
					+textBlockNumerical({
						number: '40 000',
						text: 'тонн в год — объём производства'
					})
					+textBlockNumerical({
						number: '18 лет',
						text: 'на рынке'
					})
					+textBlockNumerical({
						number: '120 000',
						text: 'км оконного профиля ежегодно'
					})

		include ../components/banner-section/template
		.about-company-section
			+bannerImg({
			img:"images/banner-about-company.jpg"
				}).banner-section--big-banner

		.about-company-section
			+textSection({
				text: '<p>Профилем BRUSBOX, который производится за год, <br> можно было бы обернуть землю по экватору в 1,5 оборота</p>',
			}).text-section--text-center.text-section--small

		.about-company-section
			+infoSectionSliderImg({
				img: "images/about-company-slider-1.jpg",
				text: '«БРУСБОКС» предлагает наиболее полную, экономически выгодную систему <br> ПВХ-профилей и комплектующих для производства светопрозрачных конструкций. Потребитель может подобрать нужную систему по множеству параметров,<br> в зависимости от типа и назначения объекта остекления',
				img2: "images/about-company-slider-2.jpg",
				text2: 'Профили BRUSBOX могут применяться в любых климатических зонах влажности: сухой, нормальной, влажной. Устанавливать оконные системы BRUSBOX можно  даже в самых суровых климатических зонах со среднемесячной январской температурой ниже -20°C',
				img3: "images/about-company-slider-3.jpg",
				text3: 'BRUSBOX можно приобрести практически в любом цвете! Компания обладает собственной ламинационной линией и успешно ламинирует профиль в 96 цветов, используя самую качественную немецкую пленку фирмы «RENOLIT»',
				img4: "images/about-company-slider-4.jpg",
				text4: '24% от общего оборота компании приходится на экспорт. Сегодня профиль BRUSBOX можно приобрести не только в России, но и в 8-ми странах мира: в Румынии,<br> в Республиках Беларусь, Казахстан, Таджикистан, Кыргызстан, Молдова, в Монголии <br> и Армении. Обширная дилерская сеть позволяет переработчикам и клиентам существенно сократить транспортные и накладные расходы.',
				img5: "images/about-company-slider-5.jpg",
				text5: 'И о главном! Оконные системы BRUSBOX – продукт долговечный и надежный. <br> Первые окна из профиля BRUSBOX, произведенные ещё в 2004 году,<br> радуют их владельцев по сей день.',
				})
		.about-company-section
			+infoSectionAboutCompany
	//- +gridLayout()

block scripts 
