extends extends/base.pug
append vars
	- var pageUrl = 'news.html';
	- var pageTitle = 'Статья';
	- var classBody = 'article';
block styles
	
block content
	include ../components/action-block/template
	include ../components/main-section/template

	+mainSectionMode({
		bread: [{url: '#', title: 'Покупателям'},{url: '#', title: 'Статьи'},{url: '#', title: '12 советов о том, как выбрать пластиковые окна, сэкономить деньги и нервы'}],
		title: "12 советов о том, как выбрать пластиковые окна,<br> сэкономить деньги и нервы",
		date: "Пластиковые окна | Частный загородный дом",
		img: "images/main-bg-article.jpg"
	}).main-section--one-news.main-section--gap-bottom.main-section--article
	
		include ../components/article-creator-block/template
		+articleCreatorBlock().main-section__creator-article

		include ../components/question-block/template
		.main-section__container.container.container--full
			+questionBlock({
				title: "Окна в деревянном доме: варианты",
				text: "В принципе, в деревянном доме можно устанавливать окна любой конструкции и из любых материалов: деревянные, пластиковые, алюминиевые. Это вопрос целесообразности, эстетики и имеющихся у хозяина возможностей. На практике чаще всего используются светопрозрачные конструкции из дерева и из ПВХ-профиля.",
				img: "images/question-5.jpg"
			}).question-block--row-revers.question-block--text-sm

		.main-section__container.container.container--sm.container--padding.container--text
			.main-section__info
				.main-section__text.main-section__text--row.row
					p.main-section__info-col-left.col-6 В последнюю неделю марта в Москве прошла крупнейшая международная строительная выставка MOSBUILD. «БРУСБОКС», как и большинство оконных компаний, принявших решение об участии в выставке только по нечетным годам, не экспонировалась в 2022 году. Однако, это не повод не встретиться с любимыми партнерами в период выставки. Поэтому 30 марта в центре столицы компания «БРУСБОКС» организовала вечерний прием для своих дилеров и переработчиков. <br>Около 70 представителей компаний из России, Беларуси, Армении и Таджикистана встретились в уютном ресторане, чтобы в неформальной обстановке обсудить планы на будущее, обозначить перспективы развития и просто приятно провести вечер. <br>Основной задачей компании Артак Сарибекович обозначил обеспечение стопроцентной, плановой загрузки производственных  
					p.main-section__info-col-right.col-6 мощностей «БРУСБОКС» за счет бесперебойной поставки сырьевых компонентов в необходимом объеме и должного качества. <br> При этом Артак Сарибекович отметил, что в наше непростое и крайне турбулентное время нельзя не просчитывать варианты негативного развития событий, чтобы быть готовыми к любым форс-мажорам. «Мы не все можем предотвратить, но, по крайней мере, в наших силах сделать все необходимое для снижения рисков возникновения негативного сценария за счет укрепления существующих отношений с действующими поставщиками, а также формирования полноценных альтернатив в разрезе поставок. Этим мы в последний месяц сосредоточенно и основательно занимаемся на всех уровнях управления компанией «БРУСБОКС».
		
		include ../components/advantages-section/template
		+advantagesSection()

		.main-section__container.container.container--sm.container--text
			.main-section__info
				.main-section__text
					p В последнюю неделю марта в Москве прошла крупнейшая международная строительная выставка MOSBUILD. «БРУСБОКС», как и большинство оконных компаний, принявших решение об участии в выставке только по нечетным годам, не экспонировалась в 2022 году. Однако, это не повод не встретиться с любимыми партнерами в период выставки. Поэтому 30 марта в центре столицы компания «БРУСБОКС» организовала вечерний прием для своих дилеров и переработчиков.
					p Около 70 представителей компаний из России, Беларуси, Армении и Таджикистана встретились в уютном ресторане, чтобы в неформальной обстановке обсудить планы на будущее, обозначить перспективы развития и просто приятно провести вечер.

				h4.main-section__info-title Преимущества окон с рамами, изготовленными из поливинилхлорида:
				ul.main-section__info-list
					li ПВХ-профиль долговечен, не гниёт, не ржавеет, не разрушается на солнце;
					li за пластиковыми окнами легко ухаживать: протереть тряпочкой рамы, 1-2 раза в год смазать механизм фурнитуры капелькой машинного масла;
					li хорошая тепло- и звукоизоляция;
					li пожаробезопасность: пластик не поддерживает горение, при высоких температурах плавится;
					li большой выбор вариантов отделки: десятки видов ламинации, имитирующей рисунок и текстуру древесины самых разных пород;
					li окна изготавливаются по размерам заказчика;
					li большой выбор декоративных элементов (ручек, шпросов, импостов) и дополнительных аксессуаров (противосолнечных жалюзи и т. п);
					li возможность выбрать остекление в зависимости от конкретных задач: тонированное, ударопрочное, с повышенной звуко- и теплозащитой и т. п.
		.main-section__container.container.container--full
			include ../components/banner-section/template
			+bannerImg({
				img:"images/banner-full-3.jpg"
			})

		.main-section__container.container.container--sm.container--padding.container--text
			.main-section__info
				.main-section__text.main-section__text--row.row
					.main-section__info-col-left.col-6 
						p В последнюю неделю марта в Москве прошла крупнейшая международная строительная выставка MOSBUILD. «БРУСБОКС», как и большинство оконных компаний, принявших решение об участии в выставке только по нечетным годам, не экспонировалась в 2022 году. Однако, это не повод не встретиться с любимыми партнерами в период выставки. Поэтому 30 марта в центре столицы компания «БРУСБОКС» организовала вечерний прием для своих дилеров и переработчиков.
						p Около 70 представителей компаний из России, Беларуси, Армении и Таджикистана встретились в уютном ресторане, чтобы в неформальной обстановке обсудить планы на будущее, обозначить перспективы развития и просто приятно провести вечер. 
						p С речью к собравшимся выступил Генеральный директор ООО «БРУСБОКС» Артак Сарибекович Мелконян.
					.main-section__info-col-right.col-6
						p Основной задачей компании Артак Сарибекович обозначил обеспечение стопроцентной, плановой загрузки производственных мощностей «БРУСБОКС» за счет бесперебойной поставки сырьевых компонентов в необходимом объеме и должного качества. 
						p При этом Артак Сарибекович отметил, что в наше непростое и крайне турбулентное время нельзя не просчитывать варианты негативного развития событий, чтобы быть готовыми к любым форс-мажорам. «Мы не все можем предотвратить, но, по крайней мере, в наших силах сделать все необходимое для снижения рисков возникновения негативного сценария за счет укрепления существующих отношений с действующими поставщиками, а также формирования полноценных альтернатив в разрезе поставок. Этим мы в последний месяц сосредоточенно и основательно занимаемся на всех уровнях управления компанией «БРУСБОКС».
		.main-section__container.container.container--sm.container--text
			.main-section__cart-info
				include ../components/about-cart-block/template
				+aboutCartBlock()
				
				include ../components/cart-subcribe-block/template
				+cartSubcribeBlock()
	
	+gridLayout()

block scripts 
