extends extends/base.pug
append vars
	- var pageUrl = 'articles.html';
	- var pageTitle = 'Статьи';
block styles
	
block content
	include ../components/article-block/template
	include ../components/head-section/template

	.main-section.main-section--actions.main-section--articles
		+headSection({
			bread: [{url: '#', title: 'Покупателям'},{url: '#', title: 'Статьи'}],
			title: "Статьи",
			img: "images/main-bg-articles.jpg"
		})._head
		._container.container.container--text
			._search-row
				include ../components/sort-block/template
				+sortBlock()
				
				include ../components/search-block/template
				+searchBlock({
					placeholder: "Поиск по статьям",
				})
		._container.container
			._items.row
				+articleBlock({
					img: 'images/article-1.jpg',
					title: '12 советов о том, как выбрать пластиковые окна, сэкономить деньги и нервы'
				})._article.col-4

				+articleBlock({
					img: 'images/article-2.jpg',
					title: '12 советов о том, как выбрать пластиковые окна, сэкономить деньги и нервы'
				})._article.col-4

				+articleBlock({
					img: 'images/article-3.jpg',
					title: '12 советов о том, как выбрать пластиковые окна, сэкономить деньги и нервы'
				})._article.col-4

			._items.row
				+articleBlock({
					img: 'images/article-4.jpg',
					title: '12 советов о том, как выбрать пластиковые окна, сэкономить деньги и нервы'
				})._article.col-4

				+articleBlock({
					img: 'images/article-5.jpg',
					title: '12 советов о том, как выбрать пластиковые окна, сэкономить деньги и нервы'
				})._article.col-4

				+articleBlock({
					img: 'images/article-6.jpg',
					title: '12 советов о том, как выбрать пластиковые окна, сэкономить деньги и нервы'
				})._article.col-4
			
			._items.row
				+articleBlock({
					img: 'images/article-7.jpg',
					title: '12 советов о том, как выбрать пластиковые окна, сэкономить деньги и нервы'
				})._article.col-4

				+articleBlock({
					img: 'images/article-8.jpg',
					title: '12 советов о том, как выбрать пластиковые окна, сэкономить деньги и нервы'
				})._article.col-4


			include  ../components/pagination/template
			+pagination()._pagination

		include ../components/contact-section/template
		+contactSectionSubscribeArticles()
		

	//- +gridLayout()

block scripts 
