extends extends/base.pug
append vars
	- var pageUrl = 'buyers-product.html';
	- var pageTitle = 'Главная: Продукт карточка';
block styles

block content
	include ../components/head-section/template
	include ../components/buyers-product-section/template
	include ../components/info-section/template
	include ../components/text-section/template
	include ../components/colors-section/template
	include ../components/contact-section/template
	include ../components/designers-section/template
	include ../components/designers-block/template


	.buyers-product
		+headSection({
			bread: [{url: '#', title: 'Продукция'},{url: '#', title: 'Пластиковые окна'},{url: '#', title: 'Окно BRUSBOX AERO'}],
			title: "Окно BRUSBOX AERO",
			img: "images/main-bg-buyers-product.jpg"
		})
		._container.container.container--sm
			+buyersProductSection().buyers-product-section--main.buyers-product-section--padding-md

		._container.container.container--sm
			+colorsSection()

			h2.buyers-product-section__title--gray Преимущества BRUSBOX ACLASS

		+infoSection({
			img: 'images/buyers-product-1.jpg',
			title: 'Долговечность',
			text: '<p>Профиль BRUSBOX ежегодно проходит испытания в лаборатории контроля качества. Ему не страшна коррозия, гниение, атмосферные осадки, жара, холод и перепады температуры от -50С до +50С. При правильном монтаже окна прослужат максимальный срок службы без каких-либо проблем и нареканий. А гарантия на сам профиль, основу окна, составляет 60 лет! </p>'
		}).info-section--title-size-md.info-section--long-text.info-section--padding-bt-big

		._container.container.container--text
			.buyers-product-section__title
				h2 Использован на объектах:
		+infoSectionSliderImg({
			items: [
				{img: "images/object-2.jpg", title: '«Красная горка»', text: 'ЖК «Жуков» — новый многоквартирный комплекс, расположенный на ул. Новосёлов, 45А. Если рассматривать новостройки в Дашках (Песочне) в Рязани, сегодня это один из самых современных проектов, строящихся в этом районе. Здесь всё предусмотрено для комфортной жизни: от грамотной планировки квартир до развитой инфраструктуры района.', date: "Дата реализации: 10 июня 2022"},
				{img: "images/about-company-slider-2.jpg", text: 'Профили BRUSBOX могут применяться в любых климатических зонах влажности: сухой, нормальной, влажной. Устанавливать оконные системы BRUSBOX можно  даже в самых суровых климатических зонах со среднемесячной январской температурой ниже -20°C'},
				]
		}).info-section--row-revers

		+contactSectionBg()

		.buyers-product-section--padding-top
			._container.container.container--sm
				h2 Другие пластиковые окна BRUSBOX
				+designersSectionCatalogOther()

		+textSection({}).text-section--gray.text-section--long-2
			span Современные окна BRUSBOX Aero — энергоэффективные изделия. Они подходят как для нового строительства, так и для проектов по замене евроокон. Благодаря разнообразию стилей и опций на выбор, модель поможет создать идеальный облик вашего дома, офиса или производственного помещения. <br>
				span Модель «БРУСБОКС» Аэро обладает высоким качеством, доступными ценам и улучшенным техническим показателям. Модификация лидирует в сегменте ПВХ окон. Линейку можно назвать универсальной. 
				span <br> Модель обеспечивает:
			ul
				li надежную защиту от шума;
				li достаточный уровень теплоизоляции;
				li отличную светопропускную способность.
			span Профиль устойчив к загрязнениям благодаря высоким пылеотталкивающим характеристикам. ПВХ материал невосприимчив к морозу, перепадам температур, солнечным лучам. Даже при суровых условиях эксплуатации конструкции не деформируются, не теряют привлекательность. <br>
			span Благодаря трем высокотехнологичным камерам, изделия надежно защищены не только от холода, но и влажности. Небольшой вес окон позволяет проводить быстрый монтаж без ограничений.
		
		+infoSection({
			img: 'images/buyers-product-2.jpg',
			title: '<p> Окна BRUSBOX Aero («БРУСБОКС» Аэро): технические характеристики </p>',
			text: '<p>Линейка относится к классу «B» ввиду толщины стенок — 2,5 мм. <br> Однако по уровню энергоэффективности профиля не уступает аналогичным системам с шириной стенок 3 мм. </p> <span> Серия: </span>  <ul> <li> оснащается тремя камерами; <li> имеет системную глубину изделия 60 мм; <li> обладает сопротивлением теплопередачи Rопр = 0,80 м2°С/Вт. </ul> </p>Универсальные окна «БРУСБОКС» Аэро имеют оптимальное сопротивлением теплопередаче благодаря присутствию подкамер. <br> Профили прочные. Поэтому окна, которые собранные из них, относятся к антивандальным конструкциям, устойчивым к взлому.</p>'
		}).info-section--long-text.info-section--ul.info-section--title-mb

		._gray
			._container.container.container--text
				+textSectionLong({
					title: "Цена на окна BRUSBOX Aero («БРУСБОКС» Аэро) в Москве",
					text: "Пластиковые окна «БРУСБОКС» Аэро можно купить в Москве по стоимости, зависящей от типа конструкции, размера изделия, видов работ. На цену влияет ряд факторов: количество створок, наличие или отсутствия москитной сетки, подоконников, откосов, отливов. На окончательную стоимость влияет цвета уплотнителя, наличие или отсутствие теплопакета, механизма дискретного открывания, многозапорной фурнитуры Roto с обвязкой, ряд других факторов."
				})
			
	//-+gridLayout()

block scripts 
