extends extends/base.pug
append vars
	- var pageUrl = 'diler-page.html';
	- var pageTitle = 'Страница дилера';
block styles
	
block content
	include ../components/head-section/template
	include ../components/select-window-section/template
	include ../components/info-section/template

	include ../components/header/template
	+header2()

	.dilers-page--calculator
		+headSection({
			title: 'Подобрать окно',
			img: 'images/head-bg-calculator.jpg',
			imgSm: 'images/head-bg-calculator-sm.jpg',
			bread: [{url: '#', title: 'Главная'},{url: '#', title: 'Покупателям'},{url: '#', title: 'Подобрать окно'}],
		})._head

		+selectWindowSection()
		
		include ../components/text-section/template
		.dilers-page__title
			+textSectionTitle({
				title: 'Калькулятор'
			}).text-section--black.text-section--padding-top-none

		._container.container
			//- div#app
 
		+infoSectionFormCalculator({
			img: 'images/info-calculator.jpg'
		})

			


	//- +gridLayout()

block scripts 
