extends extends/base.pug
append vars
	- var pageUrl = 'color-solution.html';
	- var pageTitle = 'Дилерам: цветовые решения';
	- var classBody = 'color-solution-page';
	- var headerBg = 'images/main-banner.jpg';
block styles
	
block content
	include ../components/head-section/template

	include ../components/header/template
	+header()

	.main-section.main-section--color-solutions
		+headSection({
			bread: [{url: '#', title: 'Профессионалам рынка'},{url: '#', title: 'Цветовые решения'}],
			title: "Цветовые решения",
			img: "images/main-bg-1.jpg",
			imgXs: "images/main-bg-1-xs.jpg"
		})
		.main-section__container.container.container--sm
			.main-section__info
				.main-section__text.row
					p.col-6.col-sm-12 Профиль доступен в 4 цветах, а также ламинируется в 96 цветов каталога немецкой фирмы «RENOLIT», также компания использует немецкий клей «KLEIBERIT», благодаря которому пленка не отслаивается даже в самых суровых условиях.<br>В настоящее время компания «БРУСБОКС» поставляет на рынок более одного миллиона погонных метров ламинированного профиля.<br>Наша компания уделяет особое внимание процессу ламинации.
					p.col-6.col-sm-12  Профиль ламинируется в специальном ламинационном цеху в соответствии со всеми существующими нормативами.<br>В дополнение к основному белому цвету были дополнительно разработаны три цветных профиля в массе: «шоколад», «карамель» и «серый».<br>Срок от заказа до отгрузки стандартной цветовой палитры ламинации составляет не более 3 дней!

			include ../components/colors-section/template
			+colorsSection()

		include ../components/contact-section/template
		+contactSection()


	//-+gridLayout()

block scripts 
