extends extends/base.pug
append vars
	- var pageUrl = 'dilers-list.html';
	- var pageTitle = 'Список дилеров';
block styles
	
block content
	include ../components/head-section/template
	include ../components/dilers-block/template
	//-include ../components/question-block/template

	.dilers-page
		+headSection({
			bread: [{url: '#', title: 'Покупателям'},{url: '#', title: 'Дилеры списком'}],
			title: "Офисы продаж пластиковых окон<br> в Нижнем Новгороде",
			img: "images/main-bg-dilers-list.jpg",
			btn: "Изменить город"
		})
		._container.container
			._links
				a(href="")._link на карте
				a(href="")._link.is-active списком
			._row.row
				+dilersBlock({
					title: "Окна в дом",
					location: "Деревня Внуково, ул Минская, д 144",
					email: 'oknavdom@mail.com',
					tel1: '+7 (495) 736-67-81',
					tel2: '+7 (495) 736-67-82'
				})._col.col-4

				+dilersBlock2({
					title: "Окна в дом",
					location: "Деревня Внуково, ул Минская, д 144",
					email: 'oknavdom@mail.com',
					website: "oknavdom.ru",
					tel1: '+7 (495) 736-67-81',
					tel2: '+7 (495) 736-67-82'
				})._col.col-4

				+dilersBlock3({
					title: "Окна в дом",
					location: "Деревня Внуково, ул Минская, д 144",
					email: 'oknavdom@mail.com',
					website: "oknavdom.ru",
					tel1: '+7 (495) 736-67-81'
				})._col.col-4
			
			._row.row
				+dilersBlock2({
					title: "Окна в дом",
					location: "Деревня Внуково, ул Минская, д 144",
					email: 'oknavdom@mail.com',
					website: "oknavdom.ru",
					tel1: '+7 (495) 736-67-81',
					tel2: '+7 (495) 736-67-82'
				})._col.col-4

				+dilersBlock4({
					title: "Рокна-Пласт",
					location: "Оренбургская обл., с. Сакмара, ул. Советская, д. 22",
					email: 'oknavdom@mail.com',
					tel1: '+7 (495) 736-67-81'
				})._col.col-4

				+dilersBlock({
					title: "Пластек",
					location: "Деревня Внуково, ул Минская, д 144",
					email: 'oknavdom@mail.com',
					tel1: '+7 (495) 736-67-81',
					tel2: '+7 (495) 736-67-82'
				})._col.col-4

			._row.row
				+dilersBlock4({
					title: "ИП Косолапов Валерий Николаевич",
					location: "Деревня Внуково, ул Минская, д 144",
					email: 'oknavdom@mail.com',
					website: "oknavdom.ru",
					tel1: '+7 (495) 736-67-81',
					tel2: '+7 (495) 736-67-82'
				})._col.col-4

				+dilersBlock2({
					title: "Окна в дом",
					location: "Деревня Внуково, ул Минская, д 144",
					website: "okna-leningrad.ru/okna/brusbox/",
					email: 'oknavdom@mail.com',
					tel1: '+7 (495) 736-67-81',
					tel2: '+7 (495) 736-67-82',
				})._col.col-4

				+dilersBlock2({
					title: "Окна в дом",
					location: "Деревня Внуково, ул Минская, д 144",
					website: "oknavdom.ru",
					email: 'oknavdom@mail.com',
					tel1: '+7 (495) 736-67-81',
					tel2: '+7 (495) 736-67-82',
				})._col.col-4

			._row.row
				+dilersBlock2({
					title: "Окна в дом",
					location: "Деревня Внуково, ул Минская, д 144",
					email: 'oknavdom@mail.com',
					website: "oknavdom.ru",
					tel1: '+7 (495) 736-67-81',
					tel2: '+7 (495) 736-67-82'
				})._col.col-4

				+dilersBlock({
					title: "ФабрикантЪ-Оконные системы",
					location: "Деревня Внуково, ул Минская, д 144",
					email: 'oknavdom@mail.com',
					tel1: '+7 (495) 736-67-81',
					tel2: '+7 (495) 736-67-82',
				})._col.col-4

				+dilersBlock3({
					title: "Рокна-Пласт",
					location: "Деревня Внуково, ул Минская, д 144",
					email: 'oknavdom.ru',
					website: "oknavdom.ru",
					tel1: '+7 (495) 736-67-81',
					tel2: '+7 (495) 736-67-82'
				})._col.col-4
			
			._row.row
				+dilersBlock2({
					title: "Евро Окна Дома НН",
					location: "Нижегородская обл, г. Дзержинск, пр. Ленина, д. 13",
					email: 'oknavdom@mail.com',
					website: "oknavdom.ru",
					tel1: '+7 (495) 736-67-81',
					tel2: '+7 (495) 736-67-82'
				})._col.col-4

				+dilersBlock2({
					title: "Российские оконные и дверные системы",
					location: "Оренбургская обл., с. Сакмара, ул. Советская, д. 22",
					email: 'oknavdom@mail.com',
					website: "oknavdom.ru",
					tel1: '+7 (495) 736-67-81',
					tel2: '+7 (495) 736-67-82',
				})._col.col-4

			include  ../components/pagination/template
			+pagination()._pagination

		include ../components/info-section/template
		+infoSection({
			text: "<p>SEO TEXT::: Клиенты компании «Окна в дом» получают качественное остекление квартир, частных домов, коттеджей и офисных помещений по разумной цене. Безупречный сервис компании выражается в понимании потребностей каждого покупателя, профессиональной консультации квалифицированного персонала, грамотном подходе в выборе продукции, и точном расчете стоимости окон. Наша компания не экономит на материалах и работает только с надежными поставщиками. Применяет комплектующие производства мировых лидеров.</p> <p>Благодаря комплексному подходу наши оконные блоки служат дольше других. Контроль качества происходит на всех этапах — от замера окон до монтажа и принятия объекта. Поэтому мы даем гарантии на все предлагаемые конструкции и работы по их установке. На официальном сайте  «Окна в дом» работает удобная навигация, поэтому вы без труда найдете необходимую и полезную информацию, которая поможет сделать правильный выбор.</p>",
			img: "images/question-6.jpg"
		}).info-section--row-revers
		

	//- +gridLayout()

block scripts 
