extends extends/base.pug
append vars
	- var pageUrl = 'dilers-list.html';
	- var pageTitle = 'Дилеры на карте';
block styles
	
block content
	include ../components/head-section/template
	include ../components/header/template
	+header2()

	.dilers-page
		+headSection({
			bread: [{url: '#', title: 'Покупателям'},{url: '#', title: 'Дилеры списком'}],
			title: "Офисы продаж пластиковых окон<br> в Нижнем Новгороде",
			img: "images/main-bg-dilers-list.jpg",
			btn: "Изменить город"
		})._head
		._container.container
			._links
				a(href="")._link.is-active на карте
				a(href="")._link списком
			
			include ../components/map-section/template
			+mapSection()

		include ../components/info-section/template
		+infoSectionHideText({
			text: "<p>SEO TEXT::: Клиенты компании «Окна в дом» получают качественное остекление квартир, частных домов, коттеджей и офисных помещений по разумной цене. Безупречный сервис компании выражается в понимании потребностей каждого покупателя, профессиональной консультации квалифицированного персонала, грамотном подходе в выборе продукции, и точном расчете стоимости окон. Наша компания не экономит на материалах и работает только с надежными поставщиками. Применяет комплектующие производства мировых лидеров.</p> <p>Благодаря комплексному подходу наши оконные блоки служат дольше других. Контроль качества происходит на всех этапах — от замера окон до монтажа и принятия объекта. Поэтому мы даем гарантии на все предлагаемые конструкции и работы по их установке. На официальном сайте  «Окна в дом» работает удобная навигация, поэтому вы без труда найдете необходимую и полезную информацию, которая поможет сделать правильный выбор.</p>",
			img: "images/question-6.jpg"
		}).info-section--row-revers
		

	//- +gridLayout()

block scripts 
