extends extends/base.pug
append vars
	- var pageUrl = 'diler-page.html';
	- var pageTitle = 'Страница дилера';
block styles
	
block content
	include ../components/head-section/template
	include ../components/text-section/template
	include ../components/info-section/template
	include ../components/diler-about-section/template

	.diler-page
		+headSection({
			title: 'Пластиковые окна и двери<br> в ООО «Окна в дом»',
			img: 'images/head-bg-diler.jpg',
			imgSm: 'images/head-bg-diler-sm.jpg',
			bread: [{url: '#', title: 'Главная'},{url: '#', title: 'Покупателям'},{url: '#', title: 'Офисы продаж в Нижнем Новгороде'},{url: '#', title: 'Пластиковые окна и двери в ООО «Окна в дом»'}],
		})._head
		._container.container.container--text
			+dilerAboutSection()
		._container.container
			+textSectionTitle({
				title: 'Реализованные проекты'
			}).text-section--center.text-section--title-black.text-section--special-padding

		+infoSectionSliderImg({
			items: [{
				img: 'images/info-slide-object-1.jpg',
				title: '«Красная горка»',
				text: 'ЖК «Жуков» — новый многоквартирный комплекс, расположенный на ул. Новосёлов, 45А. Если рассматривать новостройки в Дашках (Песочне) в Рязани, сегодня это один из самых современных проектов, строящихся в этом районе. Здесь всё предусмотрено для комфортной жизни: от грамотной планировки квартир до развитой инфраструктуры района.',
				date: 'Дата реализации: 10 июня 2022'
			},
			{
				img: 'images/info-slide-object-1.jpg',
				title: '«Красная горка»',
				text: 'ЖК «Жуков» — новый многоквартирный комплекс, расположенный на ул. Новосёлов, 45А. Если рассматривать новостройки в Дашках (Песочне) в Рязани, сегодня это один из самых современных проектов, строящихся в этом районе. Здесь всё предусмотрено для комфортной жизни: от грамотной планировки квартир до развитой инфраструктуры района.',
				date: 'Дата реализации: 10 июня 2022'
			}]
		}).info-section--row-revers

		._container.container
			+textSectionTitle({
				title: 'Реализованные проекты'
			}).text-section--center.text-section--title-black.text-section--special-padding

		include ../components/action-section/template
		+actionSection({
			title: ''
		}).action-section--transporent.action-section--padding-top-none

		._container.container
			+textSectionTitle({
				title: 'Производство ООО «Окна в дом»'
			}).text-section--center.text-section--title-black.text-section--special-padding

		+infoSectionSliderImg({
			items: [{
				img: 'images/info-service-img-1.jpg',
				text: `
					<p>Клиенты компании «Окна в дом» получают качественное остекление квартир, частных домов, коттеджей и офисных помещений по разумной цене. Безупречный сервис компании выражается в понимании потребностей каждого покупателя, профессиональной консультации квалифицированного персонала, грамотном подходе в выборе продукции, и точном расчете стоимости окон.</p>
					<p><span>Наша компания не экономит на материалах и работает только с надежными поставщиками.<br>Применяет комплектующие производства мировых лидеров:</span>
					<ul>
						<li>профиль BRUSBOX;</li>
						<li>высокотехнологичную фурнитуру;</li>
						<li>стекла компании BRUSBOX.</li>
					</ul></p>
					<p>Благодаря комплексному подходу наши оконные блоки служат дольше других.<br> Контроль качества происходит на всех этапах — от замера окон до монтажа и принятия объекта. Поэтому мы даем гарантии на все предлагаемые конструкции и работы по их установке. На официальном сайте  «Окна в дом» работает удобная навигация, поэтому вы без труда найдете необходимую и полезную информацию, которая поможет сделать правильный выбор.</p>`
			},
			{
				img: 'images/info-service-img-1.jpg',
				text: `
					<p>Клиенты компании «Окна в дом» получают качественное остекление квартир, частных домов, коттеджей и офисных помещений по разумной цене. Безупречный сервис компании выражается в понимании потребностей каждого покупателя, профессиональной консультации квалифицированного персонала, грамотном подходе в выборе продукции, и точном расчете стоимости окон.</p>
					<p><span>Наша компания не экономит на материалах и работает только с надежными поставщиками.<br>Применяет комплектующие производства мировых лидеров:</span>
					<ul>
						<li>профиль BRUSBOX;</li>
						<li>высокотехнологичную фурнитуру;</li>
						<li>стекла компании BRUSBOX.</li>
					</ul></p>
					<p>Благодаря комплексному подходу наши оконные блоки служат дольше других.<br> Контроль качества происходит на всех этапах — от замера окон до монтажа и принятия объекта. Поэтому мы даем гарантии на все предлагаемые конструкции и работы по их установке. На официальном сайте  «Окна в дом» работает удобная навигация, поэтому вы без труда найдете необходимую и полезную информацию, которая поможет сделать правильный выбор.</p>`
			}]
		}).info-section--row-revers

		+textSection({
			text: 'Клиенты компании «Окна в дом» получают качественное остекление квартир, частных домов, коттеджей и офисных помещений по разумной цене. Безупречный сервис компании выражается в понимании потребностей каждого покупателя, профессиональной консультации квалифицированного персонала, грамотном подходе в выборе продукции, и точном расчете стоимости окон. <br>Наша компания не экономит на материалах и работает только с надежными поставщиками. <br>Благодаря комплексному подходу наши оконные блоки служат дольше других. <br>Контроль качества происходит на всех этапах — от замера окон до монтажа и принятия объекта. Поэтому мы даем гарантии на все предлагаемые конструкции и работы по их установке. На официальном сайте  «Окна в дом» работает удобная навигация, поэтому вы без труда найдете необходимую и полезную информацию, которая поможет сделать правильный выбор.'
		}).text-section--gray-dark.text-section--long-2

		include  ../components/map-section/template
		+mapSectionContainer().map-section--padding.map-section--main-accardion


	//- +gridLayout()

block scripts 
