extends extends/base.pug
append vars
	- var pageUrl = 'error.html';
	- var pageTitle = 'Страница 404';

block styles
block content
	.error-page
		._container.container.container--sm
			._row.row
				._info.col-5.col-md-6.col-sm-12
					._title.title-h4 К сожалению, на сайте отсутствует страница, которую вы ищете
					._text
						p Что же делать?
						p Вы можете выполнить одно из следующих действий:
					._list
						ul
							li перейти на главную страницу <span>Покупателям</span>
							li перейти на главную страницу <span>Профессионалам</span>
							li перейти на главную страницу <span>Архитекторам / Дизайнерам</span>
							li перейти в раздел <span>Контакты</span>
				._img.col-7.col-md-6.col-sm-12
					img(src="images/error.jpg", alt="")
	//- +gridLayout()

block scripts