extends extends/base.pug
append vars
	- var pageUrl = 'error.html';
	- var pageTitle = 'Страница 404';

block styles
block content

	include ../components/header/template
	+header()

	.error-page
		._container.container.container--sm
			._row.row
				._info.col-5.col-md-6.col-sm-12
					._title.title-h4 К сожалению, на сайте отсутствует страница, которую вы ищете
					._text
						p Что же делать?
						p Вы можете выполнить одно из следующих действий:
					._list
						ul
							li перейти на главную страницу <a href="#" target="_blank"> Покупателям</a>
							li перейти на главную страницу <a href="#" target="_blank"> Профессионалам</a>
							li перейти на главную страницу <a href="#" target="_blank"> Архитекторам / Дизайнерам</a>
							li перейти в раздел <a href="#" target="_blank"> Контакты</a>
				._img.col-7.col-md-6.col-sm-12
					img(src="images/error-1.jpg", alt="")
					._3d
						+svg("error-3d")
	//- +gridLayout()

block scripts