extends extends/base.pug
append vars
	- var pageUrl = 'dealer-support.html';
	- var pageTitle = 'История';
block styles
	
block content
	include ../components/head-section/template

	.main-section.main-section--history
		+headSection({
			bread: [{url: '#', title: 'О компании'},{url: '#', title: 'Покупателям'},{url: '#', title: 'История'}],
			title: "История",
			img: "images/main-bg-history.jpg",
			imgSm: "images/main-bg-history-sm.jpg"
		})._head
		._container.container.container--sm.container--text
			._info
				._text.main-section__text--
					p На сегодняшний день «БРУСБОКС» – крупнейший Российский производитель профиля из ПВХ и подоконной доски!
					p Складские и офисные помещения компании расположены в Брянске и занимают общую площадь около 50 000 м². <br>На предприятии имеется 28 высокотехнологичных экструзионных линий, на которых производится около 40 000 тонн продукции в год. 
					p Высокое качество профиля, большие объемы производства, оптимальные сроки поставки позволяют удовлетворить даже самый большой спрос, поэтому сегодня компания «БРУСБОКС» имеет развитую дилерскую сеть по всей России и в 8-ми странах мира: в Румынии, в Республиках Беларусь, Казахстан, Таджикистан, Кыргызстан, Молдова, в Монголии и Армении. Так что будущее «остекление» страны и ближнего зарубежья – в надежных руках!
	
	include ../components/info-section/template
	+infoSection({
					img: 'images/question-3.jpg',
					title: 'А как всё начиналось?',
					text: '<p>Чуть более 20 лет назад отечественный оконный рынок находился во власти иностранных, в основном немецких, производителей, которые в условиях большого спроса чувствовали себя здесь очень комфортно и постепенно начинали переводить свои производства на российские просторы. <br>Отечественные производители только начинали появляться, но, конечно, даже близко не могли конкурировать с лидерами рынка. При огромных темпах роста иностранных компаний было сложно предположить, что российские профили когда-нибудь смогут, если не потеснить их, то хотя бы составить достойную конкуренцию.</p>'
				}).info-section--row-revers

	include ../components/text-section/template
	+textSection({
				text: '<p>Но, конечно, дело не только в имени. Потеснить иностранных производителей можно было только при наличии «особого» конкурентоспособного продукта.<br> Им стал широкоизвестный BRUSBOX 60 – профильная система нового поколения, результат объединения лучших наработок мирового рынка светопрозрачных конструкций и собственных усовершенствований. Презентация BRUSBOX 60 прошла в рамках международной московской выставки  «Окна и Фасады» 2004 и это событие стало отправной точкой движения к успеху компании «БРУСБОКС».</p>'
			})

	+infoSection({
					img: 'images/question-4.jpg',
					text: '<p>Переломным моментом можно считать 2004 год, когда на рынок вышла молодая, яркая компания BRUSBOX с четкой и ясной миссией – дать рынку качественный профиль по доступной цене. Даже в само название бренда учредители  заложили эту идею. BRUSBOX или BEST RUSSIAN BOX – «лучшая русская рама» – отечественный продукт высокого качества, созданный в России и для России. Мы верим, что сильная энергетика имени сыграла не последнюю роль в успешном развитии бренда.</p>'
				}).info-section--gray

	+textSection({
				text: '<p>В последующие годы компания динамично развивалась, совершенствовала технологии и оборудование. В результате была создана наиболее полная и экономически оправданная система ПВХ-профилей. Благодаря новым инновационным продуктам и гибкой ценовой политике «БРУСБОКС» стал надежным и выгодным партнером для отечественных и иностранных производителей ПВХ окон. И сегодня в России вы можете увидеть целые районы, застроенные новыми жилыми комплексами, окна которых надежно держит профиль BRUSBOX.</p>',
				btn: 'Посмотреть объекты'
			})

	include ../components/banner-section/template
	+bannerImg({
			img:"images/banner-full-2.jpg"
		})

	include ../components/history-section/template
	+historySection()


	//- +gridLayout()

block scripts 
