extends extends/base.pug
append vars
	- var pageUrl = 'index.html';
	- var pageTitle = 'Структура сайта';
	- var classBody = 'homepage';
	//- var headerBg = 'images/main-banner.jpg';
block styles
	
block content
	.main-section
		.container
			h1 Cтраницы проекта
			
			+listLink({
				tagName: 'ol',
					items: [
						{ttl: 'Главная страница', url: 'main.html', target: '_blank'},
						{ttl: 'Дилерам: цветовые решения (Николай)', url: 'color-solution.html', target: '_blank'},
						{ttl: 'Покупателям: Выбор цвета (Николай)', url: 'select-color.html', target: '_blank'},
						{ttl: 'Покупателям: Подбор окна (Николай)', url: 'select-window.html', target: '_blank'},
						{ttl: 'Поддержка дилеров ', url: 'dealer-support.html', target: '_blank'},
						{ttl: 'История (Николай)', url: 'history.html', target: '_blank'},
						{ttl: 'Акции (Николай)', url: 'action.html', target: '_blank'},
						{ttl: 'Новости (Николай)', url: 'news.html', target: '_blank'},
						{ttl: 'Новость (Николай)', url: 'one-news.html', target: '_blank'},
						{ttl: 'Статья (Николай)', url: 'article.html', target: '_blank'},
						{ttl: 'Статьи (Николай)', url: 'articles.html', target: '_blank'},
						{ttl: 'Дилеры списком (Николай)', url: 'dilers-list.html', target: '_blank'},
						{ttl: 'Дилеры на карте (Николай)', url: 'dilers-map.html', target: '_blank'},
						{ttl: 'Дилерам: категория (Николай)', url: 'category.html', target: '_blank'},
						{ttl: 'Дилерам: контакты (Николай)', url: 'contacts.html', target: '_blank'},
						{ttl: 'Покупателям: преимущества (Николай)', url: 'advantages.html', target: '_blank'},
						{ttl: 'Страница акции (Николай)', url: 'action-page.html', target: '_blank'},
						{ttl: 'Техническая документация (Николай)', url: 'documentation.html', target: '_blank'},
						{ttl: 'Главная: Покупателям (Николай)', url: 'main-buyers.html', target: '_blank'},
						{ttl: 'Покупателям: Продукция (Николай)', url: 'products.html', target: '_blank'},
						{ttl: 'Покупателям: Поставщики (Максим)', url: 'suppliers.html', target: '_blank'},
						{ttl: 'Сертификаты и дипломы (Максим)', url: 'certificates.html', target: '_blank'},
						{ttl: 'Политика конфиденциальности (Максим)', url: 'privacy-policy.html', target: '_blank'},
						{ttl: 'Страница 404 (Максим)', url: 'error.html', target: '_blank'},
						{ttl: 'Архитекторам и дизайнерам: библиотека BIM-моделей (Максим)', url: 'model-library.html', target: '_blank'},
						{ttl: 'О компании (Максим)', url: 'about-company.html', target: '_blank'},
						{ttl: 'Дилерам: Продукция (Николай)', url: 'dilers-products.html', target: '_blank'},
						{ttl: 'Объекты (Николай)', url: 'objects.html', target: '_blank'},
						{ttl: 'Рекламный каталог (Николай)', url: 'advertising-catalog.html', target: '_blank'},
						{ttl: 'Покупателям: подоконники (Николай)', url: 'buyers-window.html', target: '_blank'},
						{ttl: 'Результаты поиска (Николай)', url: 'search-result.html', target: '_blank'},
						{ttl: 'Страница дилера (Николай)', url: 'diler-page.html', target: '_blank'}
						{ttl: 'Главная: Профессионалам рынка (Максим)', url: 'main-market.html', target: '_blank'},
						{ttl: 'Дилерам: преимущества (Максим)', url: 'dilers-advantages.html', target: '_blank'},
						{ttl: 'Главная: Архитекторам и дизайнерам (Максим)', url: 'main-designers.html', target: '_blank'},
						{ttl: 'Покупателям: Категория (Максим)', url: 'buyers-category.html', target: '_blank'},
					]
				})


block scripts