extends extends/base.pug
append vars
	- var pageUrl = 'index.html';
	- var pageTitle = 'Структура сайта';
	- var classBody = 'homepage';
	//- var headerBg = 'images/main-banner.jpg';
block styles
	
block content
	.main-section
		.container
			h1 Cтраницы проекта
			
			+listLink({
				tagName: 'ol',
					items: [
						{ttl: 'Дилерам: цветовые решения', url: 'color-solution.html', target: '_blank'},
						{ttl: 'Покупателям: Выбор цвета', url: 'select-color.html', target: '_blank'},
						{ttl: 'Поддержка дилеров', url: 'dealer-support.html', target: '_blank'},
						{ttl: 'История', url: 'history.html', target: '_blank'},
						{ttl: 'Акции', url: 'action.html', target: '_blank'},
						{ttl: 'Новости', url: 'news.html', target: '_blank'},
						{ttl: 'Новость', url: 'one-news.html', target: '_blank'},
						{ttl: 'Статья', url: 'article.html', target: '_blank'},
						{ttl: 'Статьи', url: 'articles.html', target: '_blank'},
						{ttl: 'Дилеры списком', url: 'dilers-list.html', target: '_blank'},
						{ttl: 'Дилеры на карте', url: 'dilers-map.html', target: '_blank'},
						{ttl: 'Дилерам: категория', url: 'category.html', target: '_blank'},
						{ttl: 'Дилерам: контакты ', url: 'contacts.html', target: '_blank'},
						{ttl: 'Покупателям: преимущества', url: 'advantages.html', target: '_blank'},
						{ttl: 'Страница акции', url: 'action-page.html', target: '_blank'},
						{ttl: 'Техническая документация', url: 'documentation.html', target: '_blank'},
						{ttl: 'Главная: Покупателям', url: 'main-buyers.html', target: '_blank'},
						{ttl: 'Покупателям: Продукция', url: 'products.html', target: '_blank'},
						{ttl: 'Покупателям: Поставщики', url: 'suppliers.html', target: '_blank'},
						{ttl: 'Сертификаты и дипломы', url: 'certificates.html', target: '_blank'},
						{ttl: 'Политика конфиденциальности', url: 'privacy-policy.html', target: '_blank'},
						{ttl: 'Страница 404', url: 'error.html', target: '_blank'},
						{ttl: 'Архитекторам и дизайнерам: библиотека BIM-моделей', url: 'model-library.html', target: '_blank'},
						{ttl: 'О компании', url: 'about-company.html', target: '_blank'},
						{ttl: 'Дилерам: Продукция', url: 'dilers-products.html', target: '_blank'},
						{ttl: 'Объекты', url: 'objects.html', target: '_blank'},
						{ttl: 'Рекламный каталог', url: 'advertising-catalog.html', target: '_blank'},
						{ttl: 'Покупателям: подоконники', url: 'buyers-window.html', target: '_blank'},
						{ttl: 'Результаты поиска', url: 'search-result.html', target: '_blank'},
						{ttl: 'Страница дилера', url: 'diler-page.html', target: '_blank'},
						{ttl: 'Главная: Профессионалам рынка', url: 'main-market.html', target: '_blank'},
						{ttl: 'Дилерам: преимущества', url: 'dilers-advantages.html', target: '_blank'},
						{ttl: 'Главная: Архитекторам и дизайнерам', url: 'main-designers.html', target: '_blank'},
						{ttl: 'Покупателям: Категория', url: 'buyers-category.html', target: '_blank'},
						{ttl: 'Покупателям: Продукт карточка', url: 'buyers-product.html', target: '_blank'}, 
						{ttl: 'Покупателям: Калькулятор', url: 'calculator.html', target: '_blank'},
						{ttl: 'Карта сайта', url: 'site-map.html', target: '_blank'},
					]
				})


block scripts