extends extends/base.pug
append vars
	- var pageUrl = 'dealer-support.html';
	- var pageTitle = 'Покупателям';
block styles
	
block content
	include ../components/head-section/template
	include ../components/text-section/template
	include ../components/info-section/template
	include ../components/products-section/template
	include ../components/place-section/template
	include ../components/banner-section/template
	include ../components/show-text-block/template

	include ../components/header/template
	+header2()

	.main-section.main-section--buyers
		+headSectionSlider({
			title: "Качественные окна<br> на любой вкус",
			img: "images/main-bg-buyers.jpg",
			imgSm: "images/main-bg-buyers-sm.jpg",
			imgXs: "images/main-bg-buyers-xs.jpg",
			subtitle: 'Покупайте у дилера со сроком эксплуатации 60 лет',
			title2: "Качественные окна<br> на любой вкус (вариант 2)",
			img2: "images/main-bg-buyers.jpg"
		})._head

		._container.container
			+textSectionTitle({
				title: 'Преимущества'
			})

		+infoSection({
			img: 'images/info-section-advantage.jpg',
			title: 'Долговечность',
			text: 'Профиль BRUSBOX ежегодно проходит испытания в лаборатории контроля качества. Ему не страшна коррозия, гниение, атмосферные осадки, жара, холод и перепады температуры от -50С до +50С. При правильном монтаже окна прослужат максимальный срок службы без каких-либо проблем и нареканий. А гарантия на сам профиль, основу окна, составляет 60 лет!'
		}).info-section--row-revers
		._info-section-buttons
			._container.container
				._button
					a(href="#").btn.--border Узнать больше о преимуществах

		+productsSection({
			img: 'images/products-bg.jpg',
			imgSm: 'images/products-bg-sm.jpg',
			imgXs: 'images/products-bg-xs.jpg',
			title: 'Продукция',
			params: [{param: 'Пластиковые окна'},{param: 'Пластиковые двери'},{param: 'Подоконники'},{param: 'Балконы и лоджии'}]
		})

		._container.container.container--full
			+placeSection({
				img: 'images/map-section-bg.png',
				title: 'Где купить',
				text: 'Компания Brusbox работает на всей территории России. Мы продаем качественный профиль лучшим производителям окон. Для нас важно, чтобы профиль Brusbox использовали добросовестные компании, которые изготавливают окна качественно, обеспечивают профессиональный монтаж и получают положительные отзывы покупателей. Если вы не знаете, где заказывать окна в Москве, ознакомьтесь со списком наших партнеров в вашем городе и вызовите мастера на замер. '
			})

		+infoSection({
			img: 'images/info-section-about-img.jpg',
			title: 'О компании',
			text: '<p>Компания «БРУСБОКС» — один из крупнейших производителей ПВХ профиля и подоконной доски в России, основана в марте 2004 года.</p> <p>На сегодняшний день производственная база компании «БРУСБОКС» расположена в г. Брянске и составляет 50 000 м², площадь производственных помещений — 10 000 м², 28 экструзионных линий фирмы KraussMaffei Technologies GmbH.</p>'
		}).info-section--gray.info-section--big-title

		+bannerSectionImg({
			img:'images/banner-bg-main.jpg',
			title: 'Миссия	',
			text: 'Мы создаем высококачественный профиль<br> для ваших окон, гордясь тем, что делаем вашу жизнь светлее и комфортнее.<br> Мы работаем, чтобы развивались наша страна<br> и партнеры, повышалось благополучие предприятия и сотрудников БРУСБОКС.'
		})

		+infoSectionButton({
			img: 'images/info-section-about.jpg',
			text: 'BRUSBOX — это принципиально новая разработка — качественный профиль ПВХ, созданный в России и для России на основе уникального комплекса передовых техно-логий и собственного практического опыта производства металлопластиковых окон.',
			btn: 'Подробнее о компании'
		}).info-section--gray.info-section--row-revers

		._container.container.container--text
			.main-section__info Отечественный производитель окон BRUSBOX изготавливает ПВХ профили, которые строго соответствуют как европейским, так и отечественным стандартам качества. Окна могут устанавливаться в квартирах, коттеджах, дачных домах, на производствах, в офисах, других коммерческих помещениях, в учреждениях с повышенными санитарными и гигиеническими требованиями. Компания работает на рынке 18 лет, производя технологичный профиль из поливинилхлорида, разработанный в России. Он создан с применением новейших технологий и практического опыта производства.

		+infoSectionHideText({
			img: 'images/info-section-about-2.jpg',
			title: 'Разновидности остекления в компании BRUSBOX',
			text: 'На выбор представлено 96 видов цветной пленки для ламинирования ПВХ. Покрытие дополнительно защищает пластик:<br> •  от ультрафиолетовых лучей; <br>•  механических повреждений; <br>•  загрязнений. <br>Пленка может монтироваться с наружной и внутренней стороны. Наружное ламинирование подбирается под цвет фасада. Внутреннее под дизайн интерьера. <br>Окна представлены трехкамерными, четырехкамерными, пятикамерными и  шестикамерными системами. 3 камеры — простое и надежное изделие. Оно подходит для производства основных типов окон. Изделие оснащено наружными и внутренними предкамерами, хорошо сопротивляющимися теплопередаче. <br>Четырехкамерные модификации могут использоваться в разных климатических условиях. Они монтируются в элитных коттеджах и панельных домах. Они универсальные. <br>Пятикамерные модели отличаются увеличенной монтажной глубиной коробки. Это изделия с повышенными шумо- и теплоизоляционными характеристиками. <br>Шестикамерные системы — новая разработка в области энергосберегающих профилей. Важные особенности модели — увеличенная монтажная глубина и шесть камер, что обеспечивает великолепные шумо- и теплоизоляционные характеристики.'
		})

		._container.container.container--text
			.main-section__info
				.main-section__info-title.title-h4 Оконные системы BRUSBOX («БРУСБОКС»)
				.main-section__hide-text.js-hide-text
					p.main-section__item
						.main-section__item-text Евроокна, которые представляет официальный сайт окон «БРУСБОКС» отличаются друг от друга по количеству камер, размеру профиля, конфигурации, моделям установленной фурнитуры. Каждый экземпляр, среди предложенных, может использоваться для частной или коммерческой эксплуатации.

					p.main-section__item
						.main-section__item-title ACLASS
						.main-section__item-text Подходит для производства изделий любых форм. Имеет высокие коэффициенты теплопередачи благодаря большой толщине стенки. ACLASS подходит для жилищного фонда, остекления объектов промышленного назначения, расположенных в регионе со сложными климатическими условиями.
					
					p.main-section__item
						.main-section__item-title 60-4
						span.main-section__item-text Модификация универсальная, недорогая. Подходит как для южных, так и для северных регионов. Евроокна, созданные на основе системы 60-4, могут устанавливаться в элитных домах, панельных многоэтажках. Имеет четыре внутренние камеры, славится высокими показателями сопротивления теплопередачи.

					p.main-section__item
						.main-section__item-title 70-6 
						span.main-section__item-text Модель отличается улучшенными показателями качества. Это новая разработка компании, отличающаяся увеличенной монтажной глубиной коробки. Большая толщина конструкции позволяет использовать шестикамерную систему для максимального сохранения тепла. Профиль используется в регионах с холодным климатом.
					
					p.main-section__item
						.main-section__item-title AERO 
						span.main-section__item-text Востребованная модель, использующаяся в частном и корпоративном строительстве. Модификация соответствует строгим стандартам качества как отечественных, так и зарубежных.

					p.main-section__item
						.main-section__item-title SUPER AERO — <span>улучшенная модель.</span>
						span.main-section__item-text Это пятикамерная конструкция с монтажной глубиной 70 мм. Отличается высокими показателями энергоэффективности.

					p.main-section__item
						.main-section__item-title GLIDE — <span>разумное количество.</span>
						span.main-section__item-text Оригинальная раздвижная конструкция. Используется для остекления балконов и лоджий, хорошо совмещается с другими системами 60 мм.
				+showTextBlock({
					title: "Развернуть текст"
				})
		._container.container.container--full
			+bannerSectionImg({
				img: 'images/bayers-banner-img.jpg'
			})
		._container.container
			._row.row
				._info.col-6.col-sm-12
					._info-title.title-h4 Официальный сайт BRUSBOX(«БРУСБОКС»):<br>наши услуги и сервис
					._info-text Производим высококачественные профили ПВХ для создания энергоэффективных окон в любых размерах и конфигурациях с высокими показателями прочности, практичности, долговечности. Проводим монтаж, оказываем гарантийное и постгарантийное обслуживание.
				._info.col-6.col-sm-12
					._info-title.title-h4 Преимущества сотрудничества
					._info-text «БРУСБОКС» — официальный производитель ПВХ профилей, соответствующих ГОСТам. Наши окна конкурируют с европейскими аналогами, представленными в Москве и других городах РФ. Предлагаем официальные цены без посреднической наценки.


	//- +gridLayout()

block scripts 
