extends extends/base.pug
append vars
	- var pageUrl = 'news.html';
	- var pageTitle = 'Новость';
	- var classBody = 'news';
block styles
	
block content
	include ../components/action-block/template
	include ../components/main-section/template
	include ../components/text-section/template
	include ../components/info-section/template

	+mainSectionMode({
		bread: [{url: '#', title: 'Покупателям'},{url: '#', title: 'Новости'},{url: '#', title: 'Новинка от BRUSBOX – когда цвет имеет значение!'}],
		title: "Новинка от BRUSBOX – <br>когда цвет имеет значение!",
		date: "01 марта",
		subtitle: "Хорошая новость от «БРУСБОКС»! <br>Линейка подоконников BRUSBOX пополнена подоконником в новом цвете – антрацитово-сером. ",
		img: "images/main-bg-one-news.jpg"
	}).main-section--one-news

		+textSection({
			text: '<p>В последнюю неделю марта в Москве прошла крупнейшая международная строительная выставка MOSBUILD. «БРУСБОКС», как и большинство оконных компаний, принявших решение об участии в выставке только по нечетным годам, не экспонировалась в 2022 году. Однако, это не повод не встретиться с любимыми партнерами в период выставки. Поэтому 30 марта в центре столицы компания «БРУСБОКС» организовала вечерний прием для своих дилеров и переработчиков.</p><p>Около 70 представителей компаний из России, Беларуси, Армении и Таджикистана встретились в уютном ресторане, чтобы в неформальной обстановке обсудить планы на будущее, обозначить перспективы развития и просто приятно провести вечер.</p>'
		})

		+infoSection({
				title: "Окна в деревянном доме: варианты",
				text: "В принципе, в деревянном доме можно устанавливать окна любой конструкции и из любых материалов: деревянные, пластиковые, алюминиевые. Это вопрос целесообразности, эстетики и имеющихся у хозяина возможностей. На практике чаще всего используются светопрозрачные конструкции из дерева и из ПВХ-профиля.",
				img: "images/question-5.jpg"
			}).info-section--row-revers.info-section--text-sm

		+textSectionTwoCol({
			textLeft: 'В последнюю неделю марта в Москве прошла крупнейшая международная строительная выставка MOSBUILD. «БРУСБОКС», как и большинство оконных компаний, принявших решение об участии в выставке только по нечетным годам, не экспонировалась в 2022 году. Однако, это не повод не встретиться с любимыми партнерами в период выставки. Поэтому 30 марта в центре столицы компания «БРУСБОКС» организовала вечерний прием для своих дилеров и переработчиков. <br>Около 70 представителей компаний из России, Беларуси, Армении и Таджикистана встретились в уютном ресторане, чтобы в неформальной обстановке обсудить планы на будущее, обозначить перспективы развития и просто приятно провести вечер. <br>Основной задачей компании Артак Сарибекович обозначил обеспечение стопроцентной, плановой загрузки производственных',
			textRight: 'мощностей «БРУСБОКС» за счет бесперебойной поставки сырьевых компонентов в необходимом объеме и должного качества. <br> При этом Артак Сарибекович отметил, что в наше непростое и крайне турбулентное время нельзя не просчитывать варианты негативного развития событий, чтобы быть готовыми к любым форс-мажорам. «Мы не все можем предотвратить, но, по крайней мере, в наших силах сделать все необходимое для снижения рисков возникновения негативного сценария за счет укрепления существующих отношений с действующими поставщиками, а также формирования полноценных альтернатив в разрезе поставок. Этим мы в последний месяц сосредоточенно и основательно занимаемся на всех уровнях управления компанией «БРУСБОКС».'
		})

		include ../components/advantages-section/template
		+advantagesSection()

		+textSection({})
			p В последнюю неделю марта в Москве прошла крупнейшая международная строительная выставка MOSBUILD. «БРУСБОКС», как и большинство оконных компаний, принявших решение об участии в выставке только по нечетным годам, не экспонировалась в 2022 году. Однако, это не повод не встретиться с любимыми партнерами в период выставки. Поэтому 30 марта в центре столицы компания «БРУСБОКС» организовала вечерний прием для своих дилеров и переработчиков.
					p Около 70 представителей компаний из России, Беларуси, Армении и Таджикистана встретились в уютном ресторане, чтобы в неформальной обстановке обсудить планы на будущее, обозначить перспективы развития и просто приятно провести вечер.
			p &nbsp;
			h4.text-section__title Преимущества окон с рамами, изготовленными из поливинилхлорида:
			ul.text-section__list
				li ПВХ-профиль долговечен, не гниёт, не ржавеет, не разрушается на солнце;
				li за пластиковыми окнами легко ухаживать: протереть тряпочкой рамы, 1-2 раза в год смазать механизм фурнитуры капелькой машинного масла;
				li хорошая тепло- и звукоизоляция;
				li пожаробезопасность: пластик не поддерживает горение, при высоких температурах плавится;
				li большой выбор вариантов отделки: десятки видов ламинации, имитирующей рисунок и текстуру древесины самых разных пород;
				li окна изготавливаются по размерам заказчика;
				li большой выбор декоративных элементов (ручек, шпросов, импостов) и дополнительных аксессуаров (противосолнечных жалюзи и т. п);
				li возможность выбрать остекление в зависимости от конкретных задач: тонированное, ударопрочное, с повышенной звуко- и теплозащитой и т. п.

		include ../components/banner-section/template
		+bannerImg({
			img:"images/banner-full-3.jpg"
		})

		+textSectionTwoCol({
			textLeft: '<p>В последнюю неделю марта в Москве прошла крупнейшая международная строительная выставка MOSBUILD. «БРУСБОКС», как и большинство оконных компаний, принявших решение об участии в выставке только по нечетным годам, не экспонировалась в 2022 году. Однако, это не повод не встретиться с любимыми партнерами в период выставки. Поэтому 30 марта в центре столицы компания «БРУСБОКС» организовала вечерний прием для своих дилеров и переработчиков.</p><p>Около 70 представителей компаний из России, Беларуси, Армении и Таджикистана встретились в уютном ресторане, чтобы в неформальной обстановке обсудить планы на будущее, обозначить перспективы развития и просто приятно провести вечер.</p><p>С речью к собравшимся выступил Генеральный директор ООО «БРУСБОКС» Артак Сарибекович Мелконян.</p>',
			textRight: '<p>Основной задачей компании Артак Сарибекович обозначил обеспечение стопроцентной, плановой загрузки производственных мощностей «БРУСБОКС» за счет бесперебойной поставки сырьевых компонентов в необходимом объеме и должного качества.</p><p>При этом Артак Сарибекович отметил, что в наше непростое и крайне турбулентное время нельзя не просчитывать варианты негативного развития событий, чтобы быть готовыми к любым форс-мажорам. «Мы не все можем предотвратить, но, по крайней мере, в наших силах сделать все необходимое для снижения рисков возникновения негативного сценария за счет укрепления существующих отношений с действующими поставщиками, а также формирования полноценных альтернатив в разрезе поставок. Этим мы в последний месяц сосредоточенно и основательно занимаемся на всех уровнях управления компанией «БРУСБОКС».</p>',
		})

		.main-section__container.container.container--sm.container--text
				
			include ../components/cart-subcribe-block/template
			+cartSubcribeBlock()
	
	+gridLayout()

block scripts 
