extends extends/base.pug
append vars
	- var pageUrl = 'products.html';
	- var pageTitle = 'Продукция';
block styles
	
block content
	include ../components/head-section/template
	include ../components/text-section/template
	include ../components/info-section/template
	include ../components/products-section/template
	include ../components/place-section/template
	include ../components/banner-section/template
	include ../components/service-block/template

	.main-section.main-section--products
		+headSection({
			bread: [{url: '#', title: 'Покупателям'},{url: '#', title: 'Продукция'}],
			title: "Продукция",
			img: "images/main-bg-products.jpg"
		})._head
		.__hed-text
			+textSectionLong({
				text: 'BRUSBOX — это принципиально новая разработка — качественный профиль ПВХ, созданный<br>в России и для России на основе уникального комплекса передовых технологий и собственного практического опыта производства металлопластиковых окон.'
			}).text-section--center
		._container.container
			._services-row.row
				._services-item.col-3.col-md-4.col-sm-6.col-xs-12
					+serviceBlock({
						icon: "images/service-icon-product-1.svg",
						title: "Обладают высокими теплоизолирующими свойствами"
					})
				._services-item.col-3.col-md-4.col-sm-6.col-xs-12
					+serviceBlock({
						icon: "images/service-icon-product-2.svg",
						title: "Защищают от уличного шума"
					})
				._services-item.col-3.col-md-4.col-sm-6.col-xs-12
					+serviceBlock({
						icon: "images/service-icon-product-3.svg",
						title: "Создают комфортный микроклимат"
					})
				._services-item.col-3.col-md-4.col-sm-6.col-xs-12
					+serviceBlock({
						icon: "images/service-icon-product-4.svg",
						title: "Разнообразие форм – можно подобрать под любой интерьер"
					})
				._services-item.col-3.col-md-4.col-sm-6.col-xs-12
					+serviceBlock({
						icon: "images/service-icon-product-5.svg",
						title: "Эстетичны"
					})
				._services-item.col-3.col-md-4.col-sm-6.col-xs-12
					+serviceBlock({
						icon: "images/service-icon-product-6.svg",
						title: "Экологичны"
					})
				._services-item.col-3.col-md-4.col-sm-6.col-xs-12
					+serviceBlock({
						icon: "images/service-icon-product-7.svg",
						title: "Устойчивы к внешнему воздействию"
					})
				._services-item.col-3.col-md-4.col-sm-6.col-xs-12
					+serviceBlock({
						icon: "images/service-icon-product-8.svg",
						title: "Простой уход: легко мыть, не требуют окраски"
					})

		+infoSectionButtonRed({
			img: 'images/product-1.jpg',
			title: 'Пластиковые<br> окна BRUSBOX',
			text: 'Мы готовы предложить вам семь типов профилей, каждый<br> из которых обладает уникальными свойствами!<br> Профили BRUSBOX обладают бескомпромиссным качеством<br> и превосходными показателями',
			btn: 'Подробнее об окнах'
		})

		+infoSectionButtonRed({
			img: 'images/product-2.jpg',
			title: 'Пластиковые<br> двери BRUSBOX',
			text: 'Мы готовы предложить вам семь типов профилей,<br>каждый из которых обладает уникальными свойствами!<br> Профили BRUSBOX обладают бескомпромиссным качеством<br> и превосходными показателями',
			btn: 'Подробнее о дверях'
		}).info-section--row-revers

		+infoSectionButtonRed({
			img: 'images/product-3.jpg',
			title: 'Подоконники',
			text: 'На сегодняшний день компания «БРУСБОКС» является одним<br> из крупнейших поставщиков ПВХ-подоконников на российском рынке.<br> Объемы производства превышают миллион квадратных метров в год.',
			btn: 'Подробнее о подоконниках'
		})

		+infoSectionButtonRed({
			img: 'images/product-4.jpg',
			title: 'Балконы и лоджии',
			text: 'На сегодняшний день компания «БРУСБОКС» является<br> одним из крупнейших поставщиков ПВХ-подоконников<br> на российском рынке. Объемы производства превышают<br> миллион квадратных метров в год.',
			btn: 'Подробнее о балконах и лоджиях'
		}).info-section--row-revers

		+infoSectionSlider({
			title: 'Ламинация',
			text: 'Важно соответствовать современным тенденциям и главное —<br> потребностям клиентов. Поэтому мы в BRUSBOX разработали<br> широкую линейку ламинационных материалов, способных<br> удовлетворить любые потребности!',
			btn: 'Выберите цвет'
		}).info-section--transparent

	//- +gridLayout()

block scripts