extends extends/base.pug
append vars
	- var pageUrl = 'search-result.html';
	- var pageTitle = 'Результат поиска';
block styles
	
block content
	include ../components/head-section/template
	include ../components/search-block/template
	include ../components/pagination/template

	.search-result-page
		+headSection({
			bread: [{url: '#', title: 'Покупателям'},{url: '#', title: 'Результаты поиска'}],
			title: "Результаты поиска",
			img: "images/head-bg-result-search.jpg"
		})._head
		._wrap
			._container.container.container--text
				+searchBlock({
					placeholder: 'Что вы искали?'
				})._search

				._switches
					._switch.radiobox
						input(type="radio" name='type' id="a1")
						label(for="a1") Везде
					._switch.radiobox
						input(type="radio" name='type' id="a2")
						label(for="a2") Покупателям
					._switch.radiobox
						input(type="radio" name='type' id="a3")
						label(for="a3") Дилерам
					._switch.radiobox
						input(type="radio" name='type' id="a4")
						label(for="a4") Архитекторам/дизайнерам
				
				._result По запросу <strong>«пластиковые окна»</strong> Найдено 55 результатов

				._search-items
					._item
						a(href="#")._item-title 
							h4 Проветривание для пластиковых окон: виды, регулировка, фурнитура
						._item-text ... вентиляция более или менее исправно функционирует — на смену воздуху, уходящему в вытяжку через щели в окнах, поступает воздух с улицы. Когда же окна меняют на <strong>пластиковые</strong>, приток воздуха извне останавливается и вентиляция при закрытых окнах перестаёт работать почти полностью. Герметичность пластиковых ...
					._item
						a(href="#")._item-title
							h4 Установка защёлки на балконную дверь: от выбора до монтажа
						._item-text <strong>Пластиковые окна</strong> и двери не всегда оснащают вспомогательной фурнитурой. Если на вашей балконной двери нет защёлки, её можно установить самостоятельно...
					._item
						a(href="#")._item-title
							h4 Окно в ванной: особенности размещения и эксплуатации<br> в частном доме и квартире
						._item-text ... многоэтажек и норма для тех, кто живёт в загородном доме. Зачем вообще нужно окно в ванной, каким оно может быть в частном доме и в квартире, почему <strong>пластиковое окно</strong> — оптимальные вариант для ванной, как спланировать ванную с окном, чтобы пользоваться ей было удобно — обо всём этом и многом другом ...
					._item
						a(href="#")._item-title
							h4 Установка защёлки на балконную дверь: от выбора до монтажа
						._item-text <strong>Пластиковые окна</strong> и двери не всегда оснащают вспомогательной фурнитурой. Если на вашей балконной двери нет защёлки, её можно установить самостоятельно...
					._item
						a(href="#")._item-title
							h4 Установка защёлки на балконную дверь: от выбора до монтажа
						._item-text Пластиковые окна и двери не всегда оснащают вспомогательной фурнитурой. Если на вашей балконной двери нет защёлки, её можно установить самостоятельно...
					._item
						a(href="#")._item-title
							h4 Окно в ванной: особенности размещения и эксплуатации в частном доме и квартире
						._item-text ... многоэтажек и норма для тех, кто живёт в загородном доме. Зачем вообще нужно окно в ванной, каким оно может быть в частном доме и в квартире, почему <strong>пластиковое окно</strong> — оптимальные вариант для ванной, как спланировать ванную с окном, чтобы пользоваться ей было удобно — обо всём этом и многом другом ...
					._item
						a(href="#")._item-title
							h4 Установка защёлки на балконную дверь: от выбора до монтажа
						._item-text <strong>Пластиковые окна</strong> и двери не всегда оснащают вспомогательной фурнитурой. Если на вашей балконной двери нет защёлки, её можно установить самостоятельно...

				+pagination()._pagination
	//- +gridLayout()

block scripts