extends extends/base.pug
append vars
	- var pageUrl = 'color-solution.html';
	- var pageTitle = 'Покупателям: Выбор цвета';
	- var classBody = 'color-solution-page';
	- var headerBg = 'images/main-banner.jpg';
block styles
	
block content
	include ../components/main-section/template
	+mainSection({
		bread: [{url: '#', title: 'Покупателям'},{url: '#', title: 'Выберите цвет'}],
		title: "Выберите цвет",
		img: "images/main-bg-2.jpg"
	}).main-section--color-solutions.--select-color
		.main-section__container.container.container--sm.container--text
			.main-section__info
				.main-section__text 
					p Профиль доступен в 4 цветах, а также ламинируется в 96 цветов каталога немецкой фирмы «RENOLIT», также компания использует немецкий клей «KLEIBERIT», благодаря которому пленка не отслаивается даже в самых суровых условиях.
					p В настоящее время компания «БРУСБОКС» поставляет на рынок более одного миллиона погонных метров ламинированного профиля.<br>Наша компания уделяет особое внимание процессу ламинации. Профиль ламинируется в специальном ламинационном цеху в соответствии со всеми существующими нормативами.<br>В дополнение к основному белому цвету были дополнительно разработаны три цветных профиля в массе: «шоколад», «карамель» и «серый».<br>Срок от заказа до отгрузки стандартной цветовой палитры ламинации составляет не более 3 дней!
					
				include ../components/colors-section/template
				+colorsSection()

		include ../components/contact-section/template
		+contactSectionOrder()

		.main-section__container.container.container--sm
			include ../components/text-section/template
			+textSection1()
		
		include ../components/banner-section/template
		+bannerImg({
			img: "images/banner-full-1.jpg",
		})

		include ../components/questions-section/template
		+questionsSection()


	//- +gridLayout()

block scripts 