extends extends/base.pug
append vars
	- var pageUrl = 'selsect-window.html';
	- var pageTitle = 'Покупателям: Подбор окна';
block styles
	
block content
	include ../components/main-section/template
	+mainSection({
		bread: [{url: '#', title: 'Покупателям'},{url: '#', title: 'Подобрать окно'}]
	}).main-section--color-solutions.--select-color
		.main-section__container.container
			h1.main-section__title Подобрать окно
		
		include ../components/select-window-section/template
		+selectWindowSection()

	//- +gridLayout()

block scripts 
