extends extends/base.pug
append vars
	- var pageUrl = 'suppliers.html';
	- var pageTitle = 'Покупателям: Поставщики';
	//- - var classBody = 'color-solution-page';
	- var headerBg = 'images/main-banner.jpg';

block styles

block content
	include ../components/head-section/template
	include ../components/text-section/template
	include ../components/param-block/template

	.suppliers-page
		+headSection({
			bread: [{url: '#', title: 'Покупателям'},{url: '#', title: 'О компании'},{url: '#', title: 'Поставщики'}],
			title: "Поставщики",
			img: "images/param-main-bg.jpg",
			imgSm: "images/param-main-bg-sm.jpg",
			imgXs: "images/param-main-bg-xs.jpg"	
		})._head
		+textSection({
			text: '<p>Текст о поставщиках и качестве комплектующих</p>'
		}).text-section--center

	include ../components/info-section/template
	+infoSectionImgParams({
		img: "images/param-1.jpg",
		title: "Поставщики основного сырья",
		list: [
			{label: "Мел", value: "ООО «ОМИА»"}, 
			{label: "Диоксид титана", value: "ООО «ДюПон Наука и Технология»"}, 
			{label: "Модификатор ударопрочности", value: "«Arkema France»"},
			{label: "Стабилизатор", value: "«ELNOVA Handelsgesellschaft GmbH»"},
			{label: "Древесина для паллет", value: "ООО «33 Дуба»"},
			{label: "Пленка для ламинации оконного профиля", value: "ООО «Ренолит»"},
			{label: "ПВХ", value: "ОАО «Саянскхимпласт»"}
		]
	})

	+infoSectionParams({
		title: "Поставщики основного оборудования",
		list: [
				{label: "Экструзионное оборудование", value: "«KraussMaffei Technologies GmbH»"}, 
				{label: "Экструзионный инструмент", value: "«Greiner Extrusion GmbH»»"}, 
				{label: "Холодильные устройства", value: "«Gessner Kalte-Klima-Service GmbH»"},
				{label: "Дробильные установки", value: "«AMIS Maschinen-Vertriebs GmbH»"},
				{label: "Станция смешения и подачи сырья", value: "«Zeppelin Reimelt GmbH»"}
				]
	})

	+infoSectionImgParams({
		img: "images/param-2.jpg",
		title: "Поставщики основных комплектующих для изготовления оконных блоков",
		list: [
			{ label: "Резиновые уплотнители", value: "«Semperit Gummiwerk Deggendorf GmbH»"}, 
		]
	}).info-section--row-revers.info-section--no-column-revers

	//- +gridLayout()

block scripts