extends extends/base.pug
append vars
	- var pageUrl = 'suppliers.html';
	- var pageTitle = 'Покупателям: Поставщики';
	//- - var classBody = 'color-solution-page';
	- var headerBg = 'images/main-banner.jpg';

block styles

block content
	include ../components/head-section/template
	include ../components/text-section/template
	include ../components/param-block/template

	.suppliers-page
		+headSection({
			bread: [{url: '#', title: 'Покупателям'},{url: '#', title: 'О компании'},{url: '#', title: 'Поставщики'}],
			title: "Поставщики",
			img: "images/param-main-bg.jpg"
		})._head
		+textSection({
			text: '<p>Текст о поставщиках и качестве комплектующих</p>'
		}).text-section--center

	include ../components/info-section/template
	+infoSectionImgParams()

	+infoSectionParams()

	+infoSectionImgParam()

	//- +gridLayout()

block scripts