extends extends/base.pug
append vars
	- var pageUrl = 'suppliers.html';
	- var pageTitle = 'Покупателям: Поставщики';
	//- - var classBody = 'color-solution-page';
	- var headerBg = 'images/main-banner.jpg';
block styles
	
block content
	include ../components/main-section/template
	+mainSection({
		bread: [{url: '#', title: 'Покупателям'},{url: '#', title: 'О компании'},{url: '#', title: 'Поставщики'}],
		title: "Поставщики",
		img: "images/suppliers-main-bg.jpg"
	}).main-section__question-block.question-block
		.main-section__container.container.container--sm.container--text
				.main-section__text
					.main-section__header-text
						p Текст о поставщиках и качестве комплектующих		
	include ../components/question-block/template
	.main-section__question-block.question-block
		+questionBlockSuppliers7({
		title: "Поставщики основного сырья",
		img: "images/suppliers-1.jpg"
	})
	.main-section__question-block.question-block
		.main-section__container.container.container--sm
			+questionBlockSuppliers5({
		title: "Поставщики основного оборудования",
	})
	.main-section__question-block.question-block
		+questionBlockSuppliers({
		title: "Поставщики основных комплектующих для изготовления оконных блоков",
		img: "images/suppliers-2.jpg"
	})

	//- +gridLayout()

block scripts