extends extends/base.pug
append vars
	- var pageUrl = 'suppliers.html';
	- var pageTitle = 'Покупателям: Поставщики';
	//- - var classBody = 'color-solution-page';
	- var headerBg = 'images/main-banner.jpg';
block styles
	
block content
	include ../components/main-section/template
	+mainSection({
		bread: [{url: '#', title: 'Покупателям'},{url: '#', title: 'О компании'},{url: '#', title: 'Поставщики'}],
		title: "Поставщики",
		img: "images/param-main-bg.jpg"
	})
		.main-section__container.container.container--text.main-section__text.main-section__header-text
			p Текст о поставщиках и качестве комплектующих	
		
	include ../components/param-block/template
	.info-section
		+ParamBlock7({
			title: "Поставщики основного сырья", 
			img: "images/param-1.jpg"
	})
	.info-section
		+ParamBlock5({
			title: "Поставщики основного оборудования",
	})
	.info-section
		+ParamBlock({
			title: "Поставщики основных комплектующих для изготовления оконных блоков",
			img: "images/param-2.jpg"
	})

	//- +gridLayout()

block scripts
			//- list: [{label: "Метка", value: "Значение"}],
