extends extends/base.pug
append vars
	- var pageUrl = 'suppliers.html';
	- var pageTitle = 'Покупателям: Поставщики';
	//- - var classBody = 'color-solution-page';
	- var headerBg = 'images/main-banner.jpg';
	
block styles
	
block content
	include ../components/main-section/template
	+mainSection({
		bread: [{url: '#', title: 'Покупателям'},{url: '#', title: 'О компании'},{url: '#', title: 'Поставщики'}],
		title: "Поставщики",
		img: "images/param-main-bg.jpg"
	})
		.main-section__container.container.container--text.main-section__text.main-section__header-text
			p Текст о поставщиках и качестве комплектующих	
		
	include ../components/param-block/template
	.info-section
		+ParamBlock7({
			list: [
				{title: "Поставщики основного сырья", label: "Мел", value: "ООО «ОМИА»"}, 
				{label: "Диоксид титана", value: "ООО «ДюПон Наука и Технология»"}, 
				{label: "Модификатор ударопрочности", value: "«Arkema France»"},
				{label: "Стабилизатор", value: "«ELNOVA Handelsgesellschaft GmbH»"},
				{label: "Древесина для паллет", value: "ООО «33 Дуба»"},
				{label: "Пленка для ламинации оконного профиля", value: "ООО «Ренолит»"},
				{label: "ПВХ", value: "ОАО «Саянскхимпласт»"}
				],
			img: "images/param-1.jpg"
	})
	
	.info-section
		+ParamBlock5({
			list: [
				{title: "Поставщики основного оборудования", label: "Экструзионное оборудование", value: "«KraussMaffei Technologies GmbH»"}, 
				{label: "Экструзионный инструмент", value: "«Greiner Extrusion GmbH»»"}, 
				{label: "Холодильные устройства", value: "«Gessner Kalte-Klima-Service GmbH»"},
				{label: "Дробильные установки", value: "«AMIS Maschinen-Vertriebs GmbH»"},
				{label: "Станция смешения и подачи сырья", value: "«Zeppelin Reimelt GmbH»"}
				]
	})
	.info-section
		+ParamBlock({
			list: [
				{title: "Поставщики основных комплектующих для изготовления оконных блоков", label: "Резиновые уплотнители", value: "«Semperit Gummiwerk Deggendorf GmbH»"}, 
				],
			img: "images/param-2.jpg"
	})

	//- +gridLayout()

block scripts
			//- list: [{label: "Метка", value: "Значение"}],
