mixin productsSection(data)
	.products-section&attributes(attributes)
		._bg
			picture
				if data.imgSm
					source(media="(max-width: 770px)" srcset=data.imgSm)
				if data.imgXs
					source(media="(max-width: 500px)" srcset=data.imgXs)
				img(src=data.img, alt="")
		._container.container.container--text
			._info
				h3._title
					!=data.title
				._params
					each params in data.params
						h5._param
							!=params.param
				._buttons
					a(href="#")._button.btn.btn--border.btn--white Подробнее о продукции
					a(href="#")._button.btn Калькулятор

include ../product-block/template
mixin productsSectionCatalog(data)
	.products-section.--catalog&attributes(attributes)
		h2._title Канцелярия
		._items
			._item
				+productBlock({
					slides: [{img: 'images/product-img-1.png'},{img: 'images/product-img-1.png'}],
					title: 'Папка BRUSBOX А4',
					text: 'Папка для документов с карманом',
					params: '<div><span>Формат: </span>А4</div> <div><span>Упаковка: </span>20 штук</div>'
				})
			._item
				+productBlock({
					slides: [{img: 'images/product-img-2.png'},{img: 'images/product-img-2.png'}],
					title: 'Беспроводная колонка BRUSBOX красная',
					text: 'Динамик Bluetooth® мощностью 3 Вт с возможностью беспроводной подзарядки<br> Совместимость с технологией TWS',
					params: '<div><span>Время автономной работы: </span>до 3х часов</div> <div><span>Время зарядки: </span>30 мин</div> <div><span>Цвет: </span>красный</div> <div><span>Материал: </span>пластик ABS</div> <div><span>Размер: </span>3.7 x 3.7 x 3.2 см</div>'
				})
		
		h2._title Упаковка
		._items
			._item
				+productBlock({
					slides: [{img: 'images/product-img-3.png'},{img: 'images/product-img-3.png'}],
					title: 'Упаковка подарочная ДОМ',
					text: 'Крыша дома откидывается и закрывается на магните.<br>Жесткая конструкция, подходит для формирования новогодних подарков,<br>например, можно собрать подарок из конфет, упаковки чая и вставить кружку BRUSBOX.<br>Данную упаковку не хочется выбрасывать,<br>поэтому она еще долго будет украшать офисы ваших клиентов',
					params: '<div><span>Изделие: </span>Упаковка подарочная, складная</div> <div><span>Цвет: </span> белый, красный</div> <div><span>Материал: </span>кашированный картон</div> <p><span>Размер: </span> 150 х 210 х 270 мм</p> <p><span>Упаковка: </span> 1 шт.(25 штук в коробке)</p> <div>Красная бумага (сено) для размещения внутри коробки в комплекте </div>'
				})
			._item
				+productBlock({
					slides: [{img: 'images/product-img-4.png'},{img: 'images/product-img-4.png'}],
					title: 'Пакет BRUSBOX',
					text: 'Большой вместительный пакет для больших и щедрых подарков 🙂',
					params: '<p><span>Размер: </span> 570x370x110 мм,(горизонтальный)</p> <p><span>Упаковка: </span>1 штука</p>'
				})
			._item
				+productBlock({
					slides: [{img: 'images/product-img-5.png'},{img: 'images/product-img-5.png'}],
					title: 'Одноразовые тарелки',
					text: 'Тарелки для ваших офисов продаж.<br>Приятно подавать угощения в имиджевой посуде.<br>Можно использовать для горячих блюд.',
					params: '<div><span>Размер: </span>  197х197 мм</div> <p><span>Материал: </span>картон, матовая ламинация.</p> <div><span>Упаковка: </span>50 штук</div>'
				})