.main-section {
	position: relative;
	// flex: 1 1 auto;

	&__bread {
		margin: 24px 0 20px;

		@include media($sm) {
			margin: 21px 0 14px;
		}
	}

	&__row {
		margin: 0 -30px;

		@include media($md) {
			margin: 0 -15px;
		}
	}

	&__col {
		padding: 0 30px;

		@include media($md) {
			padding: 0 15px;
		}
	}

	&__title {
		margin-bottom: 24px;
	}

	&__text {
		font: $fs-p1;
	}

	&--color-solutions & {
		&__left {
			letter-spacing: 0.02em;
			font: 300 36px/36px $baseFF;

			@include media($md) {
				font: 300 28px/34px $baseFF;
			}

			@include media($sm) {
				font: 300 25px/32px $baseFF;
				margin-bottom: 16px;
			}

			@include media($xs) {
				font: 300 16px/16px $baseFF;
			}
		}

		&__right {
			font: 300 18px/20px $baseFF;

			@include media($md) {
				font: 300 28px/34px $baseFF;
			}

			@include media($sm) {
				font: 300 20px/24px $baseFF;
			}

			@include media($xs) {
				font: 300 13px/14px $baseFF;
			}
		}
		&__info {
			@include media($sm) {
				flex-direction: column;
			}
		}
	}
	&--select-color & {
		&__contact-section {
			background-color: $bg-grey;
			padding: 60px 0;

			@include media($sm) {
				padding: 40px 0;
			}
		}
	}

	&--history & {

		&__subtitle {
			letter-spacing: 0.02em;
			color: $bb-gray;
			margin-bottom: 60px;
			text-transform: uppercase;

			@include media($md) {
				margin-bottom: 40px;
			}

			@include media($sm) {
				margin-bottom: 30px;
			}

			@include media($xs) {
				margin-bottom: 25px;
			}
		}

		&__text {
			font: 300 24px/26px $baseFF;

			@include media($md) {
				font: 300 18px/22px $baseFF;
			}

			@include media($sm) {
				margin-bottom: 30px;
			}

			@include media($xs) {
				margin-bottom: 16px;
				font: 300 13px/14px $baseFF;
			}
		}

		&__right {
			img {
				display: block;

				@include media($sm) {
					margin: 0 auto;
					object-fit: cover;
					min-height: 288px;
					max-height: 288px;
				}
			}
		}

		&__row {
			margin: 0 -10px 120px;

			@include media($lg) {
				margin-bottom: 90px;
			}

			@include media($md) {
				margin-bottom: 50px;
			}

			@include media($sm) {
				margin-bottom: 20px;
			}

			@include media($xs) {
				margin-bottom: 16px;
			}
		}
	}
}
