.main-section {
	position: relative;
	margin-top: -4px;
	padding-bottom: 48px;
	flex: 1 1 auto;
	&--news {
		padding-bottom: 0;
	}

	&__bread {
		margin-bottom: 30px;
	}
	&__title {
		text-align: center;
		margin-bottom: 40px;
		color: $black;
	}
	&__back {
		margin-bottom: 16px;
		&--bottom {
			margin-top: 60px;
			margin-bottom: 0;
		}

		@include media($md) {
			display: none;
		}
	}

	&__row {
		margin-bottom: -40px;
		&-item {
			margin-bottom: 40px;
		}

		&--md {
			margin-bottom: -24px;

			@include media($lg) {
				margin-bottom: -20px;
			}
			@include media($xs) {
				margin-bottom: -8px;
			}
		}
		&--md & {
			&-item {
				margin-bottom: 24px;
			}

			@include media($lg) {
				margin-bottom: 20px;
			}
			@include media($xs) {
				margin-bottom: 8px;
			}
		}
	}
	&__pagination {
		margin-top: 24px;
		@include flex(center);
	}

	@include media($lg) {
		&__bread {
			margin-bottom: 4px;
		}
		&__title {
			margin-bottom: 20px;
		}
	}
	@include media($md) {
		margin-top: 0;
		padding-bottom: 24px;

		&__title {
			margin-bottom: 8px;
		}
	}
	@include media($xs) {
		margin-top: 0;
		padding-bottom: 24px;

		&__bread {
			margin-bottom: 16px;
		}
		&__title {
			margin-bottom: 16px;
		}
	}

	&--page-404 & {
		&__title {
			text-align: center;
			margin-bottom: 14px;
			color: $gray2;
			font: 500 80px/1 $baseFF;
		}
		&__subtitle {
			text-align: center;
		}
		&__links {
			text-align: center;
			margin-top: 80px;
			color: $green;
			font: 600 16px/1.4 $baseFF;
		}

		@include media($lg) {
			&__links {
				margin-top: 40px;
			}
		}

		@include media($xs) {
			&__title {
				font-size: 48px;
				margin-bottom: 2px;
			}
			&__links {
				margin-top: 24px;
			}
		}
	}

	&--video-page & {
		&__title {
			margin-bottom: 56px;
		}
		&__nav {
			margin-bottom: 48px;
		}
		&__body {
			.main-section__pagination {
				margin-top: 48px;
			}
		}

		@include media($lg) {
			&__title {
				margin-bottom: 28px;
			}
			&__nav {
				margin-bottom: 24px;
			}
			&__body {
				.main-section__pagination {
					margin-top: 36px;
				}
			}
		}

		@include media($xs) {
			&__title {
				margin-bottom: 16px;
			}
			&__nav {
				margin-bottom: 16px;
			}
			&__body {
				.main-section__pagination {
					margin-top: 24px;
				}
			}
			&__row {
				margin-bottom: -20px;
				&-item {
					margin-bottom: 20px;
				}
			}
		}
	}

	&--about-page & {
		&__row {
			margin: 0 -10px -20px;
			&-item {
				margin-bottom: 20px;
				padding: 0 10px;
			}
		}
		&__boss {
			margin-top: 64px;
		}

		@include media($lg) {
			&__bread {
				margin-bottom: 16px;
			}
			&__boss {
				margin-top: 36px;
			}
		}

		@include media($md) {
			/* &__bread {
				margin-bottom: 16px;
			} */
			&__boss {
				margin-top: 16px;
			}
		}

		@include media($xs) {
			&__row {
				margin: 0 -10px -8px;
				&-item {
					margin-bottom: 8px;
				}
			}
		}
	}

	&--news-page & {
		&__bread {
			margin-bottom: 16px;
		}
		&__title {
			margin-bottom: 24px;
		}
		&__pagination {
			margin-top: 24px;
		}
		&__back {
			margin-bottom: 8px;
			&--bottom {
				margin-top: 24px;
				margin-bottom: 0;
			}
		}

		@include media($md) {
			&__back {
				display: none;
			}
			&__row {
				margin-bottom: -24px;
				&-item {
					margin-bottom: 24px;
				}
			}
		}

		@include media($xs) {
			&__title {
				margin-bottom: 16px;
			}
			&__pagination {
				margin-top: 16px;
			}
			&__row {
				margin-bottom: -16px;
				&-item {
					margin-bottom: 16px;

					.news-block {
						max-width: none;
					}
				}
			}
		}
	}

	&--comments-page & {
		&__title {
			margin-bottom: 40px;
		}
		&__pagination {
			margin-top: 40px;
		}

		&__row {
			margin: 0 -20px -40px;
			&-item {
				padding: 0 20px;
				margin-bottom: 40px;
			}
		}

		@include media($lg) {
			&__title {
				margin-bottom: 20px;
			}

			&__row {
				margin: 0 -10px -20px;
				&-item {
					padding: 0 10px;
					margin-bottom: 20px;
				}
			}
		}

		@include media($xs) {
			&__pagination {
				margin-top: 20px;
			}
		}
	}

	&--discounts-page & {
		&__title {
			margin-bottom: 40px;
		}
		&__pagination {
			margin-top: 60px;
		}

		&__row {
			margin: 0 -10px -40px;
			&-item {
				padding: 0 10px;
				margin-bottom: 40px;
			}
		}

		@include media($lg) {
			&__pagination {
				margin-top: 40px;
			}
		}

		@include media($md) {
			&__title {
				margin-bottom: 20px;
			}
			&__row {
				margin: 0 -10px -20px;
				&-item {
					padding: 0 10px;
					margin-bottom: 20px;
				}
			}
			&__pagination {
				margin-top: 20px;
			}
		}
	}

	&--news-view & {
		&__title {
			text-align: left;
		}
		&__body {
			max-width: 1244px;
			margin: 0 auto;
		}
		&__tags {
			margin-top: 24px;
			&-item {
				margin: 0 8px 8px 0;

				a {
					display: inline-block;
					padding: 5px 12px;
					color: $white;
					background-color: $black;
					font: 500 14px/20px $baseFF;
					border-radius: 4px;
				}
			}
		}
		&__video {
			margin: 46px 0;
		}

		@include media($lg) {
			&__bread {
				margin-bottom: 16px;
			}
			&__back {
				margin-bottom: 16px;
			}
			&__title {
				margin-bottom: 24px;
			}
			&__video {
				margin: 40px 0;
			}
		}
		@include media($md) {
			&__back {
				display: none;
			}
			&__video {
				margin: 24px 0;
			}
		}
		@include media($xs) {
			&__bread {
				margin-bottom: 16px;
			}
			&__title {
				margin-bottom: 16px;
			}
			&__tags {
				&-item {
					a {
						font: 500 12px/20px $baseFF;
					}
				}
			}
		}
	}

	&--products & {
		&__bread {
			margin-bottom: 16px;
		}
		&__title {
			margin-bottom: 24px;
		}
	}
}
