include ../breadcrumbs/template

mixin mainSection(data)
	.main-section&attributes(attributes)
		._head
			+webp(data.img)._head-img
			+breadcrumbs({
				items: data.bread
			})._bread
			h1._title
				!=data.title

		block

mixin mainSectionMode(data)
	.main-section.--mode&attributes(attributes)
		._head
			+breadcrumbs({
				items: data.bread
			})._bread
			+webp(data.img)._head-img
			._head-info
				h1._title
					!=data.title
				._subtitle
					!=data.subtitle

		block

mixin mainSectionBtn(data)
	.main-section.--btn&attributes(attributes)
		._head
			+webp(data.img)._img
			+breadcrumbs({
				items: data.bread
			})._bread
			._head-info
				h1._title
					!=data.title
				._button
					a(href="").btn.-border.-white
						!=data.btn

		block