mixin socListHeader(data)
	.soc-list.-header&attributes(attributes)
		._item
			a(href="#")
				+svg('telegram')
		._item
			a(href="#")
				+svg('whatsapp')

mixin socList(data)
	.soc-list&attributes(attributes)
		._item
			a(href="#")
				+svg('vk')
		._item
			a(href="#")
				+svg('odnoklassniki')
		._item
			a(href="#")
				+svg('youtube')
		._item
			a(href="#")
				+svg('facebook')
		._item
			a(href="#")
				+svg('instagram')

mixin socListSubscribe(data)
	.soc-list.--subscribe&attributes(attributes)
		._item
			a(href="#")
				+svg('vk')
		._item
			a(href="#")
				+svg('facebook')
		._item
			a(href="#")
				+svg('odnoklassniki')
		._item
			a(href="#")
				+svg('twitter')