mixin placeSection(data)
	.place-section&attributes(attributes)
		._bg
			picture
				source(media="(max-width: 770px)" srcset='images/map-section-bg-sm.png')
				img(src=data.img, alt="")
		._info
			._container.container--text
				h3._title
					!=data.title
				._text
					!=data.text
				._button
					a(href="#").btn.-border Где купить