mixin employeBlock(data)
	.employe-block&attributes(attributes)
		._img
			+webp(data.img)
		._info
			._info-title
				!=data.title
			._item
				!=data.subtitle
			a(href="tel:+74952691719")._item
				+svg('diler-phone')._icon
				!=data.phone
			a(href="tel:+79057295250")._item
				+svg('mobile')._icon
				!=data.mobile
			a(href="mailto:ozerova@brusbox.ru")._item
				+svg('diler-email')._icon
				!=data.mail