mixin articleCreatorBlock(data)
	.article-creator-block&attributes(attributes)
		._container.container
			._row
				._author Автор статьи:
				._img
					+webp("images/article-creator-1.jpg")
				._info
					._title Романенко Роман Юрьевич
					._subtitle Эксперт в области монтажа оконных систем Brusbox