mixin articleCreatorBlock(data)
	.article-creator-block&attributes(attributes)
		._row
			._author Автор статьи:
			._img
				img(src="images/article-creator-1.jpg", alt="")
			._info
				._title Романенко Роман Юрьевич
				._subtitle Эксперт в области монтажа оконных систем Brusbox