.dilers-block {
	&__title {
		@include flex(0,center,center,0);
		font-weight: 550;
		margin-bottom: 5px;
	}

	&__icon {
		width: 24px;
		height: 24px;
		margin-right: 8px;

		@include media($xs){ margin-right: 4px; }
	}

	&__item {
		@include flex(0,center,center,0);
		margin-bottom: 5px;
	}

	&__items {
		max-width: 386px;
		@include flex(space-between,center,center,0);

		@include media($md) {
			max-width: 310px;
			flex-wrap: wrap;
		}
	}
}
