mixin dilersBlock(data)
	.dilers-block&attributes(attributes)
		._title
			+svg('diler-title')._icon
			span
				!=data.title
		._item
			+svg('diler-location')._icon
			span
				!=data.location
			
		._item
			+svg('diler-email')._icon
			span
				!=data.email
		._items
			._item
				+svg('diler-phone')._icon
				span
					!=data.tel1
			._item
				+svg('diler-phone')._icon
				span
					!=data.tel2

mixin dilersBlock2(data)
	.dilers-block&attributes(attributes)
		._title
			+svg('diler-title')._icon
			span
				!=data.title
		._item
			+svg('diler-location')._icon
			span
				!=data.location
		._item
			+svg('website')._icon
			span
				!=data.website
		._item
			+svg('diler-email')._icon
			span
				!=data.email
		._items
			._item
				+svg('diler-phone')._icon
				span
					!=data.tel1
			._item
				+svg('diler-phone')._icon
				span
					!=data.tel2

mixin dilersBlock3(data)
	.dilers-block&attributes(attributes)
		._title
			+svg('diler-title')._icon
			span
				!=data.title
		._item
			+svg('diler-location')._icon
			span
				!=data.location
		._item
			+svg('website')._icon
			span
				!=data.website
		._item
			+svg('diler-email')._icon
			span
				!=data.email
		._items
			._item
				+svg('diler-phone')._icon
				span
					!=data.tel1

mixin dilersBlock4(data)
	.dilers-block&attributes(attributes)
		._title
			+svg('diler-title')._icon
			span
				!=data.title
		._item
			+svg('diler-location')._icon
			span
				!=data.location
		._item
			+svg('diler-email')._icon
			span
				!=data.email
		._items
			._item
				+svg('diler-phone')._icon
				span
					!=data.tel1

mixin dilersBlockAction(data)
	.dilers-block&attributes(attributes)
		a(href="#")._item
			+svg('diler-location')._icon
			span
				!=data.location
		a(href="#")._item
			+svg('website')._icon
			span
				!=data.website
		a(href="#")._item
			+svg('diler-email')._icon
			span
				!=data.email
		._items
			a(href="#")._item
				+svg('diler-phone')._icon
				span
					!=data.tel1
			a(href="#")._item
				+svg('diler-phone')._icon
				span
					!=data.tel2