.text-section {
	padding: 120px 0;

	@include media($md) {
		padding: 60px 0;
	}

	@include media($sm) {
		padding: 40px 0;
	}

	@include media($xs) {
		padding: 16px 0;
	}

	&__row {
		margin: 0 -30px;

		@include media($md) {
			margin: 0 -15px;
		}
	}

	&__img,
	&__img-1,
	&__img-2,
	&__info {
		padding: 0 30px;

		@include media($md) {
			padding: 0 15px;
		}
	}

	&__img {
		img {
			display: block;

			@include media($md) {
				margin: 0 auto 25px;
			}

			@include media($xs) {
				margin: 0 auto 16px;
				object-fit: cover;
				height: 288px;
			}
		}
	}

	&__title {
		font: 300 36px/36px $baseFF;
		margin-bottom: 16px;

		@include media($sm) {
			font: 300 25px/25px $baseFF;
		}

		@include media($xs) {
			font: 300 16px/16px $baseFF;
		}
	}

	&__text {
		font: 300 24px/26px $baseFF;

		@include media($sm) {
			font: 300 18px/20px $baseFF;
		}

		@include media($xs) {
			font: 300 13px/14px $baseFF;
		}
	}

	&--mode {
		background-color: $bg-grey;
		padding: 60px 0;

		@include media($md) {
			padding: 30px 0;
		}

		@include media($sm) {
			padding: 30px 0;
		}

		@include media($xs) {
			padding: 16px 0;
		}
	}

	&--mode & {
		&__img {
			@include media($md) {
				&-1 img {
					max-height: 288px;
					object-fit: cover;
					display: block;
					margin: 0 auto 16px;
				}

				&-2 img {
					max-height: 288px;
					object-fit: cover;
					display: block;
					margin: 16px auto 0;
				}
			}

			@include media($xs) {
				&-1 img {
					width: 100%;
				}

				&-2 img {
					width: 100%;
				}
			}
		}
	}
}
