.text-section {
	padding: 100px 0;

	&__buttons {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 50px;
	}
	&__list {
		padding-left: 28px;
	}

	&--text-center {
		text-align: center;
	}

	&--border & {
		&__row {
			position: relative;
			justify-content: space-between;

			&::after {
				content: "";
				bottom: 0;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				position: absolute;
				display: block;
				height: 100%;
				width: 1px;
				background: $gray-200;
			}
		}
		&__col {
			max-width: 736px;
		}
	}
}
