.text-section {
	padding: 100px 0;

	@include media($md) {
		padding: 64px 0;
	}

	@include media($sm) {
		padding: 70px 0;
		font-size: 22px;
	}

	@include media($xs) {
		padding: 40px 0;
		font-size: 13px;
	}

	&__buttons {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 50px;
	}

	&--center-btn & {
		&__buttons {
			margin-top: 24px;
		}
	}


	&__list {
		padding-left: 28px;
	}

	&--text-center {
		text-align: center;
	}

	&--border & {
		&__row {
			position: relative;
			justify-content: space-between;

			&::after {
				content: "";
				bottom: 0;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				position: absolute;
				display: block;
				height: 100%;
				width: 1px;
				background: $gray-200;
			}
		}

		&__col {
			max-width: 736px;
		}
	}

	&--center {
		text-align: center;
	}

	&--title-gray {
		padding: 101px 0 49px;
		color: $gray-medium;
	}

	&--title-gray & {
		&__title {
			margin-bottom: 0;
		}
	}

	&--long {
		padding: 112px 0 60px;
	}

	&--long-2 {
		padding: 112px 0px;
	}

	&--long-3 {
		padding: 120px 0px
	}
	&--small {
		padding: 40px 0px;
	}
	&--gray{
		background: $bg-grey;
	}

	&--gray-dark{
		background: $gray-200;
	}

	&--title-black {
		color: $black;
	}

	&--special-padding {
		padding: 112px 0 40px;
	}
}