mixin sortBlock(data)
	.sort-block&attributes(attributes)
		<select class="nice-select" name="" data-js-placeholder="Выбрать">
			<option class="option">Базовый</option>
			<option class="option">Без питания</option>
			<option class="option">Все включено</option>
		</select>