include ../accardion-block/template

mixin mapSection(data)
	.map-section&attributes(attributes)
		._row.row
			._map-accardions.col-4
				+accardionBlockDilers({
					title: 'Петровские окна'
				}).map-section__map-accardion
				+accardionBlockDilers({
					title: 'Петровские окна'
				}).map-section__map-accardion
				+accardionBlockDilers({
					title: 'Российские оконные и дверные системы'
				}).map-section__map-accardion
				+accardionBlockDilers({
					title: 'Петровские окна'
				}).map-section__map-accardion
			.map-section__map-img.col-8
				img(src="images/map.jpg", alt="")