include ../accardion-block/template

mixin mapSection(data)
	.map-section&attributes(attributes)
		._row.row
			._map-accardions.col-4.col-md-5.col-sm-12
				+accardionBlockDilers({
					title: 'Петровские окна'
				}).map-section__map-accardion
				+accardionBlockDilers({
					title: 'Петровские окна'
				}).map-section__map-accardion
				+accardionBlockDilers({
					title: 'Российские оконные и дверные системы'
				}).map-section__map-accardion
				+accardionBlockDilers({
					title: 'Петровские окна'
				}).map-section__map-accardion
			.map-section__map-item.col-8.col-md-7.col-sm-12
				#black_map

mixin mapSectionContainer(data)
	.map-section&attributes(attributes)
		._container.container
			._row.row
				._map-accardions.col-4.col-md-5.col-sm-12
					+accardionBlockLocation({
						title: 'с. Сакмара, ул. Советская, д. 22'
					}).map-section__map-accardion
					+accardionBlockLocation({
						title: 'ул. Первая, д. 10'
					}).map-section__map-accardion
					+accardionBlockLocation({
						title: 'ул. Вторая, д. 43'
					}).map-section__map-accardion
				.map-section__map-item.col-8.col-md-7.col-sm-12
					#black_map