include ../accardion-block/template

mixin mapSection(data)
	.map-section&attributes(attributes)
		.map-section__row.row
			.main-section__map-accardions.col-4
				+accardionBlockDilers({
					title: 'Петровские окна'
				}).main-section__map-accardion
				+accardionBlockDilers({
					title: 'Петровские окна'
				}).main-section__map-accardion
				+accardionBlockDilers({
					title: 'Российские оконные и дверные системы'
				}).main-section__map-accardion
				+accardionBlockDilers({
					title: 'Петровские окна'
				}).main-section__map-accardion
			.main-section__map-img.col-8
				img(src="images/map.jpg", alt="")