.palette-block {
	&__head {
		@include flex(space-between, center, center);
		margin-bottom: 24px;

		@include media($xs) {
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			align-content: flex-start;
			margin-bottom: 8px;
		}
	}

	&__title {
		font: 300 28px/30px $baseFF;

		@include media($xs) {
			font: 300 20px/20px $baseFF;
			margin-bottom: 16px;
		}
	}

	&__info {
		@include flex(0, center, center, center);
		color: $bb-gray;
		font: 400 14px/14px $baseFF;

		@include media($xs) {
			font: 400 12px/13px $baseFF;
		}
	}

	&__copy {
		svg {
			margin-left: 4px;
			width: 24px;
			height: 24px;
		}
		&:hover {
			cursor: pointer;
		}
	}

	&__colors {
		@include flex(0, center, center, center);
		flex-wrap: wrap;
		margin-bottom: -5px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__color {
		margin-bottom: 10px;
		transition: all 0.3s;

		&:hover {
			cursor: pointer;
			transition: all 0.3s;
			// transform: scale(1.1);
			outline-offset: -8px;
			outline: 8px solid rgba($btn-red, 0.5);
		}

		&.is-active {
			outline-offset: -8px;
			outline: 8px solid rgba($btn-red, 0.5);
		}

		border-radius: 50%;
		margin-right: 3px;

		@include media($sm) {
			width: 26px;
			height: 26px;
			margin-right: 15px;

			&:last-child {
				margin-right: 0;
			}
		}
		
		img {
			display: block;
			width: 42px;
			height: 42px;
			object-fit: contain;
		}
	}

	&--lamination & {
		&__head {
			justify-content: center;
			margin-bottom: 24px;
		}

		&__colors {
			justify-content: center;
		}

		&__title {
			margin-right: 24px;
		}
	}
}
