mixin paletteBlock(data)
	.palette-block&attributes(attributes)
		._head
			._title Ламинация
			._info
				span Ирландский дуб / арт. 3211005
				a(href="#")._copy
					+svg('copy-2')
		._colors
			img(src="./images/color-1.jpg", alt="" data-id='1')._color.js-palette.is-active
			img(src="./images/color-2.jpg", alt="" data-id='2')._color.js-palette
			img(src="./images/color-3.jpg", alt="" data-id='3')._color.js-palette
			img(src="./images/color-4.jpg", alt="" data-id='4')._color.js-palette
			img(src="./images/color-5.jpg", alt="" data-id='5')._color.js-palette
			img(src="./images/color-6.jpg", alt="" data-id='6')._color.js-palette
			img(src="./images/color-7.jpg", alt="" data-id='7')._color.js-palette
			img(src="./images/color-8.jpg", alt="" data-id='8')._color.js-palette
			img(src="./images/color-9.jpg", alt="" data-id='9')._color.js-palette
			img(src="./images/color-10.jpg", alt="" data-id='10')._color.js-palette
			img(src="./images/color-11.jpg", alt="" data-id='11')._color.js-palette
			img(src="./images/color-12.jpg", alt="" data-id='12')._color.js-palette
			img(src="./images/color-13.jpg", alt="" data-id='13')._color.js-palette
			img(src="./images/color-14.jpg", alt="" data-id='14')._color.js-palette
			img(src="./images/color-15.jpg", alt="" data-id='15')._color.js-palette
			img(src="./images/color-16.jpg", alt="" data-id='16')._color.js-palette
			img(src="./images/color-17.jpg", alt="" data-id='17')._color.js-palette
			img(src="./images/color-18.jpg", alt="" data-id='18')._color.js-palette
			img(src="./images/color-19.jpg", alt="" data-id='19')._color.js-palette
			img(src="./images/color-20.jpg", alt="" data-id='20')._color.js-palette
			img(src="./images/color-21.jpg", alt="" data-id='21')._color.js-palette
			img(src="./images/color-22.jpg", alt="" data-id='22')._color.js-palette
			img(src="./images/color-23.jpg", alt="" data-id='23')._color.js-palette
			img(src="./images/color-24.jpg", alt="" data-id='24')._color.js-palette
			img(src="./images/color-25.jpg", alt="" data-id='25')._color.js-palette
			img(src="./images/color-26.jpg", alt="" data-id='26')._color.js-palette
			img(src="./images/color-27.jpg", alt="" data-id='27')._color.js-palette
			img(src="./images/color-28.jpg", alt="" data-id='28')._color.js-palette
			img(src="./images/color-29.jpg", alt="" data-id='29')._color.js-palette
			img(src="./images/color-30.jpg", alt="" data-id='30')._color.js-palette
			img(src="./images/color-31.jpg", alt="" data-id='31')._color.js-palette
			img(src="./images/color-32.jpg", alt="" data-id='32')._color.js-palette
			img(src="./images/color-33.jpg", alt="" data-id='33')._color.js-palette
			img(src="./images/color-34.jpg", alt="" data-id='33')._color.js-palette
			img(src="./images/color-35.jpg", alt="" data-id='35')._color.js-palette
			img(src="./images/color-36.jpg", alt="" data-id='36')._color.js-palette
			img(src="./images/color-37.jpg", alt="" data-id='37')._color.js-palette
			img(src="./images/color-38.jpg", alt="" data-id='38')._color.js-palette
			img(src="./images/color-39.jpg", alt="" data-id='39')._color.js-palette
			img(src="./images/color-40.jpg", alt="" data-id='40')._color.js-palette
			img(src="./images/color-41.jpg", alt="" data-id='41')._color.js-palette
			img(src="./images/color-42.jpg", alt="" data-id='42')._color.js-palette
			img(src="./images/color-43.jpg", alt="" data-id='43')._color.js-palette
			img(src="./images/color-44.jpg", alt="" data-id='44')._color.js-palette
			img(src="./images/color-45.jpg", alt="" data-id='45')._color.js-palette
			img(src="./images/color-46.jpg", alt="" data-id='46')._color.js-palette
			img(src="./images/color-47.jpg", alt="" data-id='47')._color.js-palette
			img(src="./images/color-48.jpg", alt="" data-id='48')._color.js-palette

mixin paletteBlockSmall(data)
	.palette-block&attributes(attributes)
		._head
			._title цвет профиля
			._info
				span Карамель / арт. 23405
				a(href="#")._copy
					+svg('copy-2')
		._colors
			img(src="./images/color-49.jpg", alt="" data-id='1')._color.js-palette-profile.is-active
			img(src="./images/color-50.jpg", alt="" data-id='2')._color.js-palette-profile
			img(src="./images/color-51.jpg", alt="" data-id='3')._color.js-palette-profile
			img(src="./images/color-52.jpg", alt="" data-id='4')._color.js-palette-profile