.history-section {
	&__container {
		&--sm {
			max-width: $containerSm;
		}
	}

	&__title {
		font: 100 140px/128px $baseFF;
		text-transform: uppercase;
		margin-bottom: 50px;

		@include media($lg) {
			font: 100 100px/100px $baseFF;
		}

		@include media($md) {
			font: 100 80px/80px $baseFF;
			margin-bottom: 30px;
		}

		@include media($sm) {
			font: 100 40px/40px $baseFF;
			margin-bottom: 20px;
		}

		@include media($xs) {
			font: 100 34px/31px $baseFF;
			margin-bottom: 12px;
		}
	}

	&__item {
		position: relative;
		background-color: #fff;

		@include media($xs) {
			padding: 40px 0;
		}

		&:nth-child(even) {
			padding: 30px 0;
			
			@include media($xs) {
				padding: 25px 0;
			}
		}

		&:nth-child(odd) {
			padding: 139px 0;

			@include media($xs) {
				padding: 40px 0;
			}

			.history-section__item-row {
				flex-direction: row-reverse;

				@include media($sm) {
					flex-direction: column;
				}

				&::before {
					transform: rotate(180deg);
					left: calc(50% - 40px);

					@include media($sm) {
						left: 16px;
						transform: rotate(0deg);
					}

					@include media($xs) {
						left: 0;
					}
				}
			}
		}

		&::after {
			position: absolute;
			content: "";
			display: block;
			top: 0;
			left: calc(50% - 1px);
			bottom: 0;
			width: 2px;
			background-color: $red;

			@include media($sm) {
				left: 26px;
			}

			@include media($xs) {
				left: 16px;
			}
		}

		&--gray {
			background-image: url("../images/history-bg.png");
			background-size: 100% 100%;
			background-repeat: no-repeat;

			@include media($xs) {
				background-size: 300% 100%;
			}
		}

		// &-bg {
		// 	position: absolute;
		// 	top: 0;
		// 	left: 0;
		// 	right: 0;
		// 	bottom: 0;
		// }

		&-row {
			@include flex(space-between, center, center);
			position: relative;
			margin-left: 0;
			margin-right: 0;

			@include media($sm) {
				@include flex(flex-end, flex-start, flex-end, 0, column);
				padding-left: 74px;
			}

			@include media($xs) {
				padding-left: 26px;
			}

			&::before {
				position: absolute;
				content: "";
				display: block;
				top: 65px;
				left: calc(50%);
				bottom: 0;
				width: 40px;
				height: 40px;
				background: url("../images/triangle.svg");
				background-size: 40px;
				background-repeat: no-repeat;
				background-position: center;

				@include media($md) {
					top: 35px;
				}

				@include media($sm) {
					left: 16px;
					top: 306px;
				}

				@include media($xs) {
					left: 0;
					background-size: 20px;
					width: 20px;
					height: 20px;
					top: 189px;
				}
			}
		}

		&-img {
			max-width: 560px;
			width: 100%;

			@include media($lg) {
				max-width: 450px;
			}

			@include media($md) {
				max-width: 360px;
			}

			@include media($sm) {
				max-width: 460px;
				margin-bottom: 26px;
			}

			@include media($xs) {
				max-width: 262px;
				margin-bottom: 16px;
			}
		}

		&-info {
			max-width: 560px;

			@include media($lg) {
				max-width: 460px;
			}

			@include media($md) {
				max-width: 400px;
			}

			@include media($sm) {
				max-width: 100%;
			}
		}

		&-date {
			font: 100 180px/180px $baseFF;
			margin-bottom: 5px;

			@include media($lg) {
				font: 100 120px/120px $baseFF;
			}

			@include media($md) {
				font: 100 100px/100px $baseFF;
			}

			@include media($sm) {
				font: 100 80px/80px $baseFF;
			}

			@include media($xs) {
				font: 100 64px/64px $baseFF;
			}
		}

		&-text {
			font: 300 18px/19px $baseFF;

			@include media($lg) {
				font: 300 16px/18px $baseFF;
			}

			ul {
				padding-left: 20px;
				@include media($xs) {
					padding-left: 0;
					list-style: none;
				}
			}
		}
	}
}
