mixin historySection(data)
	.history-section&attributes(attributes)
		._container.container
			h2._title.title-h2 История развития компании
			._item.--gray
				._item-row.row
					+webp("images/history-1.jpg")._item-img
					._item-info
						._item-date 2004
						._item-text Первое и главное событие:<br> День рождения «БРУСБОКС» — образование компании<br> В этот же год:<br> участие в 1-й Международной выставке «Окна и Фасады», где была презентована первая профильная система компании — BRUSBOX 60-3
			
			._item.--reverse
				._item-row.row
					+webp("images/history-2.jpg")._item-img
					._item-info
						._item-date 2006
						._item-text
							p Сразу два события:
							ul
								li Расширение и модернизация завода «БРУСБОКС». Увеличение производственной мощности предприятия в 3 раза!
								li Выпущена новая профильная четырехкамерная система — BRUSBOX 60-4
			
			._item.--gray
				._item-row.row
					+webp("images/history-6.jpg")._item-img
					._item-info
						._item-date 2007
						._item-text Компания «БРУСБОКС» вступила в Общероссийскую общественную организацию «Деловая Россия» и «Ассоциацию строителей России»
			
			._item.--reverse
				._item-row.row
					+webp("images/history-3.jpg")._item-img
					._item-info
						._item-date 2009
						._item-text Сразу два события:<br> Расширение и модернизация завода «БРУСБОКС». Увеличение производственной мощности предприятия в 3 раза!<br> Выпущена новая профильная четырехкамерная система — BRUSBOX 60-4

			._item.--gray
				._item-row.row
					+webp("images/history-4.jpg")._item-img
					._item-info
						._item-date 2010
						._item-text Первое и главное событие:<br> День рождения «БРУСБОКС» — образование компании<br> В этот же год:<br> участие в 1-й Международной выставке «Окна и Фасады», где была презентована первая профильная система компании — BRUSBOX 60-3

			._item.--reverse
				._item-row.row
					+webp("images/history-5.jpg")._item-img
					._item-info
						._item-date 2013
						._item-text Компания «БРУСБОКС» вступила в Общероссийскую общественную организацию «Деловая Россия» и «Ассоциацию строителей России»