.contact-section {
	background-color: $bg-grey;
	padding: 60px 0 80px;

	@include media($sm) {
		padding: 40px 0;
	}

	&__row {
	}
	&__left {
	}
	&__title {
		text-transform: uppercase;

		@include media($xs) {
			margin-bottom: 16px;
		}
	}
	&__right {
	}

	&--order & {
		&__banner {
			display: block;
			@include media($sm) {
				max-height: 348px;
				max-width: 700px;
				width: 100%;
				margin: 40px auto 0 ;
			}
			@include media($xs) {
				min-height: 348px;
				object-fit: cover;
				object-position: left;
			}
		}
	}
}
