include ../form-block/template

mixin contactSection(data)
	.contact-section&attributes(attributes)
		._container.container.container--full
			._row.row
				._left
					+formBlockContacts._form
				._right
					+webp("images/contact-img.jpg")

mixin contactSectionOrder(data)
	.contact-section.--order&attributes(attributes)
		._container.container.container--full
			._row.row
				._left
					+formBlockContactsOrder._form
				._right
					+webp("images/order-banner.jpg")._banner


mixin contactSectionOrder2(data)
	.contact-section.--order&attributes(attributes)
		._container.container.container--full
			._row.row
				._left
					+formBlockContactsOrder2._form
				._right
					+webp("images/form-bg-order-2.jpg")._banner
					

mixin contactSectionSubscribe(data)
	.contact-section.--suvscribe&attributes(attributes)
		._container.container.container--full
			._row.row
				._left
					+formBlockSunscribe._form
				._right
					+webp("images/contact-img.jpg")

mixin contactSectionSubscribeArticles(data)
	.contact-section.--suvscribe&attributes(attributes)
		._container.container.container--full
			._row.row
				._left
					+formBlockSunscribeArticles._form
				._right
					+webp("images/contact-img.jpg")

mixin contactSectionBg(data)
	.contact-section.--full-bg.--text-left&attributes(attributes)
		._img
			+webp("images/bg-buyers-product.jpg")
		._container.container
			._text
				+formBlockContactsBuy._form
