include ../form-block/template

mixin contactSection(data)
	.contact-section&attributes(attributes)
		._container.container
			._row.row
				._left.col-6.col-sm-12
					+formBlockContacts._form
				._right.col-6.col-sm-12
					img(src="images/contact-img.jpg", alt="")

mixin contactSectionOrder(data)
	.contact-section.--order&attributes(attributes)
		._container.container
			._row.row
				._left.col-6.col-sm-12
					+formBlockContactsOrder._form
				._right.col-6.col-sm-12
					img(src="images/order-banner.jpg", alt="")._banner
					