include ../form-block/template

mixin contactSection(data)
	.contact-section&attributes(attributes)
		._container.container
			._row.row
				._left.col-6.col-sm-12
					._title.title-h2 Обратная<br> связь
				._right.col-6.col-sm-12
					+formBlockContacts._form