.popup {
	position: fixed;
	top: 0;
	left: -10000px;
	width: 100%;
	z-index: 9999;
	height: 100%;
	display: block;
	visibility: hidden;
	pointer-events: none;
	opacity: 0;
	padding: 50px 30px;
	overflow-y: auto;
	//@include time(0.4s, opacity);
	transition: left 0s ease 0.5s, opacity 0.1s ease;

	&__overflow {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		display: block;
		background: rgba($black, 0.68);
	}

	&__wrapper {
		position: relative;
		width: 100%;
		padding: 48px;
		max-width: 810px;
		margin: auto;
		z-index: 1;
		background: $white;
		border-radius: 8px;
		transform: translateY(150px) rotateX(-85deg);
		opacity: 0;
		@include time(0.4s);
		perspective: 1000px;
		perspective-origin: 50% 50%;
	}

	&__close {
		width: 20px;
		height: 20px;
		cursor: pointer;
		position: absolute;
		top: 15px;
		z-index: 10;
		right: 15px;
		margin: 0;
		padding: 0;
		visibility: visible;
		@include time();
		@include flex(center, center, center);

		@include media($sm) {
			top: 8px;
			right: 8px;
		}

		svg {
			font-size: 20px;
			@include time();
		}

		&:hover {
			svg {
				fill: $black;
			}
		}
	}
	&__title {
		text-align: center;
		margin: 0 0 24px;
		// font: bold 24px/1.2 $baseFF;
		color: $black;
	}
	&__desc {
		text-align: center;
		margin-bottom: 32px;
		font: $fs-p2;
		color: $black;

		&:last-child {
			margin-bottom: 0;
		}
	}
	&__input {
		margin-bottom: 20px;
	}
	&__form {
		margin: 0 auto;
		max-width: 402px;
	}
	&__buttons {
		margin-top: 40px;
		margin-bottom: -16px;
		@include flex(center);

		.btn {
			margin: 0 16px 16px;
			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}

	&.is-active,
	&.active {
		opacity: 1;
		visibility: visible;
		left: 0;
		pointer-events: auto;
		transition: left 0s ease, opacity 0.1s ease;
	}
	&.is-active &,
	&.active & {
		&__wrapper {
			transform: translateY(0) scale(1, 1) rotateX(0);
			opacity: 1;
		}
	}

	@include media($xs) {
		&__wrapper {
			padding: 30px 25px;
		}
		&__close {
			width: 12px;
			height: 12px;
			top: 8px;
			right: 8px;
			svg {
				font-size: 12px;
			}
		}
		&__title {
			margin: 0 0 16px;
			font: $title-h2-xs;
		}
		&__desc {
			margin-bottom: 16px;
			font: $fs-p2-xs;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&--location-list & {
		&__list {
			max-height: 656px;
			overflow: scroll;

			&::-webkit-scrollbar {
				width: 2px;
			}

			&::-webkit-scrollbar-track {
				background-color: transparent;
			}

			&::-webkit-scrollbar-thumb {
				background-color: $black;
				border-radius: 12px;
				width: 8px;
				height: 287px;
			}

			&-title {
				margin-bottom: 16px;
			}
		}

		&__subtitle {
			color: #b9b9b9;
			margin-bottom: 24px;
			margin-top: 16px;
		}

		&__items {
			margin-bottom: 32px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&__item {
			margin-bottom: 8px;
			transition: all 0.3s;
			display: block;

			&:hover {
				transition: all 0.3s;
				color: $medium-gray;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		&__letter {
			color: #b9b9b9;
			padding-bottom: 8px;
			border-bottom: 1px solid #b9b9b9;
		}

		&__wrapper {
			position: relative;

			&::after {
				position: absolute;
				content: "";
				display: block;
				height: 60px;
				width: 100%;
				left: 0;
				right: 0;
				bottom: 45px;
				background: linear-gradient(180deg, #ffffff 8.33%, rgba(255, 255, 255, 0) 100%);
				transform: matrix(1, 0, 0, -1, 0, 0);
			}
		}
	}

	&--model & {
		&__wrapper {
			max-width: 460px;

			@include media($xs) {
				max-width: 350px;

				padding-top: 30px;
				padding-bottom: 25px;
			}
		}

		&__item {
			@include flex(space-between,center,center,0);
			margin-bottom: 8px;
		}

		&__icon {
			background-color: $gray-bridge;
			border-radius: 50%;
			@include flex(center,center,center);
			height: 40px;
			width: 40px;

			@include media($xs) {
				height: 30px;
				width: 30px;
			}

			svg {
				width: 17px;
				height: 17px;

				@include media($xs) {
					height: 13px;
					width: 13px;
				}
			}
		}

		&__button {
			margin-top: 40px;

			@include media($xs) {
				margin-top: 25px;
			}
		}
	}

	&--location & {
		&__title {
			margin-bottom: 16px;
			font-weight: 400;
			@include media($xs) {
				font: 400 16px/20px $baseFF;
			}
		}

		&__buttons {
			margin-top: 0;
			.btn {
				min-width: 150px;

				@include media($xs) {
					min-width: 90px;
				}
			}
		}

		&__wrapper {
			max-width: 470px;
		}
	}

	&--login & {

		&__wrapper {
			max-width: 870px;
			width: 100%;
			padding: 112px;

			@include media($sm) {
				padding: 45px;
			}

			@include media($xs) {
				padding: 30px 20px;
			}
		}
	}

	&--request & {
		&__row {
			@include flex(center,center,center,0);

			@include media($sm) {
				flex-direction: column;
			}
		}

		&__send {
			display: none;

			&.is-active {
				display: block;
			}

			&-title {
				margin-bottom: 16px;
			}
		}
 
		&__wrapper {
			padding: 0;
			max-width: 1247px;
			width: 100%;
		}

		&__img {
			max-width: 50%;
			width: 100%;
			min-height: 100%;
			img {
				object-fit: cover;
				width: 100%;
				display: block;
				height: 100%;

				@include media($sm) {
					max-height: 300px;
					min-height: auto;
					border-radius: 8px 8px 0 0;
				}

				@include media($xs) {
					max-height: 200px;
				}
			}

			@include media($sm) {
				max-width: 100%;
				max-height: 300px;
				min-height: auto;
			}

			@include media($xs) {
				max-height: 200px;
			}
		}

		&__form {
			padding: 112px 85px 112px 85px;
			max-width: 50%;
			width: 100%;

			@include media($md) {
				padding: 20px 50px 20px 50px;
			}

			@include media($sm) {
				max-width: 100%;
			}

			@include media($xs) {
				padding: 20px 30px 20px 30px;
			}
		}

		&__buttons {
			@include media($sm) {
				margin-top: 20px;
			}
		}
	}

	/***-----------------------------------****** Можно удалить по окончанию проекта **************--------------------------*******/

	&--add-product & {
		&__wrapper {
			padding: 56px 24px 48px;
			max-width: 530px;
		}
		&__title {
			color: $black;
			font: $title-h3;
			margin-bottom: 40px;
		}

		@include media($xs) {
			&__wrapper {
				padding: 44px 28px;
			}

			&__title {
				margin-bottom: 32px;
				font: $title-h2-xs;
			}
			&__buttons {
				display: block;
				margin-top: 34px;
				.btn {
					width: 100%;
					margin: 0 0 16px;
				}
			}
		}
	}

	&--finish & {
		&__wrapper {
			padding-top: 50px;
			padding-bottom: 50px;
			max-width: 490px;
		}

		&__title {
			margin-bottom: 24px;
		}

		@include media($xs) {
			&__wrapper {
				padding: 40px 28px;
			}

			&__title {
				margin-bottom: 16px;
			}
		}
	}

	&--registration & {
		&__wrapper {
			padding: 48px;
			max-width: 640px;
		}
		&__form {
			max-width: 100%;
		}

		@include media($xs) {
			&__wrapper {
				padding: 20px 28px 28px;
			}

			&__title {
				margin-bottom: 16px;
				font-size: 18px;
			}
			&__input {
				margin-bottom: 16px;
			}

			&__buttons {
				margin-top: 16px;
				.btn {
					width: 100%;
				}
			}
		}
	}

	&--map {
		@include media($xs) {
			padding: 50px 11px;
		}
	}

	&--map & {
		&__row {
			@include flex(0,center,center,0);
			margin-bottom: 16px;

			@include media($sm) {
				flex-direction: column;
				margin-bottom: 40px;
			}
		}

		&__text {
			margin-bottom: 40px;

			@include media($md) {
				margin-bottom: 16px
			}

			@include media($sm) {
				margin-bottom: 40px
			}

			@include media($xs) {
				margin-bottom: 16px
			}
		}

		&__links {
			@include flex(0,center,center);

			@include media($sm) {
				flex-direction: column;
				align-items: flex-start;
				justify-content: flex-start;
				align-content: flex-start;
			}
		}

		&__link {
			@include flex(0,center,center,0);
			margin-right: 60px;

			&:last-child {
				margin-right: 0;
			}

			@include media($sm) {
				margin-bottom: 16px;

				&:last-child {
					margin-bottom: 0;
				}
			}

			@include media($xs) {
				margin-bottom: 4px;
				margin-right: 0;

				&:last-child {
					margin-bottom: 0;
				}
			}

			&-icon {
				height: 40px;
				width: 40px;
				border-radius: 50%;
				background-color: $gray-bridge;
				@include flex(center,center,center,0);
				margin-left: 16px;
				svg {
					width: 24px;
					height: 24px;
				}

				@include media($xs) {
					height: 32px;
					width: 32px;

					svg {
						width: 17px;
						height: 17px;
					}
				}
			}
		}

		&__img {
			&-1,
			&-2 {
				height: 420px;
				display: block;

				img {
					object-fit: cover;
					display: block;
					min-height: 100%;
					width: 100%;
				}

				@include media($md) {
					height: 317px;
				}

				@include media($sm) {
					height: auto;
				}
			}

			&-1 {
				max-width: 870px;
				width: 100%;
				margin-right: 60px;

				@include media($md) {
					max-width: 656px;
					margin-right: 40px;
				}

				@include media($sm) {
					margin-right: 0;
					margin-bottom: 40px;
					max-width: 100%;
					width: 100%;
				}

				@include media($xs) {
					margin-bottom: 16px;
				}
			}

			&-2 {
				max-width: 560px;
				width: 100%;

				@include media($md) {
					max-width: 421px;
				}

				@include media($sm) {
					max-width: 100%;
					width: 100%;
				}

				#location_map {
					max-width: 100%;
					width: 100%;
					height: 420px;

					@include media($md) {
						height: 317px;
					}

					@include media($sm) {
						height: 455px;
					}

					@include media($xs) {
						height: 191px;
					}
				}
			}
		}

		&__wrapper {
			max-width: 1490px;
		}
	}

	// &--call-back & {
	// 	&__wrapper {
	// 		padding: 48px;
	// 		max-width: 640px;
	// 	}

	// 	&__title {
	// 		margin-bottom: 20px;
	// 	}

	// 	&__form {
	// 		max-width: 100%;
	// 	}

	// 	@include media($xs) {
	// 		&__wrapper {
	// 			padding: 20px 28px 28px;
	// 		}

	// 		&__title {
	// 			margin-bottom: 16px;
	// 			font-size: 18px;
	// 		}
	// 		&__input {
	// 			margin-bottom: 16px;
	// 		}

	// 		&__buttons {
	// 			margin-top: 16px;
	// 			.btn {
	// 				width: 100%;
	// 			}
	// 		}
	// 	}
	// }
}