include ../form-block/template

mixin popup(data)
	.popup&attributes(attributes)
		._overflow.js-popup-hide
		._wrapper
			a._close.js-popup-hide
				+svg('close')
			block
include ../search-block/template
mixin popupLacationList(data)
	+popup().popup--location-list#popup-location-list
		._search
			+searchBlock({
				placeholder: 'Введите название'
			})
		._subtitle или выберите из списка:

		._list
			._list-wrap
				._items
					a(href="#")._litem Россия
					a(href="#")._item Республика Беларусь
					a(href="#")._item Республика Казахстан
					a(href="#")._item Республика Таджикистан
					a(href="#")._item Украина
					a(href="#")._item Республика Молдова
					a(href="#")._item Кыргызская Республика

				._items
					h4._list-title Россия
					a(href="#")._item Москва
					a(href="#")._item Санкт-Петербург

				._items
					h4._letter А
					a(href="#")._item Абакан
					a(href="#")._item Азов
					a(href="#")._item Александров
					a(href="#")._item Алексин
					a(href="#")._item Альметьевск
					a(href="#")._item Анапа
					a(href="#")._item Ангарск
					a(href="#")._item Анжеро-Судженск
					a(href="#")._item Алматы
					a(href="#")._item Альметьевск
					a(href="#")._item Альметьевск
					a(href="#")._item Альметьевск
				
				._items
					h4._letter А
					a(href="#")._item Абакан
					a(href="#")._item Азов
					a(href="#")._item Александров
					a(href="#")._item Алексин
					a(href="#")._item Альметьевск
					a(href="#")._item Анапа
					a(href="#")._item Ангарск
					a(href="#")._item Анжеро-Судженск
					a(href="#")._item Алматы
					a(href="#")._item Альметьевск
					a(href="#")._item Альметьевск
					a(href="#")._item Альметьевск

mixin popupModel(data)
	+popup().popup--model#popup-model
		._item
			._text Профиль BRUSBOX 60-4
			._icon
				+svg("download")
		._item
			._text Профиль BRUSBOX 70-6
			._icon
				+svg("download")
		._item
			._text Профиль BRUSBOX AERO
			._icon
				+svg("download")
		._button
			a(href="#").btn Скачать все


mixin popupLogin(data)
	+popup().popup--login#popup-login
		+formBlockLogin()


mixin popupLacation(data)
	+popup().popup--location#popup-location
		._title Ваш город <span>Нижний Новгород</span>?
		._buttons
			a.btn(href="#").btn.js-popup-hide Да
			a.btn(href="#popup-location-list").js-popup-show.btn Нет


mixin popupRequest(data)
	+popup().popup--request#popup-request
		._row
			._img
				img(src="./images/popup-request-img.jpg", alt="")
			._form
				+formBlockRequest()
				._send.js-send-request
					h4._send-title Заявка отправлена!
					._send-subtitle Наш менеджер свяжется с вами<br> в ближайшее время

mixin popupMap(data)
	+popup().popup--map#popup-map
		._row
			._img-1
				img(src="images/map-popup-img-1.png", alt="")
			._img-2
				#location_map
		._text Проезд общественным транспортом от станции метро Кунцевская:<br>маршрутное такси № 575 или автобус № 610 — до остановки «Рябиновая, 45».<br> Здание бизнес центра West Plaza.<br> *Внимание! Для входа в бизнес центр необходимо предъявить документы!
		._links
			a(href="#")._link 
				span Скачать карту проезда
				._link-icon
					+svg('download')
			a(href="#")._link
				span Построить маршрут в навигаторе
				._link-icon
					+svg('link-arrow')




//---------------------------------------------------------------------все что ниже можно удалить по оконячанию разработки