.param-block {
	&__item {
		display: flex;
		border-bottom: 1px solid #E1E1E1;
		justify-content: space-between;
		align-items: stretch;
		margin-bottom: 12px;
		max-width: 872px;

		&:last-child{ margin-bottom: 0; border: 0; }
	}

	&__label,
	&__value {
		padding-bottom: 8px;
		font: 300 18px/1.4 $baseFF;
	}
	&__value {
		font-weight: 400;
		flex: 1 1 auto;
		text-align: right;
	}
	&--buyers &{
		&__title{
			margin-bottom: 8px;
		}
		&__value, &__label{
			padding-bottom: 4px;
			span{
				text-transform: uppercase;
			}
		}
		&__item{
			margin-bottom: 4px;
		}
	}
	&--padding{
		padding: 40px 0px;
	}
}