.param-block {
	&__item {
		display: flex;
		border-bottom: 1px solid rgba(225, 225, 225, 1);
		justify-content: space-between;
		margin-bottom: 20px;
		max-width: 872px;
	}

	&__label,
	&__value {
		padding-bottom: 8px;
	}
	&__value {
		font-weight: 400;
	}
}