.param-block {
	&__row {
		@include flex(space-between, center, center, nowrap);
		background-color: $gray-bridge;
	}

	&__info {
		max-width: 736px;
		margin: 0 auto;
		padding: 0 24px;
	}

	&__title {}

	&__text {
		font: $fs-p1;
	}

	&__img {
		max-width: 50%;
		width: 100%;

		// min-height: 600px;
		img {
			display: block;
		}
	}

	&--row-revers & {
		&__row {
			flex-direction: row-reverse;
		}
	}

	&--gray & {
		&__row {
			background-color: $medium-gray;
			color: $white;
		}
	}

	&--text-sm & {
		&__info {
			max-width: 100%;
			margin: 0;
			padding: 0 215px 0 112px;
		}

		&__text {
			max-width: 633px;
		}
	}

	&--center & {
		&__info {
			padding: 112px 560px 112px;
			max-width: 100%;
		}
	}

	// &--center & {
	// 	&__title {
	// 		// padding-bottom: 0px;
	// 		// padding-top: 20px;
	// 	}

	// 	&__info {
	// 		max-width: 100%;
	// 		padding: 80px 112px 20px 112px;
	// 	}
	// }

	// &__img img{
	// 	width: 100%;
	// }
	&--white & {
		&__row {
			background-color: transparent;
		}
	}
}