include ../info-section/template
mixin ParamBlock7(data)
	.param-block.param-block--param.param-block--row-revers&attributes(attributes)
		._row
			include ../info-section/template
			+infoSection({
				items: data.list
			})._list
			._img
				img(src=data.img, alt="")


mixin ParamBlock5(data)
	.param-block.param-block--param.param-block--center.param-block--white&attributes(attributes)
		._info
			._param
				include ../info-section/template
				+infoSection({
				items: data.list
			})

mixin ParamBlock(data)
	.param-block.param-block--param&attributes(attributes)
		._row
			include ../info-section/template
			+infoSection({
				items: data.list
			})._list
			._img
				img(src=data.img, alt="")

mixin ParamBlock1(data)
	.param-block&attributes(attributes)
		+infoSection({
			items: data.list
		})._list
		._item
			._label
				!=data.label
			._value 
				!=data.value
