mixin paramBlock(data)
	.param-block&attributes(attributes)
		each list in data.list
			if list.title
				h5._title
					!=list.title
			._item
				if list.label
					._label
						!=list.label
				if list.value
					._value
						!=list.value
