mixin productBlock(data)
	.product-block&attributes(attributes)
		._row
			._slider.js-slider-product
				each slide in data.slides
					._slide
						+webp(slide.img)._img
			._info
				h4._title
					!=data.title
				p._text
					!=data.text
				._params
					!=data.params