mixin cartSubcribeBlock(data)
	.cart-subcribe-block&attributes(attributes)
		a(href="#")._link
			+svg('arrow-left')._icon
			span Назад
		._subscribe
			._subscribe-title Поделиться:

			include ../soc-list/template
			+socListSubscribe()._soc-list