mixin cartSubcribeBlock(data)
	.cart-subcribe-block&attributes(attributes)
		include ../about-cart-block/template
		+aboutCartBlock()._top 
		._bottom
			a(href="#")._link
				+svg('arrow-left')._icon
				span Назад
			._subscribe
				._subscribe-title Поделиться:

				include ../soc-list/template
				+socListSubscribe()._soc-list

mixin cartSubcribeBlockArticle(data)
	.cart-subcribe-block.--article&attributes(attributes)
		include ../about-cart-block/template
		+aboutCartBlock()._about-cart.about-cart-block--mode
		._subscribe
			._subscribe-title Поделиться:

			include ../soc-list/template
			+socListSubscribe()._soc-list