.buyers-product-section {
	&--padding-top {
		padding: 112px 0px 60px;

		@include media($xs) {
			padding: 40px 0px;
		}
	}

	&--padding-md {
		padding: 112px 0 60px;

		@include media($md) {
			padding: 64px 0 60px;
		}

		@include media($sm) {
			padding: 40px 0 70px;
		}

		@include media($xs) {
			padding: 40px 0 0px;
		}
	}

	&--main & {
		&__row {
			@include flex(0);
			flex-wrap: nowrap;

			@include media($sm) {
				display: block;
			}
		}

		&__left {
			@include media($sm) {
				padding-bottom: 40px;
			}

			max-width: 559px;
			margin: 0 auto;
			width: 100%;
		}

		&__link {
			text-align: center;

			svg {
				margin-right: 8px;

				@include media($md) {
					max-width: 32px;
				}
			}
		}

		&__right {
			max-width: 100%;
			width: 100%;
			padding-left: 61px;

			@include media($lg) {
				margin-right: 0;
			}

			@include media($sm) {
				max-width: 100%;
				justify-content: center;
				padding: 0;
			}

			@include media($xs) {
				max-width: 100%;
				justify-content: space-between;
				padding: 0;
				margin-top: 40px;
			}
		}

		img {
			margin: 0 auto;
		}

		.btn {
			margin-right: 15px;
			
			@include media($md) {
				margin-right: 9px;
			}
		}
	}

	&__title {
		text-align: center;
		margin-bottom: 40px;
		padding-top: 100px;
	}

	&__title--gray {
		color: #B9B9B9;
		text-align: center;
		margin-bottom: 40px;
	}


	.btn {
		margin-right: 24px;
		cursor: pointer;

		@include media($xs) {
			span {
				display: none;
			}

			svg {
				width: 18px;
				margin-right: 0px;
			}

			margin-right: 16px;
			width: 32px;
		}

	}

	.btn-list {
		@include media($xs) {
			text-align: center;
		}
	}

	svg {
		font-size: 1.3rem;
		width: 1em;
	}
	.btn--icon img, .btn--icon svg {
		width: 24px;
		height: 24px;
	}
}
.buyers-product{
	&__gray {
		background: #F1F1F1;
	}
	hr{
		width: auto;
	}
	h2{
		@include media($xlg) {
			font: 300 32px/32px $baseFF;
		}

		@include media($sm) {
			font: 300 32px/32px $baseFF;
		}

		@include media($xs) {
			font: 300 24px/26px $baseFF;
		}
	}

	.btn{
		font-size: 13px;
	}
}