include ../question-block/template

mixin questionsSection(data)
	.questions-section&attributes(attributes)
		._container.container
			._items
				+questionBlock({
					img: 'images/question-2.jpg',
					title: 'Какие цветовые решения возможны?',
					text: '<p>Как вы понимаете, при палитре в 96 цвета, вы можете подобрать дизайн окна на любой вкус, для любого интерьера. Мода на цвета меняется от сезона к сезону и в разных регионах предпочтения могут отдавать различным цветам.</p> <p>Ламинированный профиль может быть не только однородного цвета, но и в точности имитировать фактуру, цвет дерева или металла. Также не забывайте, что профиль может быть двухцветным – один цвета для интерьера, другой – для экстерьера. Для жителей многоэтажек это не столь актуально, а вот владельцам загородных домов это дает большие возможности для создания оригинального стиля своего жилища.</p> <p>Различные комбинации цвета профиля и ламинационной пленки позволяют сделать каждое помещение непохожим на другие, сохраняя предусмотренный архитектурным проектом цвет фасада.<br> Выражайте свой вкус, создавая стильные и интересные интерьеры – выбирайте лучшее!</p>'
				})._item
				+questionBlock({
					img: 'images/question-1.jpg',
					title: 'Насколько надёжны и долговечны окна с ламинированным профилем? ',
					text: '<p>Компания «БРУСБОКС» использует только высококачественные материалы, поэтому профиль ламинируется только лучшей немецкой пленкой фирмы «RENOLIT». Пленка имеет высокую сопротивляемость к внешнему воздействию и ей не страшны влажность, осадки, солнце, ультрафиолетовое излучение. А благодаря немецкому клею фирмы «Kleiberit», применяемому при ламинации, пленка не отслаивается даже в самых суровых климатических условиях. </p>'
				})._item.question-block--row-revers

mixin questionsSection2(data)
	.questions-section&attributes(attributes)
		._container.container
			._items
				+questionBlockMode({
					img: 'images/question-3.jpg',
					title: 'А как всё начиналось?',
					text: '<p>Чуть более 20 лет назад отечественный оконный рынок находился во власти иностранных, в основном немецких, производителей, которые в условиях большого спроса чувствовали себя здесь очень комфортно и постепенно начинали переводить свои производства на российские просторы. <br>Отечественные производители только начинали появляться, но, конечно, даже близко не могли конкурировать с лидерами рынка. При огромных темпах роста иностранных компаний было сложно предположить, что российские профили когда-нибудь смогут, если не потеснить их, то хотя бы составить достойную конкуренцию.</p>'
				})._item.question-block--row-revers

mixin questionsSection3(data)
	.questions-section&attributes(attributes)
		._container.container
			._items
				+questionBlockMode({
					img: 'images/question-4.jpg',
					title: '',
					text: '<p>Переломным моментом можно считать 2004 год, когда на рынок вышла молодая, яркая компания BRUSBOX с четкой и ясной миссией – дать рынку качественный профиль по доступной цене. Даже в само название бренда учредители  заложили эту идею. BRUSBOX или BEST RUSSIAN BOX – «лучшая русская рама» – отечественный продукт высокого качества, созданный в России и для России. Мы верим, что сильная энергетика имени сыграла не последнюю роль в успешном развитии бренда.</p>'
				})._item.question-block--gray