.question-block {
	width: 20px;
	height: 20px;
	margin-left: 6px;
	position: relative;

	&:hover {
		.question-block__answer {
			transition: all 0.3s;
			opacity: 1;
			z-index: 10;
		}
	}

	&__icon {
		svg {
			width: 20px;
			height: 20px;
			stroke: #b9b9b9;
		}
	}

	&__answer {
		font: 400 14px/16px $baseFF;
		max-width: 200px;
		width: max-content;
		opacity: 0;
		transition: all 0.3s;
		z-index: -10;
		position: absolute;
		top: 10px;
		// left: 100%;
		display: block;
		background-color: $gray-bridge;
		border-radius: 5px;
		padding: 5px 10px;

		@include media($md) {
			top: 25px;
			left: -200px;
			min-width: 200px;
			font: 400 14px/14px $baseFF;
		}

		@include media($sm) {
			top: 25px;
			left: -150px;
			max-width: 150px;
			font: 400 12px/14px $baseFF;
		}

		@include media($xs) {
			max-width: 110px;
			min-width: auto;
			left: auto;
			right: -10px;
			top: 25px;
			font: 400 11px/13px $baseFF;
		}
	}

	&--bg-white & {
		&__answer {
			border: 1px solid #f1f1f1;
			font: 300 16px/20px $baseFF;
			max-width: 300px;
			width: max-content;
			opacity: 0;
			transition: all 0.3s;
			z-index: -10;
			position: absolute;
			top: -110px;
			right: 500%;
			display: block;
			background-color: #fff;
			border-radius: 5px;
			padding: 5px 30px;
		}
		&__img{
			background-color: #f1f1f1;
			border: 1px solid transparent;
			color: #b9b9b9;
			margin: 20px auto;
			overflow: hidden;
		}
	}

	&--popup {
		width: 20px;
		height: 20px;
		margin-left: 6px;
		position: relative;
	}

	&--popup & {
		&__answer {
			padding: 10px 25px 25px;
		}
	}
}