mixin questionBlock(data)
	.question-block&attributes(attributes)
		._row 
			._info
				h4._title
					!=data.title
				._text
					!=data.text
			._img
				img(src=data.img, alt="")

mixin questionBlockMode(data)
	.question-block&attributes(attributes)
		._row 
			._info
				h3._title
					!=data.title
				._text
					!=data.text
			._img
				img(src=data.img, alt="")

include ../suppliers-block/template
mixin questionBlockSuppliers7(data)
	.question-block.question-block--supliers.question-block--row-revers.question-block--title-height&attributes(attributes)
		._row 
			._info
				h5._title
					!=data.title
				._suppliers
					include ../suppliers-block/template
					+suppliersBlock7()
			._img
				img(src=data.img, alt="")

mixin questionBlockSuppliers5(data)
	.question-block.question-block--supliers.question-block--title-height&attributes(attributes)
		._row 
			._info
				h5._title
					!=data.title
				._suppliers
					include ../suppliers-block/template
					+suppliersBlock5()

mixin questionBlockSuppliers(data)
	.question-block.question-block--supliers.question-block--title-height&attributes(attributes)
		._row 
			._info
				h5._title
					!=data.title
				._suppliers
					include ../suppliers-block/template
					+suppliersBlock()
			._img
				img(src=data.img, alt="")
