mixin accardionBlock(data)
	.accardion-block&attributes(attributes)
		each item in data
			._head.js-accardion-toggle
				._arrow
					+svg('arrow-down')
				._title
					!= item.title
			._body.js-accardion-body
				!= item.text

mixin accardionBlockLocation(data)
	.accardion-block.-location&attributes(attributes)
		each item in data
			._head.js-accardion-toggle
				._arrow
					+svg('arrow-down')
				._title
					!= data.title
			._body.js-accardion-body
				._list
					a(href="#popup-map")._list-title.js-popup-show Показать на карте
					._item
						._item-title Телефон:
						._item-text 
							a(href="tel:+79852229799")
								span +7(985) 222-97-99
							span._decor-line |
							a(href="tel:+79852229798")
								span +7(985) 222-97-98
					._item
						._item-title Сайт:
						a(href="http://vdomokna.ru" target="_blank")._item-text vdomokna.ru
					._item
						._item-title Email:
						a(href="mailto:OVD@vdomokna.ru")._item-text OVD@vdomokna.ru

mixin accardionBlockDilers(data)
	.accardion-block.-dilers&attributes(attributes)
		each item in data
			._head.accardion-block__head--revers.js-accardion-toggle
				._arrow
					+svg('arrow-down')
				._title
					!= data.title
			._body.accardion-block__body--bg.js-accardion-body
				+accardionBlockLocation({
					title: 'с. Сакмара, ул. Советская, д. 22'
				})
				+accardionBlockLocation({
					title: 'ул. Первая, д. 10'
				})
				+accardionBlockLocation({
					title: 'ул. Вторая, д. 43'
				})



mixin accardionBlockNavigation1(data)
	.accardion-block.-navigation&attributes(attributes)
		._head.accardion-block__head--padding.js-accardion-toggle
			._arrow
				+svg('arrow-down')
			._title.accardion-block__title--bold Покупателям окон
		._body.js-accardion-body
			.accardion-block
				._head.js-accardion-toggle
					._arrow
						+svg('arrow-down')
					._title Продукция
				._body.js-accardion-body
					.accardion-block
						._head.js-accardion-toggle
							._arrow
								+svg('arrow-down')
							._title Пластиковые окна
						._body.js-accardion-body
							._links
								a(href="#")._link BRUSBOX SUPER AERO
								a(href="#")._link BRUSBOX ACLASS
								a(href="#")._link BRUSBOX AERO
								a(href="#")._link BRUSBOX 70-6
								a(href="#")._link BRUSBOX 60-4
								a(href="#")._link Раздвижные системы GLIDE
								a(href="#")._link Цветные пластиковые окна
								a(href="#")._link Нестандартные пластиковые окна
								a(href="#")._link Фигурные пластиковые окна

					.accardion-block
						._head.js-accardion-toggle
							._arrow
								+svg('arrow-down')
							._title Пластиковые двери
						._body.js-accardion-body
							._links
								a(href="#")._link Входные двери
								a(href="#")._link Балконные двери
								a(href="#")._link Межкомнатные двери
					
					.accardion-block
						._head.js-accardion-toggle
							._arrow
								+svg('arrow-down')
							._title Подоконники
						._body.js-accardion-body
							._links
								a(href="#")._link Подоконник BRUSBOX Стандарт
								a(href="#")._link Подоконник BRUSBOX AERO
								a(href="#")._link Соединители подоконника
								a(href="#")._link Заглушки на подоконник

mixin accardionBlockNavigation2(data)
	.accardion-block.-navigation&attributes(attributes)
		._head.accardion-block__head--padding.js-accardion-toggle
			._arrow
				+svg('arrow-down')
			._title.accardion-block__title--bold Профессионалам рынка
		._body.js-accardion-body
			.accardion-block
				._head.js-accardion-toggle
					._arrow
						+svg('arrow-down')
					._title Продукция
				._body.js-accardion-body
					.accardion-block
						._head.js-accardion-toggle
							._arrow
								+svg('arrow-down')
							._title Пластиковые окна
						._body.js-accardion-body
							._links
								a(href="#")._link BRUSBOX SUPER AERO
								a(href="#")._link BRUSBOX ACLASS
								a(href="#")._link BRUSBOX AERO
								a(href="#")._link BRUSBOX 70-6
								a(href="#")._link BRUSBOX 60-4
								a(href="#")._link Раздвижные системы GLIDE
								a(href="#")._link Цветные пластиковые окна
								a(href="#")._link Нестандартные пластиковые окна
								a(href="#")._link Фигурные пластиковые окна

					.accardion-block
						._head.js-accardion-toggle
							._arrow
								+svg('arrow-down')
							._title Пластиковые двери
						._body.js-accardion-body
							._links
								a(href="#")._link Входные двери
								a(href="#")._link Балконные двери
								a(href="#")._link Межкомнатные двери
					
					.accardion-block
						._head.js-accardion-toggle
							._arrow
								+svg('arrow-down')
							._title Подоконники
						._body.js-accardion-body
							._links
								a(href="#")._link Подоконник BRUSBOX Стандарт
								a(href="#")._link Подоконник BRUSBOX AERO
								a(href="#")._link Соединители подоконника
								a(href="#")._link Заглушки на подоконник

mixin accardionBlockNavigation3(data)
	.accardion-block.-navigation&attributes(attributes)
		._head.accardion-block__head--padding.js-accardion-toggle
			._arrow
				+svg('arrow-down')
			._title.accardion-block__title--bold Архитекторам и дизайнерам
		._body.js-accardion-body
			.accardion-block
				._head.js-accardion-toggle
					._arrow
						+svg('arrow-down')
					._title Продукция
				._body.js-accardion-body
					.accardion-block
						._head.js-accardion-toggle
							._arrow
								+svg('arrow-down')
							._title Пластиковые окна
						._body.js-accardion-body
							._links
								a(href="#")._link BRUSBOX SUPER AERO
								a(href="#")._link BRUSBOX ACLASS
								a(href="#")._link BRUSBOX AERO
								a(href="#")._link BRUSBOX 70-6
								a(href="#")._link BRUSBOX 60-4
								a(href="#")._link Раздвижные системы GLIDE
								a(href="#")._link Цветные пластиковые окна
								a(href="#")._link Нестандартные пластиковые окна
								a(href="#")._link Фигурные пластиковые окна

					.accardion-block
						._head.js-accardion-toggle
							._arrow
								+svg('arrow-down')
							._title Пластиковые двери
						._body.js-accardion-body
							._links
								a(href="#")._link Входные двери
								a(href="#")._link Балконные двери
								a(href="#")._link Межкомнатные двери
					
					.accardion-block
						._head.js-accardion-toggle
							._arrow
								+svg('arrow-down')
							._title Подоконники
						._body.js-accardion-body
							._links
								a(href="#")._link Подоконник BRUSBOX Стандарт
								a(href="#")._link Подоконник BRUSBOX AERO
								a(href="#")._link Соединители подоконника
								a(href="#")._link Заглушки на подоконник