include ../icon-inline/template
include ../menu-block/template
include ../search-block/template
include ../soc-list/template
include ../burger/template

mixin header(data)
	header.header&attributes(attributes)
		._body
			._container.container
				._wrapper
					._top
						a._logo(href="/")
							img(src='/images/logo.svg' alt='brusbox')

						._items
							+menuBlockNav()._nav

							._contacts
								+iconInlineLocation({
									icon: 'marker',
									text: 'Нижний Новгород'
								})._contacts-item.header__contacts-item--location.icon-inline--location

								+iconInline({
									icon: 'user',
									text: 'Личный кабинет'
								})._contacts-item.icon-inline--login

								+iconInline({
									icon: 'phone',
									text: '8 (800) 777-55-33'
								})._contacts-item.icon-inline--phone

								+socListHeader()._soc

								a(href="#")._login Личный кабинет

								+searchBlockHeader({
									placeholder: "поиск по сайту"
								})._search

							+burger()._burger

					._bottom
						._menu
							+menuBlock()
						+iconInlineLocation({
							icon: 'marker',
							text: 'Нижний Новгород'
						})._contacts-item.header__contacts-item--location.header__contacts-item--sm
						
						+searchBlockHeader({
							placeholder: "поиск по сайту"
						})._search--sm

mixin header2(data)
	header.header.--mode2&attributes(attributes)
		._body
			._container.container
				._wrapper
					._top
						a._logo(href="/")
							img(src='/images/logo.svg' alt='brusbox')

						._items
							+menuBlockNav()._nav

							._contacts
								+iconInlineLocation({
									icon: 'marker',
									text: 'Нижний Новгород'
								})._contacts-item.header__contacts-item--location.icon-inline--location

								a(href="#popup-request")._link.js-popup-show Заказать замер

								+iconInline({
									icon: 'phone',
									text: '8 (800) 777-55-33'
								})._contacts-item.icon-inline--phone

								+socListHeader()._soc

								+searchBlockHeader({
									placeholder: "поиск по сайту"
								})._search

							+burger()._burger

					._bottom
						._menu
							+menuBlock()
						a(href="#popup-location-list")._contact-link.js-popup-show
							+iconInlineLocation({
								icon: 'marker',
								text: 'Нижний Новгород'
							})._contacts-item.header__contacts-item--location.header__contacts-item--sm
						
						+searchBlockHeader({
							placeholder: "поиск по сайту"
						})._search--sm