.show-text-block {
	@include flex(space-between,center,center,0);

	&__title {
		color: $btn-red;
		font-weight: 400;
	}
	&__icon {
		transition: all 0.3s;
		svg {
			fill: $btn-red;
			stroke: red;

			@include media ($md) {
				width: 15px;
				height: 15px;
			}

			@include media ($sm) {
				width: 22px;
				height: 22px;
			}

			@include media ($xs) {
				width: 20px;
				height: 20px;
			}
		}

		@include media ($md) {
			width: 15px;
			height: 15px;
		}

		@include media ($sm) {
			width: 22px;
			height: 22px;
		}

		@include media ($xs) {
			width: 20px;
			height: 20px;
		}
		

		&.is-active {
			transition: all 0.3s;
			transform: rotate(180deg);
		}
	}
}