include ../palette-block/template

mixin colorsSection(data)
	.colors-section&attributes(attributes)
		._container.container
			._row.row
				._left.col-4.col-sm-12
					._palettes
						+paletteBlock()._palette
						+paletteBlockSmall()._palette
				._right.col-8.col-sm-12
					._right-img-1.js-pallette-chenge
						img(src="images/color-sol-2.png", alt="")
						img(src="images/color-sol-1.png", alt="").is-active
					._right-img-2.js-pallette-profile-chenge
						img(src="images/color-sol-second-img-1.png", alt="")
						img(src="images/color-sol-second-img-2.png", alt="").is-active