.search-block {
	position: relative;
	width: 100%;
	display: block;

	// &__wrapper {
	// 	position: absolute;
	// 	top: -4px;
	// 	right: 0;
	// 	bottom: -4px;
	// 	opacity: 0;
	// 	pointer-events: none;
	// 	@include time();
	// }

	&__input {
		display: block;
		border: 0;
		background: $bg-grey;
		width: 100%;
		padding: 12px 120px 12px 14px;
		color: $black;
		font: 300 18px/25px $baseFF;
		height: 41px;
		width: 100%;
		border-radius: 80px;

		&::placeholder {
			opacity: 1;
			color: $black;
			font: 300 18px/25px $baseFF;
		}

		&:focus {
			outline: none;
		}
	}

	&__icon {
		width: 16px;
		height: 16px;
		@include flex(center, center, center);
		cursor: pointer;
		position: absolute;
		z-index: 4;
		background: none;
		border: 0;
		right: 17px;
		bottom: calc(50% - 8px);

		svg {
			fill: none;
			stroke: $black;
			width: 16px;
			height: 16px;
			display: block;
		}
	}

	@include media($xs) {
		&__input {
			padding: 5px 90px 5px 36px;
			font: 12px/20px $baseFF;
			height: 32px;
		}
		&__btn {
			padding: 6px 20px;
			font: $button-xs;
			line-height: 20px;
		}
		&__icon {
			padding: 5px 0 5px 12px;
			height: 32px;
		}
	}
}
