include ../action-block/template

mixin actionSection(data)
	.action-section&attributes(attributes)
		._container.container
			if data.title
				h5._title
					!= data.title
			._actions.row
				+actionBlock({
					date: "1 марта — 30 июня",
					img: "images/action-1-black.jpg",
					title: "Окна без монтажа по оптовым ценам!",
					text: "При заказе окон без монтажа действуют оптовые цены на любой объем!"
				}).col-3

				+actionBlock({
					date: "1 марта — 30 июня",
					img: "images/action-2-black.jpg",
					title: "Все поворотно-откидные створки по цене обычных!",
					text: "При заказе остекления все поворотно-откидные створки по цене обычных"
				}).col-3

				+actionBlock({
					date: "1 марта — 30 июня",
					img: "images/action-3-black.jpg",
					title: "Все поворотно-откидные створки по цене обычных!",
					text: "При заказе остекления все поворотно-откидные створки по цене обычных"
				}).col-3

				+actionBlock({
					date: "1 марта — 30 июня",
					img: "images/action-4-black.jpg",
					title: "Больше окон — больше выгода!",
					text: "При заказе остекления все поворотно-откидные створки по цене обычных"
				}).col-3
