.info-section {
	background-color: $gray-bridge;

	&__container {
		max-width: 1920px;
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}

	&__row {
		margin: 0;
		// @include flex(space-between, stretch, stretch, nowrap);
		align-items: center;

		@include media($sm) {
			justify-content: center;
		}
	}

	&__info {
		max-width: 640px;
		margin: 0 auto;
		padding: 50px 24px;
		align-self: center;
	}

	&__title {
		/* padding-bottom: 8px; */
		margin-bottom: 40px;
	}

	&__text {
		font: $fs-p1;
	}

	&__img {
		max-width: 50%;
		width: 100%;
		padding: 0;

		@include media($sm) {
			max-width: 100%;
		}

		// min-height: 600px;
		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&--row-revers & {
		&__row {
			flex-direction: row-reverse;
		}
	}

	&--gray {
		background-color: $medium-gray;
		color: $white;
	}

	&--text-sm & {
		&__info {
			max-width: 100%;
			margin: 0;
			padding: 0 215px 0 112px;
		}

		&__text {
			max-width: 633px;
		}
	}

	&--title-height & {
		&__title {
			// padding-bottom: 0px;
			// padding-top: 20px;
		}

		&__info {
			max-width: 100%;
			padding: 80px 112px 20px 112px;
		}
	}

	&--transparent {
		background-color: transparent;
	}

	// &__img img{
	// 	width: 100%;
	// }

	&--col-center {
		padding: 112px 0;
	}

	&--col-center & {
		&__row {
			justify-content: center;
		}
	}

	&--big-title & {
		&__title {
			font: 300 56px/51px $baseFF;
			margin-bottom: 40px;
		}
	}

	&--long-text & {
		&__info {
			max-width: 715px;
		}
	}

	&--btn & {
		&__button {
			margin-top: 40px;
		}
	}

	&--slider {
		.swiper-button-next,
		.swiper-button-prev {
			position: absolute;
			bottom: 0;
			right: 0;
			left: auto;
			top: auto;
		}

		.swiper-button-next {
			left: calc(50% + 5px);
		}

		.swiper-button-prev {
			right: calc(50% + 5px);
		}

		.swiper-slide-active {
			box-shadow: 0 0 70px $white;
		}
	}

	&--slider {
		padding: 112px 0;
	}

	&--bg-black {
		background-color: $black;
		color: $white;
	}

	&--bg-black & {
		&__img {
			img {
				margin: 0 auto;
				max-width: 614px;
			}
		}
	}

	&--big-title & {
		&__title {
			font: $title-h2;
			margin-bottom: 40px;
		}
	}

	&--small-img & {
		&__img {
			img {
				max-width: 714px;
				width: 100%;
			}
		}
	}

	&--padding-big & {
		&__row {
			padding: 120px 0;
		}
	}

	&--slider & {
		&__row {
		}

		&__slider {
			// overflow: visible;
			padding-bottom: 70px;
			margin: 0;
			position: relative;
			max-width: 714px;

			&-wrap {
				width: 400px;
				height: 400px;
			}
		}

		&__slides {
		}

		&__slide {
			display: flex;
			align-items: center;
			justify-content: center;

			img {
				width: 100%;
			}
		}
	}

	&--title-margin & {
		&__title {
			margin-bottom: 40px;
		}
	}

	&--title-size & {
		&__title {
			font-size: 52px;
			margin-bottom: 24px;
		}
	}

	&--about-company {
		padding: 120px 0px;

		&__title {
			text-align: center;
			margin-bottom: 40px;
		}

		&__item {
			&-img {
				margin-bottom: 16px;
			}
		}
	}

	&--slider-img & {

		&__slide {
			max-height: 600px;
			height: 100%;

			&::after {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				display: block;
				height: 177px;
				background: $headGreadient;
				z-index: 2;
			}
		}

		&__date {
			color: $medium-gray;
			margin-top: 13px;
		}

		&__info {
			align-items: center;
			position: absolute;
			max-width: 736px;
			margin: 0 auto;
			padding: 10px 30px 10px 112px;
		}

		&__text {
			text-align: left;
		}

		&__img {
			display: block;
			height: 100%;
			width: 100%;
		}

		&__prev,
		&__next {
			position: absolute;
			bottom: 35px;
		}

		&__prev {
			right: 867px;
		}

		&__next {
			right: 808px;
		}
	}

	&--slider-img {
		&.info-section--row-revers {
			.info-section__info {
				position: relative;
			}
			.info-section__next {
				right: 16px;
			}
			.info-section__prev {
				right: 72px;
			}
		}
	}

	&--img-half & {
		background: #f1f1f1;

		&__row {
			padding: 72px 0px;
			justify-content: center;
		}

		&__info {
			padding: 0px 0px;
			max-width: 560px;
			margin: 0px 112px 0px 0px;
		}

		&__img {
			max-width: 560px;
		}
	}

	&--bg-black {
		background: #000000;
	}

	&--bg-gray {
		background: #e1e1e1;
	}

	&--big-text & {
		&__info {
			max-width: 738px;
		}

		&__title {
			font-size: 52px;
			margin-bottom: 40px;
		}
	}

	&--small-title & {
		&__title {
			font: $title-h5;
			margin-bottom: 10px;
		}
	}
}
