.param-block{
	&__item{
	display: flex;
	border-bottom: 1px solid rgba(225, 225, 225, 1);
	justify-content: space-between;
	margin-bottom: 12px;
	width: 736px;
	}
	&__label, &__value {
		padding-bottom: 8px;
	}
}