.designers-block {
	&__row {
		border-top: 1px solid $black;
		padding: 30px 0;
		@include flex(0, 0, center, 0);
	}

	&__img {
		max-width: 443px;
		width: 100%;
	}

	&__info {
		margin-left: 60px;
	}

	&__title & {
		&__subtitle {
			font-size: 18px;
			color: #E40032;
			text-transform: initial;
		}
	}

	&__title {
		span {
			text-transform: uppercase;
		}
	}



	&__text {}

	&__param {
		color: #B9B9B9;
		margin-bottom: 16px;
		margin-top: 35px;
		@include flex(flex-start, center, 0, 0, 0);
	}

	&__item {
		margin-right: 21px;
		@include flex(flex-start, center, 0, 0, 0);
	}

	&__item {
		svg {
			width: 24px;
			margin-right: 8px;
		}
	}

	&__button {
		span {
			text-transform: uppercase;
			display: contents;
		}
	}

	@include media($md) {
		&__title & {
			&__subtitle {
				font-size: 14px;
			}
		}
	}

	@include media($sm) {
		position: relative;

		&__title & {
			&__subtitle {
				display: none;
			}
		}

		&__title {
			font: 300 28px/33.6px $baseFF;
			margin-bottom: 4px;
			margin-top: 24px;
		}

		&__row {
			padding: 40px 0;
			border-top: none;
			display: block;

			&:after {
				height: 1px;
				background-color: rgba(0, 0, 0, 1);
				display: block;
				position: absolute;
				content: " ";
				min-width: 100%;
				top: 0;
				left: -40px;
				right: -40px;
			}
		}

		&__info {
			margin-left: 0px;
		}

		&__param {
			display: none;
		}

		&__button {
			margin-top: 24px;
		}

		&__img {
			max-width: 100%;
		}
	}

	@include media($xs) {
		&__title & {
			&__subtitle {
				display: block;
				font-size: 13px;
			}
		}

		&__title {
			font: 300 18px/21.6px $baseFF;
			margin-bottom: 4px;
			margin-top: 24px;
		}

		&__row {
			padding: 17px 0;
			display: block;
			border-top: none;

			&:after {
				height: 1px;
				background-color: rgba(0, 0, 0, 1);
				display: block;
				position: absolute;
				content: " ";
				min-width: 100%;
				top: 0;
				left: -16px;
				right: -16px;

			}
		}

		&__info {
			margin-left: 0px;
		}

		&__param {
			display: flex;
			margin: 16px 0px;
		}

		&__button {
			margin-top: 24px;
		}

		&__item {
			svg {
				width: 16px;
			}
		}

		&__img {
			min-width: 100%;
		}
	}
}