mixin documentBlock(data)
	.document-block&attributes(attributes)
		a(href=data.link)._img.js-fancybox
			+webp(data.img)
		if data.text
			._text
				!=data.text

mixin documentBlockMode(data)
	.document-block.--mode&attributes(attributes)
			a(href=data.link)._img.js-fancybox
				+webp(data.img)
			if data.text
				._text
					!=data.text

mixin documentBlockMarket(data)
	.document-block.--btn.--market&attributes(attributes)
		+webp(data.img)._img
		if data.text
			._text
				!=data.text
		._link
			a(href="#")
				+svg("download")

mixin documentBlockBtn(data)
	.document-block.--btn.--mode&attributes(attributes)
		+webp(data.img)
		if data.btn
			._button
				a(href="#").btn.-border.-red 
					!=data.btn
		if data.text
			._text
				!=data.text
				._link
					a(href="#")
						+svg("download")