mixin documentBlock(data)
	.document-block&attributes(attributes)
		a(href=data.link)._img.js-fancybox
			+webp(data.img)
		if data.text
			._text
				!=data.text

mixin documentBlockMode(data)
	.document-block.--mode&attributes(attributes)
			a(href=data.link)._img.js-fancybox
				+webp(data.img)
			if data.text
				._text
					!=data.text

mixin documentBlockMarket(data)
	.document-block.--btn&attributes(attributes)
		+webp(data.img)._img
		if data.text
			._text
				!=data.text
		._link
			a(href="#")
				+svg("download")

mixin documentBlockBtn(data)
	.document-block.--btn.--btn-list.--max-width&attributes(attributes)
		each item in data.items
			._row.row.col-3.col-sm-12
				+webp(item.img)
				if item.btn
					._button
						a(href="#").btn.-border.-red 
							!=item.btn
				if item.text
					._text
						!=item.text
						._link
							a(href="#")
								+svg("download")

				