mixin documentBlock(data)
	.document-block&attributes(attributes)
		a(href=data.link)._img.js-fancybox
			img(src=data.img, alt="")
		if data.text
			._text
				!=data.text

mixin documentBlockMode(data)
	.document-block.--mode&attributes(attributes)
			a(href=data.link)._img.js-fancybox
				img(src=data.img, alt="")
			if data.text
				._text
					!=data.text