.model-library-block {
	position: relative;

	&__text {
		@include flex(space-between, center, flex-start, 0, 0);
		margin-top: 16px;
		max-width: 100%;
	}

	&__link {
		height: 40px;
		background: #f1f1f1;
		border-radius: 40px;
	}
}