.error-page {
	padding: 40px 0px 120px;
	@include flex(center, center, center, 0, 0);

	@include media($md){
		padding: 64px 0px 108px;
	}

	@include media($sm){
		padding: 40px 0px;
	}

	@include media($xs){
		padding: 32px 0px 60px;
	}
	
	&__row {
		justify-content: space-between;

		@include media($md){
			gap: 60px;
			justify-content: center;
		}

		@include media($sm){
			gap: 0px;
			display: block;
		}
	}

	&:first-child {
		padding-right: 60px;
	}

	&__info {
		max-width: 561px;

		@include media($md){
			max-width: 424px;
		}
		
		@include media($sm){
			max-width: 768px;
		}

		@include media($xs){
			max-width: 320px;
		}

	}

	&__list {
		
		@include media($md){
			margin-bottom: 16px;
			font: 300 18px/21.6px $baseFF;
		}
		
		@include media($sm){
			font: 300 22px/30.8px $baseFF;
		}

		@include media($xs){
			font: 300 10px/11px $baseFF;
		}
		span {
			font-weight: 400;
		}

		li {
			margin-bottom: 12px;
		}
	}

	&__title {
		margin-bottom: 40px;

		@include media($md){
			margin-bottom: 16px;
			font: 300 18px/21.6px $baseFF;
		}
		
		@include media($sm){
			margin-bottom: 40px;
			font: 300 28px/33.6px $baseFF;
		}

		@include media($xs){
			margin-bottom: 8px;
			font: 300 18px/21.6px $baseFF;
		}
	}

	&__text {
		margin-bottom: 16px;
		
		@include media($sm){
			margin-bottom: 40px;
			font: 300 22px/30.8px $baseFF;
		}

		@include media($xs){
			margin-bottom: 16px;
			font: 300 12px/13.2px $baseFF;
		}
	}

	&__img {
		img {
			max-width: 100%;
		}

		@include media($sm){
			margin-top: 40px;
		}

		@include media($xs){
			margin-top: 16px;
		}
	}
}

p {
	margin: 0px 0px 0px!important;
}