include ../cart-subcribe-block/template

mixin articleBlock(data)
	.article-block&attributes(attributes)
		a(href="#")._img
			+webp(data.img)
		a(href="#") 
			h4._title
				!=data.title
		._date 07.09.2020
		._subscribe
			+cartSubcribeBlockArticle()