mixin actionAboutSection(data)
	.action-about-section&attributes(attributes)
		._container.container.container--sm
			h5._title Корпорация «Окна 21 века»
			._items
				._img
					+webp("images/about-action.jpg")
				._contacts
					include ../dilers-block/template
					+dilersBlockAction({
						location: 'dilersBlockAction',
						website: 'oknavdom.ru',
						email: 'oknavdom@mail.com',
						tel1: '+7 (495) 736-67-81',
						tel2: '+7 (495) 736-67-82'
					})
					a(href="#")._contacts-text Посмотреть контакты всех 11 дилерских точек
				._about
					._text При заказе остекления все поворотно-откидные створки по цене обычных! Поворотно-откидные створки более удобны и функциональны и поэтому наиболее популярны при заказе металлопластиковых окон в Москве. Разницу в затратах на производство наша компания берет на себя.
					._about-bottom
						._date Акция действует: 01.02.22 - 31.12.22
						._button
							a(href="#").btn Воспользоваться акцией