.breadcrumbs {
	&__ul {
		@include flex();
		list-style: none;
		margin: 0;
		padding: 0;
	}
	&__li {
		font: 300 14px/15px $baseFF;
		@include media($xs) {
			font: 300 10px/11px $baseFF;
		}
		color: $medium-gray;
		@include flex(0, center, center, nowrap);
		&:after {
			content: "";
			background-image: url("../../images/braedcrumbs-arrow.svg");
			height: 6px;
			width: 6px;
			display: block;
			background-repeat: no-repeat;
			color: $black;
			background-position: center;
			margin: 0 13px;
		}
		a {
			text-decoration: none;
		}

		&:last-child {
			&:after {
				display: none;
			}
			color: $black;
			/* a {
				color: rgba($green, 0.4);
			} */
		}

		@include media($sm) {
			font: 300 10px/11px $baseFF;
		}
	}

	@include media($xs) {
		&__ul {
			flex-wrap: nowrap;
			overflow: auto;
		}
		&__li {
			white-space: nowrap;
		}
	}
}
