
mixin formBlockContacts()
	.form-block.--contacts&attributes(attributes)
		h4._title Обратная связь
		._subtitle Мы с радостью ответим на все ваши вопросы
		form(action="")
			._row
				._inputs
					._input
						input.form-control.js-required(type="text" placeholder="Ваше имя*" required)
					._input
						input.form-control.js-required(type="tel" placeholder="Телeфон*" required)
					._input
						input.form-control.js-required(type="email" placeholder="Email*" required)
					._input
						textarea.form-control.js-required(name="", cols="30", rows="3" placeholder="Сообщение*")
				._agree Нажимая кнопку «Отправить», я подтверждаю свою дееспособность,<br>согласие на обработку персональных данных в соответствии с указанным здесь текстом
				._buttons
					button.btn.-red.js-submit(type="submit") Отправить

mixin formBlockSunscribe()
	.form-block.--subscribe&attributes(attributes)
		h4._title Оформите подписку на новости
		._subtitle Подпишитесь на рассылку, чтобы первыми узнавать об актуальных новостях
		form(action="")
			._row
				._inputs
					._input
						input.form-control.js-required(type="text" placeholder="Ваше имя*" required)
					._input
						input.form-control.js-required(type="email" placeholder="Email*" required)
				._check
					.checkbox
						input.js-required#a1(type="checkbox" name="police" value="1" required)
						label(for="a1") Ознакомлен с <span>политикой конфиденциальности</span>
				._buttons
					button.btn.-red.js-submit(type="submit") Отправить

mixin formBlockSunscribeArticles()
	.form-block.--subscribe&attributes(attributes)
		h4._title Оформить подписку на статьи
		._subtitle Подпишитесь на рассылку, чтобы первыми узнавать об актуальных новостях
		form(action="")
			._row
				._inputs
					._input
						input.form-control.js-required(type="text" placeholder="Ваше имя*" required)
					._input
						input.form-control.js-required(type="email" placeholder="Email*" required)
				._check
					.checkbox
						input.js-required#a1(type="checkbox" name="police" value="1" required)
						label(for="a1") Ознакомлен с <span>политикой конфиденциальности</span>
				._buttons
					button.btn.-red.js-submit(type="submit") Отправить

mixin formBlockContactsOrder()
	.form-block.--order&attributes(attributes)
		h4._title Закажите лучшие окна в BRUSBOX!
		._subtitle Оставьте заявку и наш специалист свяжется с вами для расчета
		form(action="")
			._row
				._inputs
					._input
						input.form-control.js-required(type="text" placeholder="Ваше имя*" required)
					._input
						input.form-control.js-required(type="tel" placeholder="Телeфон*" required)
				._agree Нажимая кнопку «Отправить», я подтверждаю свою дееспособность,<br>согласие на обработку персональных данных в соответствии с указанным здесь текстом
				._buttons
					button.btn.-red.js-submit(type="submit") Отправить

mixin formBlockContactsOrderSubtitle(data)
	.form-block.--order.--subtitle&attributes(attributes)
		h4._title
			!=data.title
		._subtitle
			!=data.subtitle
		form(action="")
			._row
				._inputs
					._input
						input.form-control.js-required(type="text" placeholder="Ваше имя*" required)
					._input
						input.form-control.js-required(type="tel" placeholder="Телeфон*" required)
				._agree
					!=data.agree
				._buttons
					button.btn.-red.js-submit(type="submit") Отправить

mixin formBlockPayRequest()
	.form-block&attributes(attributes)
		h4._title Отправьте заявку на расчёт
		form(action="")
			._row
				._inputs
					._input
						input.form-control.js-required(type="text" placeholder="Ваше имя*" required)
					._input
						input.form-control.js-required(type="tel" placeholder="Телeфон*" required)
				._agree Нажимая кнопку «Отправить», я подтверждаю свою дееспособность, согласие на обработку персональных данных в соответствии с указанным здесь текстом
				._buttons
					button.btn.-red.js-submit(type="submit") Отправить

mixin formBlockWindow1()
	.form-block.--quiz.js-steps-quiz.is-active#quiz-1&attributes(attributes)
		h4._title <div class="form-block__title-left">Шаг <span class="js-steps-quiz-from">1</span> из <span class="js-steps-quiz-to">3</span></div> <span class="form-block__title-right js-steps-quiz-title">Ответьте на несколько вопросов</span> 
		form(action="")
			._body
				._row
					._item
						._item-title Куда планируете устанавливать окна?
						._item-radio
							.radiobox
								input(type="radio" id="a1" name="where" value="Загородный дом" checked)
								label(for="a1") Загородный дом
						._item-radio
							.radiobox
								input(type="radio" id="a2" name="where" value="Квартира")
								label(for="a2") Квартира
						._item-radio
							.radiobox
								input(type="radio" id="a3" name="where" value="Балкон или лоджия")
								label(for="a3") Балкон или лоджия
					
					._item
						._item-title Ваше окно выходит:
						._item-radio
							.radiobox
								input(type="radio" id="b1" name="side" checked value="На солнечную сторону")
								label(for="b1") На солнечную сторону
						._item-radio
							.radiobox
								input(type="radio" id="b2" name="side" value="Улица с автомобильным движением")
								label(for="b2") Улица с автомобильным движением
						._item-radio
							.radiobox
								input(type="radio" id="b3" name="side" value="Шумная улица, аэропорт")
								label(for="b3") Шумная улица, аэропорт
				
				._row
					._item
						._item-title У Вас за окном?
						._item-radio
							.radiobox
								input(type="radio" id="c1" name="noise" checked value="Тихий двор")
								label(for="c1") Тихий двор
						._item-radio
							.radiobox
								input(type="radio" id="c2" name="noise" value="Улица с автомобильным движением")
								label(for="c2") Улица с автомобильным движением
						._item-radio
							.radiobox
								input(type="radio" id="c3" name="noise" value="Шумная улица, аэропорт")
								label(for="c3") Шумная улица, аэропорт
					
					._item
						._item-title У вас есть дети?
						._item-radio
							.radiobox
								input(type="radio" id="d1" name="age" checked value="Нет, или уже взрослые")
								label(for="d1") Нет, или уже взрослые
						._item-radio
							.radiobox
								input(type="radio" id="d2" name="age" value="Есть, младше 7 лет")
								label(for="d2") Есть, младше 7 лет
						._item-radio
							.radiobox
								input(type="radio" id="d3" name="age" value="Есть, старше 7 лет")
								label(for="d3") Есть, старше 7 лет
						._agree *Обращаем Ваше внимание на то, что, согласно ГОСТ РФ, все окна<br> должны быть укомплектованы детским замком.
			._button
				a(href="#" data-step="2" data-current="1").btn.-red.js-steps-quiz-next Далее

mixin formBlockWindow2()
	.form-block.--quiz.--quiz2.js-steps-quiz#quiz-2&attributes(attributes)
		h4._title <div class="form-block__title-left">Шаг <span class="js-steps-quiz-from">2</span> из <span class="js-steps-quiz-to">3</span></div> <span class="form-block__title-right js-steps-quiz-title">... и последний вопрос</span> 
		form(action="")
			._body
				._row
					._item
						._item-title По дизайну окна планируются:
						._item-radio
							.radiobox
								input(type="radio" id="e1" name="color" value="Классические белые" checked)
								label(for="e1") Классические белые
						._item-radio
							.radiobox
								input(type="radio" id="e2" name="color" value="«Под дерево» или цветные")
								label(for="e2") «Под дерево» или цветные
						._item-radio
							.radiobox
								input(type="radio" id="e3" name="color" value="Нестандартной формы (круглые, арочные, треугольные)")
								label(for="e3") Нестандартной формы (круглые, арочные, треугольные)
						._agree *Обращаем Ваше внимание на то, что, согласно ГОСТ РФ, все окна<br> должны быть укомплектованы детским замком.
					._item
						._item-title Ваши ответы:
						ul._item-list
							li._item-answer Загородный дом
							li._item-answer На теневую сторону
							li._item-answer Улица с автомобильным движением
							li._item-answer Есть, младше 7 лет
							li._item-answer «Под дерево» или цветные
			._buttons
				a(href="#" data-step="1" data-current="2").btn.-border.js-steps-quiz-next Назад
				a(href="#" data-step="3" data-current="2").btn.js-steps-quiz-next Далее

mixin formBlockWindow3()
	.form-block.--quiz.--quiz3.js-steps-quiz#quiz-3&attributes(attributes)
		h4._title <div class="form-block__title-left">Шаг <span class="js-steps-quiz-from">3</span> из <span class="js-steps-quiz-to">3</span></div> <span class="form-block__title-right js-steps-quiz-title">Рекомендуемое решение</span> 
		form(action="")
			._body
				._row
					._item
						include ../options-block/template
						+optionsBlock()
					._item
						h4._title Отправьте заявку на расчёт
						._inputs
							._input
								input.form-control.js-required(type="text" placeholder="Ваше имя*" required)
							._input
								input.form-control.js-required(type="tel" placeholder="Телeфон*" required)
						._agree Нажимая кнопку «Отправить», я подтверждаю свою дееспособность, согласие на обработку персональных данных в соответствии с указанным здесь текстом
						._buttons
							._button-close
								a(href="#" data-step="2" data-current="3").btn.-border.js-steps-quiz-next Назад
							button.btn.-red.js-steps-quiz-submit(type="submit") Отправить

			._button(data-step="1")
				a(href="#" data-step="2" data-current="3").btn.-border.js-prev-btn Назад

mixin formBlockWindow4()
	.form-block.--thanks.js-steps-quiz#quiz-4&attributes(attributes)
		h4._title Благодарим вас за заявку!
		._subtitle В ближайшее время наш менеджер свяжется<br> с вами для точного расчёта необходимого окна.<br> Ожидайте, пожалуйста.