.suppliers_block{
	&__item{
	display: flex;
	border-bottom: 1px solid rgba(225, 225, 225, 1);
	justify-content: space-between;
	margin-bottom: 12px;
	width: 736px;
	}
	&__title, &__text {
		padding-bottom: 8px;
	}
}
.suppliers_block{
	margin-bottom: 112px;
}