mixin suppliersBlock7(data)
	.suppliers_block&attributes(attributes)
		.item
			._title Мел
			._text ООО «ОМИА»
		.item
			._title Диоксид титана
			._text ООО «ДюПон Наука и Технология»
		.item
			._title Модификатор ударопрочности
			._text «Arkema France»
		.item
			._title Стабилизатор
			._text «ELNOVA Handelsgesellschaft GmbH»
		.item
			._title Древесина для паллет
			._text ООО «33 Дуба»
		.item
			._title Пленка для ламинации оконного профиля
			._text ООО «Ренолит»
		.item 
			._title ПВХ
			._text ОАО «Саянскхимпласт»

mixin suppliersBlock5(data)
	.suppliers_block&attributes(attributes)
		.item
			._title Экструзионное оборудование
			._text «KraussMaffei Technologies GmbH»
		.item
			._title Экструзионный инструмент
			._text «Greiner Extrusion GmbH»
		.item
			._title Холодильные устройства
			._text «Gessner Kalte-Klima-Service GmbH»
		.item
			._title Дробильные установки
			._text «AMIS Maschinen-Vertriebs GmbH»
		.item
			._title Станция смешения и подачи сырья
			._text «Zeppelin Reimelt GmbH»			
		
		

mixin suppliersBlock(data)
	.suppliers_block&attributes(attributes)
		.item
			._title Резиновые уплотнители
			._text «Semperit Gummiwerk Deggendorf GmbH»

						
