.certificates-section {
	padding: 112px 0px 60px 0px;
	&__title {
		text-align: center;
		margin-bottom: 60px
	}
	&__row {
		justify-content: space-between;
		margin: 0px 107px;
		align-items: center;
	}
	&__row-center	{
		justify-content: center;
		margin: 0px 107px;
	}	
}
.certificates-section:nth-child(odd){
	background: #f1f1f1;
}