
mixin dilerAboutSection(data)
	.diler-about-section&attributes(attributes)
		._row.row
			._col.col-8.col-sm-12
				._head
					img(src="images/about-action.jpg", alt="")._logo

					._info
						._contacts
							._contact <span>Адрес: </span> <a href="https://goo.gl/maps/KRJa2dZNBzCkSGz36">ул. Снежная, д 16 к 1 </a>
							._contact <span>Телефон: </span> <div class="diler-about-section__numbers"> <a href="tel:+79852229799">+7(985) 222-97-99</a> <span class="diler-about-section__numbers-decor">|</span> <a href="tel:+79852229798">+7(985) 222-97-98</a> </div>
							._contact <span>Сайт: </span> <a hre="https://vdomokna.ru"></a>vdomokna.ru
							._contact <span>Email: </span> <a href="mailto:OVD@vdomokna.ru">OVD@vdomokna.ru</a>
						._additionsl Посмотреть контакты всех 11 дилерских точек

				._text ООО «Окна в дом» — один из первых производителей пластиковых окон Москвы и Московской области. Ставка на максимальное удовлетворение запросов и пожеланий клиентов обеспечивает достижение высоких результатов. ООО «Окна в дом» с 1998 года выпускает серийную продукцию и стеклопакеты по индивидуальному заказу любой сложности и конфигурации.

			._col.col-4.col-sm-12
				._slider.js-img-slider
					._slide
						img(src="images/slider-img-1.jpg", alt="")
					._slide
						img(src="images/slider-img-1.jpg", alt="")
					._slide
						img(src="images/slider-img-1.jpg", alt="")