mixin cookieBlock(data)
	.cookie-block.js-acept-cookie&attributes(attributes)
		._wrap
			._text Продолжая использовать сайт, вы соглашаетесь с использованием cookies сервисов Яндекс.Метрика и Google Analytics
			._button
				a(href="#").btn.btn--red.js-acept-cookie-btn Понятно