include ../offer-block/template

mixin offerSection(data)
	.offer-section&attributes(attributes)
		._row.row
			+offerBlock({
				img:'images/offer-img.png',
				title: 'BRUSBOX ACLASS',
				subtitle: 'Новая система BRUSBOX ACLASS оптимальна для изготовления<br> оконных конструкций всех основных типов и форм.'
			}).offer-block--border-bottom.col-6.col-md-12

			+offerBlock({
				img:'images/offer-img.png',
				title: 'BRUSBOX ACLASS',
				subtitle: 'Новая система BRUSBOX ACLASS оптимальна для изготовления<br> оконных конструкций всех основных типов и форм.'
			}).offer-block--border-bottom.col-6.col-md-12

			+offerBlock({
				img:'images/offer-img.png',
				title: 'BRUSBOX ACLASS',
				subtitle: 'Новая система BRUSBOX ACLASS оптимальна для изготовления<br> оконных конструкций всех основных типов и форм.'
			}).offer-block--border-bottom.col-6.col-md-12

			+offerBlock({
				img:'images/offer-img.png',
				title: 'BRUSBOX ACLASS',
				subtitle: 'Новая система BRUSBOX ACLASS оптимальна для изготовления<br> оконных конструкций всех основных типов и форм.'
			}).offer-block--border-bottom.col-6.col-md-12

			+offerBlock({
				img:'images/offer-img.png',
				title: 'BRUSBOX ACLASS',
				subtitle: 'Новая система BRUSBOX ACLASS оптимальна для изготовления<br> оконных конструкций всех основных типов и форм.'
			}).col-6.col-md-12